[2021-01-25 01:53] aysko75 opened #13 "graph visualization tool"
Is there any graph visualization tool that can be integrated with AGE?

[2021-01-25 05:57] grv87 commented on #13
@aysko75, [AgensBrowser](https://bitnine.net/downloads-4/agensbrowser-v-1-0/) worked with original AgensGraph version.
I'm not sure on the current status

[2021-01-25 06:15] aysko75 commented on #13
@grv87, thanks for the reply, ... we (at Bitnine) are working on a new visualization tool that can talk to AGE ... what I am curious to know is whether there is any other individual or company who has built some sort of graph visualization application for AGE ...

[2021-01-27 01:46] gorgonzola-oh opened #14 "difference from AgensGraph"
I wonder what AGE is different from AgensGraph

[2021-01-27 08:19] jbiz805 commented on #14
I'd like to squeeze in relating to this topic. Apart from the fact that one is an extension to PostgreSQL and the other is a full graph database based on PostgreSQL, what's unique about AGE?

[2021-01-27 09:17] maddin200 opened #15 "return value out of range"
/src/backend/utils/adt/agtype_util.c line 1536 Non-boolean value returned from function returning bool
static bool equals_agtype_scalar_value(agtype_value *a, agtype_value *b)
{
    if (a->type == b->type)
    {
        switch (a->type)
        {
        case AGTV_NULL:
            return true;
        case AGTV_STRING:
            return length_compare_agtype_string_value(a, b) == 0;
        case

[2021-01-27 18:00] jrgemignani commented on #15
Hi Martin,

I'm assuming this generated an error for you on compile? Which os/compiler
did you use? On our various compiles this does not show up.

As for the issue, in PostgreSQL the *ereport *function causes an exit, so
execution will never reach the return that follows. Some compilers complain
if there isn't a final return in a function, so that is why there is one.
Although, it will never reac

[2021-01-27 18:23] jrgemignani commented on #15
Patch applied

[2021-01-27 18:23] #15 closed

[2021-01-27 18:37] jrgemignani commented on #14
Correct, the main difference is that AGE is an openCypher plugin (extension) to PostgreSQL whereas AgensGraph is openCypher built into a fork of PostgreSQL.

One item that is unique is that, with a fork, you are tied to a specific version of AgensGraph based off of a specific version of PG. Moving AgensGraph from one version of PG to another isn't trivial. Nor is migrating data into AgensGraph fro

[2021-01-28 04:53] #13 closed

[2021-02-08 07:50] vongosling commented on #14
Do we support distributed deployment in the future? Singe node has very limitation.

[2021-02-09 17:31] jrgemignani commented on #14
The goal is to.

Currently, though, we are working on completing the openCypher
implementation.

john

On Sun, Feb 7, 2021 at 11:50 PM von gosling <notifications@github.com>
wrote:

[2021-02-10 06:54] JoshInnis commented on #14
To expand upon John's two posts: Cypher can modify data mid-query, in a single node implementation Postgres's transaction system has held up and this has not proven to be an issue. We need to do more research to confirm this won't be an issue in a distributed deployment.

AgensGraph has always been and will always be a single node database that converts the Cypher graph model into a relational mod

[2021-02-11 03:37] davidfetter opened #20 "OIDs"
These are on their way out in PostgreSQL. Is there something compelling about their use in AGE, and if so, what?

[2021-02-12 18:52] JoshInnis commented on #20
AGE was originally developed using Postgres 11.5. One of our nearest milestones is to make AGE compatible with Postgres 12+. Excluding OIDs from AGE's design will be in no small part of that.

[2021-02-16 23:12] #14 closed

[2021-02-17 17:10] danieldk opened #23 "Version 0.3.0 tag"
I have packaged AGE 0.2.0 in [nixpkgs](https://github.com/NixOS/nixpkgs). I would like to update the package to 0.3.0, but there is no git tag for this version (for GitHub projects, we build based on a release tag), only 0.3.0 release candidate 0 seems to be tagged. Would it be possible to create a tag for the commit corresponding to version 0.3.0?

[2021-02-17 17:35] sshyran opened #24 "Add container multiplatform please..."
Hello, and hi5 to all AGE community!

Please consider adding LXC/Snap and/or Kata as additional containerisation option for AGE project... as many Web Hosts (incl. both of mine) restrict or do not support Docker virtualisation, but freely support other -v methods... due to their Hosting Virtualisation Mechanism...

So please, make AGE happen for low end VPS users. Thanks !

[2021-02-17 17:45] #20 closed

[2021-02-17 19:13] ontologiae opened #26 "Importance of an API"
Hi,

I work on graph database, mainly Neo4j, I'd like to quit, for several years. I'm a strong supporter of PostgreSQL for almost 20 years.
I think your idea to use PostgreSQL to support Cypher is great, but I fear that you'd miss the target for a silly issue.

One of the main advantage of Neo4J is there's an API to create node, relationships and so on by API.
Sometimes, Cypher is not the good ans

[2021-02-18 02:40] aysko75 commented on #26
Appreciate your insights and suggestions ... will start looking into them  :)

[2021-02-20 03:00] JoshInnis commented on #24
Hi Sergii,

Thanks for the input we are looking into your request and determining what the best course of action is from our end.

One quick question: which option would you prefer and why?

I set up a discussion thread in the Apache AGE developer email thread:
https://lists.apache.org/thread.html/r051646aa33c97a78fdf640474ebd67aa9bb333cfc6125be7d99366e9%40%3Cdev.age.apache.org%3E

Also if you wan

[2021-03-02 04:25] emotionbug opened #28 "Parsing failure in extended query protocol"
Hello.

i trying to use AGE with JDBC.

and, i faced failure when Message Flow is extended query mode with CREATE clause.
has any solution with this issue or guide?

cheers.

**failure query**
[code]

**error message**
[code]

**environment**
Docker : sorrell/agensgraph-extension-alpine

Cheers.

reference link : https://www.postgresql.org/docs/12/protocol-flow.html#PROTOCOL-FLOW-EXT-QUERY

[2021-03-02 04:29] gorgonzola-oh opened #29 "main advantage of using AGE"
I've currently implemented graphs (sans vertex properties) in Postgres using Recursive CTEs, without any real issue or restriction.

Is the main advantage of using AGE the query language being specialty focused on graph querying?

In looking at the docs, it seems like the extension is primarily focused on providing functions for interacting with the data. Under the covers, are the data stored as b

[2021-03-02 05:17] DanLindeman commented on #24
@JoshInnis The mailing group email for developers dev-subscribe@age.apache.org I found it [here](https://age.apache.org/#) under `Community / Mailing Lists`. Keep up the great work!

[2021-03-02 05:20] JoshInnis commented on #28
Hello,

Judging from the reference link you attached, I am assuming you are using prepared statements in Postgres' JDBC driver. Is this correct?

Unfortunately, the CREATE clause is not currently compatible with prepared statements, even if there are no params passed to the Cypher section of the query. We are looking to add this feature in future releases.

[2021-03-02 05:29] emotionbug commented on #28
Yes, but it just happened on statement too.
because, Postgres JDBC's default Message Flow is extended mode.
not in Simple query mode like Node.js or Python.

OK. thank you for replying. :)

[2021-03-02 14:24] gorgonzola-oh opened #30 "Any good tutorials / example schemas / queries for OpenCypher ?"
I'd like to see some actual examples. A tutorialish use case if you will. And then, esp here for AGE, to have that example include a mix of Cypher and SQL, using the right subdomain language for each part of an overall interaction with the db.

How are graph edges and nodes exposed to the postgresql type system? Can graph queries / manipulation be done in stored procedures like pl/pgsql? How do re

[2021-03-02 17:27] jrgemignani commented on #28
I will see if I can reproduce the error and see if there might be an
oversight in the copyfuncs.c library.

john

On Mon, Mar 1, 2021 at 9:30 PM Alex Kwak <notifications@github.com> wrote:

[2021-03-02 17:55] jrgemignani commented on #28
Josh is correct. I did not find anything that was an oversight.

john

On Tue, Mar 2, 2021 at 9:27 AM John Gemignani <jrgemignani@gmail.com> wrote:

[2021-03-03 14:18] sorrell commented on #30
I agree that more examples/tutorials would be good. I created a quick tutorial here: https://sorrell.github.io/2020/12/10/Postgres-and-Apache-AGE.html

[2021-03-04 02:13] kkj5270 commented on #26
Hello, I have developed a PL/PGSQL api for AgensGraph, a PostreSQL fork for graph model processing using Cypher.
This PL/PGSQL api is currently in a testing stage and will be available soon.
I started looking into AGE this week and it might be possible use this PL/PGSQL api for AGE (hopefully) without much developments.
I will update my progress here.

[2021-03-05 08:40] jbiz805 opened #32 "Some homepage update?"
I noticed roadmap of age.apache.org/# has not updated since... well since it was made. I think updating at least the roadmap can clear some misunderstandings for the new users. (it's March 5th already and AGE is still v0.3.0, not v1.0.0!)
Also, to let the people know this is an active, ongoing project, I think adding some SNS links related to Apache AGE can be helpful as well. Updating SNS posts a

[2021-03-05 14:45] pdpotter opened #33 "Impossible to execute AGE functions as non-superuser"
I installed the Apache AGE PostgreSQL extension on Debian Buster using the instructions on https://age.apache.org/ (under Documentation -> Installing AGE).

I was able to `CREATE EXTENSION age;`, `LOAD 'age';` and `SET search_path = ag_catalog, "$user", public;` as a superuser and subsequently create a graph and execute cypher queries.

Unfortunately, I was unable to execute `LOAD 'age';` as non-s

[2021-03-05 17:30] jrgemignani commented on #33
Did you execute "set search_path TO ag_catalog;" in the session prior to
executing the "select create_graph('g');" command?

John

On Fri, Mar 5, 2021 at 6:45 AM Pieterjan De Potter <notifications@github.com>
wrote:

[2021-03-05 20:55] pdpotter commented on #33
Yes. See below for a more complete listing of the statements I executed after logging in as a non-superuser, who is the owner of the database that is being connected

[code]

[2021-03-05 22:12] jrgemignani commented on #33
You need to do the following for said user, say *john* for said database,
say *graphdb *-

GRANT USAGE ON SCHEMA *ag_catalog *TO *john*;
GRANT CREATE ON DATABASE *graphdb *TO *john*;

You don't need to do a load, once the extension has been loaded. You just
need to set the search path.

John

On Fri, Mar 5, 2021 at 12:56 PM Pieterjan De Potter <
notifications@github.com> wrote:

[2021-03-06 19:02] pdpotter commented on #33
That worked perfectly, thank you so much!

[2021-03-06 19:02] #33 closed

[2021-03-07 07:12] aysko75 commented on #32
Pull request for the updates (roadmap) on the website will soon be merged in a day or two.

[2021-03-09 05:07] JunKK7 opened #39 "Execute pl/pgsql disconnecting"
Hello

I'm trying to analyze AGE source for using create vertex on pl/pgsql.

I tried this script

<pre>
<code>
LOAD 'age';
SET search_path = ag_catalog, age, public;

select create_graph('test');

SELECT * from cypher('test', $$
  CREATE (a:Part {id: '123',value: '1234'})
$$) as (a agtype);

SELECT * from cypher('test', $$
  MATCH (a:Part)
  RETURN a.value
$$) as (a agtype);

CREATE OR REPLACE FU

[2021-03-09 06:09] JoshInnis commented on #39
Hello,

I believe this issue is related to issue #28: https://github.com/apache/incubator-age/issues/28

In short: the data structure that preserves the information about a CREATE clause does not support moments where the current MemoryContext is destroyed. ie: prepared statements and PL/PGPSQL functionms.

See Here: https://www.postgresql.org/docs/11/spi-memory.html

We need the CREATE clause-- a

[2021-03-09 20:26] pdpotter opened #41 "ERROR: unhandled cypher(cstring) function call error on first cypher query"
After creating a new database connection, the first cypher query results in a `ERROR:  unhandled cypher(cstring) function call error`. This error does not occur on subsequent cypher queries, or if a create_graph query has been executed prior to the cypher query.

How to reproduce:
* Set up database
[code]
* First connection to create a graph and add some data. Here, the cypher query succeeds.
[cod

[2021-03-09 20:41] jrgemignani commented on #41
Interesting. And, ty, I can reproduce it.

I will look into it.

john

On Tue, Mar 9, 2021 at 12:27 PM Pieterjan De Potter <
notifications@github.com> wrote:

[2021-03-09 21:41] jrgemignani commented on #41
Okay, so I was incorrect - sort of - when I said that the load command
didn't need to be used after the first time (with the create extension),...

The first time you execute a command against the library for the extension,
it forces a load of that library. But, the command still fails. Subsequent
commands referencing it don't, however. So, you can either do the load
initially or just expect the f

[2021-03-11 09:45] pdpotter commented on #41
Thank you for the detailed explanation! I will continue to use the workaround where the first command is expected to fail for now.

Should I leave this issue open until the failing of the first command is fixed, or is that expected behavior?

[2021-03-11 13:20] grillorafael opened #42 "Is there any performance comparison against Neo4J?"
Hi!

Congratulations on the extension. It looks really nice and I love seeing postgres being used like this.

I wanted to check if anyone here in the project ran a performance comparison against Neo4J to see how it compares.

Thanks!

[2021-03-11 16:50] jrgemignani commented on #41
Per the documentation, I don't think there is a way to avoid the first
failure, unless you explicitly do a load command to make sure the library
is loaded -

*Shared library files that contain C functions are automatically loaded
whenever one of their functions is called. Therefore, an explicit LOAD is
usually only needed to load a library that modifies the server's behavior
through “hooks” rather

[2021-03-11 17:00] jrgemignani commented on #42
Hi Rafael,

I am not aware of any performance tests, yet. We're mostly focused on fully
implementing the openCypher specification at the moment. Once we have a
fuller implementation, we will be able to start thinking about doing
comparisons.

John

On Thu, Mar 11, 2021 at 5:20 AM Rafael Grillo ***@***.***>
wrote:

[2021-03-11 17:04] grillorafael commented on #42
Thanks!

[2021-03-11 17:04] #42 closed

[2021-03-12 08:16] pdpotter commented on #41
OK, thank you!

[2021-03-12 08:16] #41 closed

[2021-03-15 01:37] #32 closed

[2021-03-15 13:56] pdpotter opened #43 "unexpected character at or near "$" when using query arguments"
When I try to use [asyncpg](https://github.com/MagicStack/asyncpg) with query arguments, I get following error: `asyncpg.exceptions.PostgresSyntaxError: unexpected character at or near "$"`

Python reproduction code:
[code]

When trying to do the same with node with[ node-postgres](https://github.com/brianc/node-postgres), I get a similar error: `error: unexpected character at or near "$"`

Typesc

[2021-03-15 14:15] sorrell commented on #43
Some general questions/troubleshooting thoughts:

- Is that error coming from your `SET` command or the `SELECT * from cypher` query?
- Does the code work if you hardcode a name instead of `$1`?
- If not, maybe a library parsing issue? Try spaces after/before the $$ : `$$ CREATE (v:Person {name: $1}) $$ )``

[2021-03-15 14:56] pdpotter commented on #43
* The error originates from the `SELECT * from cypher` query.
* In both cases, the hardcoded query `SELECT * FROM cypher('testgraph', $$CREATE (v:Person {name: 'Tom'})$$) as (a agtype);` does work.
* Spaces after/before the $$ don't change the outcome.

Both asyncpg and node-postgres appear to rely on [libpq](https://www.postgresql.org/docs/11/libpq.html).

[2021-03-15 16:51] sorrell commented on #43
I am able to reproduce the error, and have a little more detail below regarding where the error occurs in AGE (ag_scanner.l).

[code]

[2021-03-15 17:21] JoshInnis commented on #43
The format `$1` is the Postgres format for parameters and cannot be used in the cypher query. Parameters in the cypher query must take the format `$parameter_name`. When you want to pass parameters to a cypher query, you must add a third argument to the cypher query. This argument must be a Postgres parameter. So your query must look like:

`SELECT * FROM cypher('testgraph', $$CREATE (v:Person {na

[2021-03-16 15:49] xgenvn commented on #29
I'm also want to ask about the compliance between bitnine-oss AgenGraph and AGE, are they using the same core components or somewhat different? And is there any good reason not using bitnine-oss at the start?

[2021-03-16 17:34] jrgemignani commented on #29
AGE is based on openCypher implemented in PostgreSQL (version 11 atm) as an
extension. This makes it more flexible to use, for example, in a current
PostgreSQL environment/shop. However, due to it being an extension, it has
some limitations (due to limitations common to all extensions) as to how
well it can integrate into PostgreSQL. An example of this is the lack of
hooks for modifying the gramma

[2021-03-16 19:52] pdpotter opened #44 "SET clause doesn't work with list properties"
It is possible to create a node with a list property:
[code]
It seems to be impossible to update existing nodes with list properties:
[code]
It also seems to be impossible to add new list properties to existing nodes:
[code]

[2021-03-17 01:17] ehsanonline opened #45 "unique properties / indexing"
Hello, it would be great if we could use unique keys in nodes and edges. in Neo4j it's called [Node Key](https://neo4j.com/docs/cypher-manual/current/administration/constraints/#administration-constraints-node-key) and it can be used like these:

1. `CREATE CONSTRAINT constraint_name ON (n:Person) ASSERT (n.firstname) IS NODE KEY`
2. `CREATE CONSTRAINT constraint_name ON (n:Person) ASSERT (n.first

[2021-03-19 18:55] jhgoodwin opened #47 "Examples of how to join relational data"
Hi, I was able to use some examples to create records such as:

[code]
Which returns:
[code]

But, it's unclear to me how I would join these results against typical relational concepts. Would someone be willing to share an example or point me at documentation for this?

[2021-03-19 19:04] JoshInnis commented on #47
https://age.apache.org/docs/Apache_AGE_Guide.pdf

In the above link, there is a section called "Advanced Queries" where there is a simple example about how to join Postgres tables.

[2021-03-19 19:09] ehsanonline commented on #47
Hi, as far as i know, records in graph databases are `vertex` or `edge`. each edge can connect two vertex together.
for example : `person-likes->fruit` . `person` and `fruit` are vertexes and `likes` is an edge which connect these two together.
both edge and vertex can have properties like this: `person( name: "john" )` or `fruit(type: "apple")`.
now your data (Part) is an vertex. you need to know

[2021-03-19 22:25] jhgoodwin commented on #47
Thanks for the guide @JoshInnis . That got me pretty close to what I was looking for.  Looks like many type conversions are not yet supported - a pity.

I was able to figure this out, which does work:

[code]
This will deconstruct the string value of 123 from the row. Feels like there probably is a simpler way. Maybe you know it.
From here, joining against a relational table should be trivial.  Lo

[2021-03-24 18:19] Remi-C commented on #28
Having the same problem folks.
I'm using the Open source DBeaver to run my queries, and I can not create a graph properly.
It works when using psql though.
DBeaver also works when running data querying that does not involves changing the data.
This is a big problem for us, as our users won't use the command line / psql under any circumstances.
--
Workaround : I'm thinking about writing a wrapper i

[2021-03-24 18:25] JoshInnis commented on #28
Hi Remi,

This issue is about creating vertices and edges. Is that the issue you are having or can you not create a graph at all in DBeaver?

[2021-03-24 19:02] Remi-C commented on #28
Hey @JoshInnis , thanks for answering :-)
I just followed exactly the query from the doc:
[code]

[2021-03-24 19:47] JoshInnis commented on #28
We are working on a fix for this right now. I was able to recreate the issue with DBeaver and will test to verify the fix works there as well.

[2021-03-24 20:09] Remi-C commented on #28
Wow you work fast folks !
I was very interested by the seminar today, I'm super curious to use this extension with medium to large graphs and see what I can do with it.

[2021-03-29 13:18] pdpotter opened #48 "Using geographic objects as properties with PostGIS"
Is there a way to add PostGis data as property to a node (e.g., a [point geometry](https://postgis.net/docs/ST_MakePoint.html))?

I've tried:
[code]

Additional information: the indivial extensions (age, postgis) do work:
[code]

[2021-03-31 20:35] bionicles opened #49 "Please document a rust client"
How would a Rust crate access this DB? Can it just submit query strings and be done?

[2021-04-01 01:02] JoshInnis commented on #49
Hi,

AGE is an extension of Postgres. So the normal Postgres Crate (https://docs.rs/postgres/0.19.0/postgres/) should be compatible with the extension. Query strings should be in the format outlined here: https://age.apache.org/docs/Apache_AGE_Guide.pdf. Currently there is no custom rust client for AGE.

[2021-04-01 01:16] JoshInnis commented on #39
Hi,

pl/pgsql Functions are now compatible with the CREATE, SET, REMOVE, and DELETE clauses. https://github.com/apache/incubator-age/commit/7ba89b01c8e249ae2df77854698fc87eec90dabb. This commit will be included in release 0.4.0.

[2021-04-01 01:18] JoshInnis commented on #28
Hi @emotionbug the JDBC driver is now compatible with Prepared Statements.

@Remi-C, we also tested on DBeaver and the patch should make that compatible to. Btw, glad to hear you enjoyed the presentation.

[2021-04-01 01:20] JoshInnis commented on #43
@pdpotter The python and NodeJs drivers are now compatible with the CREATE, SET, REMOVE and DELETE clauses. Btw, I never had the opportunity to play around with this particular python driver. Seems like a very interesting library.

[2021-04-01 01:37] bionicles commented on #49
awesome! how do you like to deploy it?

[2021-04-01 03:13] Remi-C commented on #28
Thanks @JoshInnis !
Can I simply pull on master to try it, or do I have to use a specific branch / tag?

[2021-04-01 04:08] JoshInnis commented on #28
Currently this patch is only in master.

[2021-04-01 08:47] pdpotter commented on #43
It is now indeed possible to use prepared statements to create nodes. Thank you!

[2021-04-01 08:47] #43 closed

[2021-04-01 08:49] emotionbug commented on #28
I checked. This has been resolved.

[2021-04-01 08:49] #28 closed

[2021-04-02 13:16] pdpotter commented on #45
It would indeed be very useful to enable the creation of constraints / indexes. This could help to accelerate the creation of edges between nodes that were added earlier, which slows down a lot when there are a lot of nodes with the same label:
[code]

The `CREATE UNIQUE`, `CREATE CONSTRAINT`, and `CREATE INDEX` clauses / commands [are part of cypher, but not of openCypher](https://github.com/open

[2021-04-02 16:31] audiBookning commented on #45
Here some links just for reference.

List of [Cypher Improvement Proposals](https://www.opencypher.org/cips) (CIP)

As for indexes and constraints in Opencypher, there are already some PR for their addition, but i think that they are "blocked" by another CIP

CIP:

- [CIP2016-12-16 Neo4j Indexes](https://github.com/Mats-SX/openCypher/blob/c542f94f07fb934254748f4f2ce44612d45866a3/cip/vendor-extensi

[2021-04-02 23:13] #39 closed

[2021-04-06 04:24] JoshInnis commented on #49
I'm afraid i don't quite understand what you mean by how do we deploy it. Nick Sorrell was kind enough to build some docker images for AGE https://hub.docker.com/r/sorrell/agensgraph-extension. Do you mean how do we deploy AGE or how do we deploy applications written in Rust that use AGE?

[2021-04-07 23:11] johnnyMick opened #50 "Importing Data from Relationnel Table into Graph DB"
I have data saved in relationnel Tables, i want to Import them as a Graph data, so i can use Graph relations between them.

Is there a way to do that directly in SQL ? or do i have to use a Programming Language to query the data first from the relational tables first then create Cipher Queries to create the Data in the Graph DB ?

ps: i noticed that it's possible to Join the Select Data with Relat

[2021-04-12 04:09] emotionbug opened #52 "exists `label(...)` function in AGE?"
I want to querying label as row. but, i can't find `label` function like AgensGraph or Neo4j.
so, currently using follow function,  `ag_catalog._label_name(oid, v | e)` like behind.

i think it is not suitable to use.

so, any other ways to querying to get label string?

[code]

[2021-04-12 04:09] emotionbug opened #53 "exists `label(...)` function in AGE?"
I want to querying label as row. but, i can't find `label` function like AgensGraph or Neo4j.
so, currently using follow function,  `ag_catalog._label_name(oid, v | e)` like behind.

i think it is not suitable to use.

so, any other ways to querying to get label string?

[code]

[2021-04-12 04:09] #53 closed

[2021-04-14 15:44] joe-fagan commented on #50
Is this referring to AGE or AgensGraph?

[2021-04-14 17:07] johnnyMick commented on #50
in the AGE pdf documentation (advance Cypher Queries), it's possible to join regular table with Graph data like so
[code]
But what if i want to Import the data from the `sql_person` table into the a Graph DB as vertices ?

[code]
Do i have to use a Programming language to query the data from `sql_person` table than manipulate the data and create the above string to create the vertices ? Or can i j

[2021-04-14 18:02] JoshInnis commented on #50
There are currently two ways to import data into a graph in AGE via sql. Both of these ways are new and not in 0.3.0. So you will need to download master to be able to do this. They will be in the 0.4.0 release, which should be released shortly.

1.  Prepared Statements: https://www.postgresql.org/docs/11/sql-prepare.html.

So you would need to format the query as

[code]

Then to run the basic ex

[2021-04-14 19:18] johnnyMick commented on #50
@JoshInnis thanks for the reply and the detailed example

[2021-04-14 19:18] #50 closed

[2021-04-17 00:34] JoshInnis commented on #52
The label function has been added.

[code]

The label function is not in Neo4J. Neo4J has the labels function which returns a list of all the vertex's/edge's labels. Since AgensGraph uses label inheritance that function to list the vertex's/edge's label, it's parents and all ancestor labels. The label function just returns a string of the entity's exact label. Currently label is implemented and la

[2021-04-18 14:18] sstubbs opened #54 "Citus Compatibility"
Is this compatible with the citus extension? I am currently using janusgraph. This looks interesting but I am worried how it would scale if I can't use citus.

[2021-04-18 17:27] emotionbug commented on #52
I know that `label` function of Neo4j is `labels(..)`, not `label(..)`, because supports multi label feature.

maybe, AGE will not support multi-label feature. so, near feature planning be `labels(..)` function will be returning all inheritance labels?

[2021-04-18 17:37] emotionbug commented on #54
+1
I think this is a good point. If AGE support Citus, it would be a great distributed graph database.

[2021-04-20 09:37] joefagan commented on #49
@bionicles
Hi, are you asking how AGE is deployed or how to deploy a Rust application that uses AGE?

[2021-04-21 13:02] bionicles commented on #49
haha, I wouldn't expect you guys to figure out my devops problems! but it's interesting to think about how to deploy this.

an easy way to make this more available would be to add "AMI" to releases, built automatically with packer perhaps, then folks can run AGE on AWS with 1 click without even worrying about docker. ex https://aws.amazon.com/marketplace/pp/Jetware-PostgreSQL-96/B01MRYDTDD

but we

[2021-04-26 05:27] emotionbug commented on #54
[code]

I tested follow script with below dockerfile script.

and, it need to support from citus, because of `currently only support using the default operator class`
https://github.com/citusdata/citus/blob/67bc990c1caaf6aa174b85253e1e154d8b368044/src/backend/distributed/commands/create_distributed_table.c#L1266

[code]

[code]

[code]

[2021-04-26 06:52] yjhjstz commented on #54
@emotionbug try https://github.com/bitnine-oss/agensgraph instead extension version.

[2021-04-26 07:42] JunKK7 opened #55 "How to delete Edge?"
Hi

I found a bug that couldn't be deleted edge while I was testing 'create, delete, remove, drop ...' at Python & Go.

So I tried again at pgadmin and the result was the same.

[code]
how to delete edge?

[2021-04-27 02:22] kysmou opened #56 "Case sensitivity for label names"
* Case sensitivity for label names

Create label name with the first letter of upper case
SELECT *
FROM cypher('graph_name', $$
CREATE (:Person{name: 'Andres', title: 'Developer'})
$$) as (n agtype);

Search by lowercase label name -> "label person does not exists" error
SELECT *
FROM cypher('graph_name', $$
match(a:person)
RETURN a
$$) as (a agtype);
-> label person does not exists

Is it a norma

[2021-04-27 04:54] audiBookning commented on #56
I am not sure if open-cypher has any mention about the casing of Labels in their [reference](https://github.com/opencypher/openCypher/blob/master/docs/openCypher9.pdf), but in [neo4j cypher](https://neo4j.com/docs/cypher-manual/current/syntax/naming/) and most of its variants, Labels are always case-sensitive.

[2021-04-27 05:57] kysmou commented on #56
The cypher used in AgensGraph and Neo4j is known to be case-insensitive for label names.
If case-sensitivity is required, the label can be identified by wrapping the label with a double quotation "".

[2021-04-27 08:38] emotionbug commented on #54
@yjhjstz of course

[code]

in this time, `currently only support using the default operator class` has not thrown.
but, citus recognized it as an invalid table or AgensGraph cannot create trigger.

**Dockerfile**
https://github.com/emotionbug/ag-citus-docker/tree/AgensGraph
[code]

[2021-04-27 13:12] audiBookning commented on #56
@kysmou I do not know about Agensgraph or openCypher, but in Neo4j, Labels are case-sensitive.
It has been some time that i last used neo4j and i wasn't sure, so i decided to confirm in the docs.
From the Neo4j Cypher Manual v4.2:

Some times the implementation can be different from the manual. I tried your queries in neo4j:
[code]
In the Match operation, it also gives me a contextual warning:

On

[2021-04-27 16:28] kysmou commented on #56
Thanks for your point.
AGE is Since the Graph Data area is an extension module based on postgresql, I think we should follow the policy. In postgresql and AgensGraph, it is insansitity by default.

[2021-04-27 17:43] audiBookning commented on #56
As for conventions about case-insensitive or not, i don't really have an opinion. i think the most important is for them to be clear and for everybody following them.

Databases is not really my cup of tea and i am not familiar with this repo's code or even writing postgresql extension, so my following comments are very "tentative".

I am preoccupied that case-insensitivity in Labels might have so

[2021-04-27 19:59] jrgemignani commented on #56
Maybe this will be helpful here,...

AGE's team's philosophy, with regards to aligning towards either openCypher, Neo4j, or PostgreSQL, is as follows -

First, and foremost, we try to implement the openCypher specification as closely as possible. Where there is ambiguity or vagueness in the openCypher specification, we look to Neo4j for possible clarification. When there is still ambiguity or vagu

[2021-04-27 22:20] eyab commented on #49
Hello @bionicles, we do have an Apache AGE AMI available. If you would like us to share it with we would need your AWS account number. We will consider adding "AMI" to releases, but we need to review all the licensing before taking any actions.

[2021-04-27 23:58] kysmou commented on #55
I tested it on age 0.4 version, and the delete was successful.
-> A return statement is required after the delete statement.

Below is the syntax I tested.

* case 1 Person vertex delete
SELECT *
FROM cypher('graph_name', $$
match (a:Person{name: 'Andres'})-[r:acted_in]->(b:movie) detach delete a
return a
$$) as (a agtype);

* case 2  acted_in edge delete
SELECT *
FROM cypher('graph_name', $$
matc

[2021-04-28 00:10] aysko75 commented on #56
@jrgemignani  Spot on, thanks John!

[2021-04-28 00:30] kysmou commented on #44
This part seems to need to be fixed.
The same occurs even when I tested it, and it seems that only the first value is updated and saved for list data.

SELECT * FROM cypher('graph_name', $$MATCH (ve:Person {id: 1}) SET ve.title=['1','2'] return ve $$) as (a agtype);
                                a
---------------------------------------------------------------------------------------------------

[2021-04-28 00:36] jrgemignani commented on #55
We will look into this as, on the surface, it looks like it should be valid to do -

MATCH (u)-[e]->(v) DELETE e;

[2021-04-28 01:37] kysmou opened #57 "First cypher execution error after alter database set search_path statement"
In order to connect to the database, the following syntax was executed to execute the cypher syntax by default.

alter database testdb set search_path to ag_catalog, "$user", public;

After that, if you access the database and execute the cypher query, the following error occurs.

1. alter database testdb set search_path to ag_catalog, "$user", public;
2. \q
3. psql testdb -p 5400
4.
testdb=# SELE

[2021-04-28 03:41] JunKK7 commented on #55
@kysmou

The first case is a success. However, it is not deleted from the second case.
Try running the second case first.

[2021-04-28 19:04] pdpotter commented on #57
Did you execute `load 'age';` before the first cypher query (see #41)?

[2021-04-29 08:29] kysmou commented on #57
@pdpotter
Thank you for your teaching. It's solved.
It is inconvenient to execute the load age statement every time cypher is executed.
Is there any method to execute cypher normally in first access without executing "load 'age'";

[2021-04-29 09:22] yjhjstz commented on #54
Citus doesn't support bare inherited tables (i.e., not a partition or partitioned table).

[2021-04-29 16:22] jrgemignani commented on #57
You only need to execute the load once, at the beginning of a session.

[2021-05-03 03:31] aysko75 opened #58 "Visualization tool for the AGE 0.4.0 release"
@Kim-Changhyun @emotionbug
Guys, does the current AGViewer (available at https://github.com/bitnine-oss/AGViewer) support AGE 0.4.0?

[2021-05-03 03:40] emotionbug commented on #58
Yes. However, nothing has been changed for AGE 0.4.
because, we are control just for metadata.

[2021-05-03 03:54] aysko75 commented on #58
@emotionbug I see, I suppose what you meant was that the parts AGViewer talks to in AGE remained same from 0.3.0 to 0.4.0.

[2021-05-03 03:58] emotionbug commented on #58
Yes, that’s right.

[2021-05-05 05:45] joefagan opened #62 "Your project does nothing!"
# What's the project about?

I don't get it.

## You need some code
## You need better ideas

[2021-05-05 05:47] #62 closed

[2021-05-06 05:37] kysmou opened #64 "explain execution plan display"
explain
SELECT *
FROM cypher('graph_name', $$
MATCH (a:Person), (b:Person)
WHERE a.name = 'Node A' AND b.name = 'Node B'
with a,b
match(a)-[e:RELTYPE]->(b)
where b.born > 1999
RETURN a
$$) as (a agtype);
                           QUERY PLAN
----------------------------------------------------------------
 Function Scan on cypher  (cost=0.00..10.00 rows=1000 width=32)
(1 row)

Explain about Cypher

[2021-05-06 07:48] kysmou opened #65 "Apply bind variable to cypher"
In agensgraph or postgresql, you can increase query reuse (the same query is executed without parsing)
by applying a bind variable($1) to the where condition value instead of a literal value with a prepare statement.

example)
PREPARE x(text) AS
SELECT * FROM ( match(a:person) WHERE a.name = $1 return properties(a)) as v;
EXECUTE x(933);

In age, the following error occurs when applying the bind v

[2021-05-06 08:41] pdpotter commented on #65
From https://github.com/apache/incubator-age/issues/43#issuecomment-799599013:

For more information, see the section `Prepared Statements` in the [AGE Guide (PDF)](https://age.apache.org/docs/Apache_AGE_Guide.pdf).

[2021-05-06 09:24] pdpotter commented on #64
The [auto_explain](https://www.postgresql.org/docs/11/auto-explain.html) module can be used to get details about nested statements.

[code]

In my case, the info was written to the log file `/var/log/postgresql/postgresql-11-main.log`.

[2021-05-06 09:48] kysmou commented on #64
Thanks for your guide.
I think the guide you gave is a guide using the parameters of the extension.
I was wondering if the existing explain and explain analyze functions of postgresql, which can only check the queries required by the user, do not apply to the current age cypher.

[2021-05-06 09:49] kysmou commented on #65
Thank you for your response.
I will check it by referring to the manual again. Thank you so much.

[2021-05-06 19:54] jrgemignani commented on #64
I am currently attempting to add EXPLAIN, in its simple forms, to the openCypher grammar in AGE. But, at this point, I can't guarantee that it will be successful or useful.

John

[2021-05-08 09:16] yjhjstz commented on #54
@emotionbug https://github.com/yjhjstz/citus-age/tree/age  , here is branch which I removed inherited table limitation. We can work together.

[code]

[2021-05-08 09:21] yjhjstz commented on #54
@emotionbug can I touch you with Line or WeChat or something?

[2021-05-08 09:32] emotionbug commented on #54
I don't have account. and, I'm in outside now, so will give you account before next thursday. :)

[2021-05-10 00:56] emotionbug commented on #54
@yjhjstz my wechat id is **emotionbug**.

[2021-05-10 19:22] jrgemignani commented on #64
EXPLAIN has been added to the master repository. It is available by pulling the latest source down - not the latest release.

In order to use it, you will need to put the EXPLAIN inside of the cypher function. For example -

[code]

[2021-05-12 08:22] audiBookning opened #66 "Formatting create graph error on duplicate"
This issue is just to bring a minute point.

When using psql to create a graph with
[code]
the return is
[code]
But when the graph is a duplicate the error given is
[code]
I was thinking that this message comes probably from postgresql and is not directly controlled by AGE?
Since we are using a AGE function, maybe we should be getting an error similar to:
[code]
This would help to emphasize the id

[2021-05-12 08:43] audiBookning opened #67 "PSQL recreates a graph that was already created with PG"
I encountered a strange situation when doing some experiments with AGE.

I used node-postgres (pg) to create a graph with
[code]
if i repeat the same query, i will correctly get an error
[code]
But if afterward i use psql to repeat the query, i get
[code]
repeating it a 2º time in psql (or in pg) with gives the correct error.

I would expect to get an error, the first time, when trying the query i

[2021-05-12 16:50] JoshInnis commented on #67
It appears in the psql session you added a '2' to the graph name. Whereas in node-postgres you created a graph called 'my_graph_name'. Without seeing your scripts I cannot be sure, but it appears the reason why it was successful was because you used a different name.

[2021-05-12 22:14] audiBookning commented on #67
I am sorry. The 2 is an artifact of copying the code to the issue.
I made another test with the 2 added to the end of the graph name to confirm the behaviour and when copying the code i forgot to remove it. 😪
I mean that the 2 in this case is not relevant to the issue.

I will edit the main issue to remove it.

[2021-05-14 23:54] #64 closed

[2021-05-17 00:22] kysmou commented on #65
To test the prepared statement, I tested it by referring to the manual.
However, the following error occurs, but if there is something I am doing wrong, please tell me. This is the age 0.4.0 version.

PREPARE cypher_stored_procedure(agtype) AS
SELECT *
FROM cypher('test_graph', $$
MATCH (v:Person)
WHERE v.name = $name
RETURN v
$$, $1)
AS (v agtype);

execute cypher_prepared_statement('{"name":"aff

[2021-05-25 03:10] seo-kw opened #75 "I just got found Apache_AGE_Guide.pdf browser comparability problem in firefox."
Well, It's a kind of silly thing. And not a bug in AGE. But who is a newcomer, like me, maybe helpful information.
Maybe we'll test some queries in the official pdf guide through opened browser, but some troubles in a specific browser which is firefox.

If you just copy & paste below query throughout browser, like this query, maybe you've got some error like this
Query : ```SELECT​ *FROM​ cypher(​

[2021-05-28 01:05] seo-kw opened #76 "Preparestatement supporting issues(?)"
Hello there, I got some trouble in using JDBC preparestatement. So I want to share about my experiences.

I have been confused rather am I doing something wrong or is it a bug. So, I just write down those phenomena.

1. Querystring

   1. PrepareStatement

[code]

   2. Prepared Statements Preparation & Execution in "Apache_AGE_Guide.pdf"

[code]

2. Error message

   Both of them got the same out

[2021-05-28 07:21] pdpotter commented on #76
I haven't used JDBC myself, but if it is similar to asyncpg, it should work like this:

[code]

Additional remark: `id(a)` (automatically generated primary key for the vertex a) is not the same as `a.id` (property id of the vertex a).

[2021-05-28 09:09] seo-kw commented on #76
----
Hi potter. I just closed this issue by mistake. Sorry for the confusion. And thanks for your reply.

But I didn't solve the previous problem you suggested.

I just applied your solution below.

[code]
I check this syntax in AGE_Guide.pdf  "Prepared Statements" paragraph. and maybe I know what you meant to.
but I got errors below.

`
org.postgresql.util.PSQLException: ERROR: function cypher(un

[2021-05-28 09:24] pdpotter commented on #76
Did you execute `LOAD 'age';` and `SET search_path = ag_catalog, "$user", public;` on your connection before executing the query above?

Probably something like this (again, I haven't tried this and I am not familiar with JDBC):

[code]

[2021-05-28 12:40] seo-kw commented on #76
----
Hello again. Wow, thanks for the fast reply! I got dinner so am quite late lol.
Then, sure. It's a kind of basic process to using age.

I did that process in another class. and like this.
[code]
 And also created graph using `SELECT create_graph('a')`  function.

You're not familiar with jdbc but you've done this for me. Thanks a lot. But I supposed to it's kind of AGE's core architectural al

[2021-05-28 12:44] pdpotter commented on #76
Are you using this same connection object to execute the match query?

In my asyncpg code, I have to make sure `LOAD 'age';` and `set search_path = a, ag_catalog, \"$user\", public` are executed on the connection object that is used to do actual age queries.

[2021-05-28 13:17] seo-kw commented on #76
----
Yes. I'm using the same connection object. I have tested many functions in [http://age.incubator.apache.org/docs/Apache_AGE_Guide.pdf](http://age.incubator.apache.org/docs/Apache_AGE_Guide.pdf) through that connection. For example, basic graph creation and delete, update, and so on.

But I got stuck in preparestatement in jdbc. That's the reason that I made this issue.

Anyway, I'm thanks for

[2021-06-03 02:14] seo-kw opened #79 "In assigning label type which is not same as you want to create, Database is forcibly terminated."
### Assigning in edge to vertex label.
[code]

### Assigning in vertex to edge label.
[code]

Both of them,  print.
[code]

I think.. some error handling logics or guidance help in using ages much better.

Thanks for reading and have a nice day.

[2021-06-04 16:48] JoshInnis commented on #65
In the second example, the prepared statement is called "cypher_stored_procedure" and the execute is for the prepared statement "cypher_prepared_statement."

[2021-06-06 10:45] bionicles commented on #49
Cool, just mean to say, any easy ways to get a cloud hosted AGE service running, could definitely help newcomers feel more confident in the project

[2021-06-07 13:45] joefagan commented on #79
FYI AgensGraph 2.1.2 returns these errors respectively
ERROR:  label "already_created_edge_label_name" is edge label
and
ERROR:  label "already_created_vertex_label_name" is edge label

[2021-06-07 23:32] seo-kw commented on #79
Thanks for the reference info, Joe.

[2021-06-07 23:33] seo-kw commented on #79
Thanks for the reference info, Joe.
Oh.. I closed again of mistake. sry,
Reopened.

[2021-06-08 00:42] emotionbug commented on #76
I test some cases for using prepared statement.

**case-1**
[code]
https://github.com/apache/incubator-age/blob/83426d3a92bd5fee06376a38542d35efb1e6397b/src/backend/parser/cypher_analyze.c#L348-L354

it looks like bug.

**case-2**
[code]
https://github.com/apache/incubator-age/blob/83426d3a92bd5fee06376a38542d35efb1e6397b/src/backend/parser/cypher_analyze.c#L319-L340

This seems to exist to accura

[2021-06-08 21:08] songololo opened #84 "WHERE syntax doesn't seem to work"
I'm trying to do a relatively basic MATCH with a WHERE clause but I keep encountering an error per:

[code]

The item and its item property exists in the graph.

This is the query:

[code]
Where `some_label` and `some123string456` correspond to the vertex labels and properties in the graph.

The `pkey` property is stored as a string.

I've tried adding explicit type casts, e.g. ::text and ::char b

[2021-06-08 21:59] jrgemignani commented on #84
What version are you using? This is from the latest pull of the master on github -

[code]

[2021-06-09 00:20] emotionbug commented on #76
@JoshInnis Uhm... can you explain why?

[2021-06-09 03:16] emotionbug opened #85 "project build problem( make -j option .., bison dependency )"
when use make with -j option like `make -j16` throws error with `cypher_gram_def.h`

**on first trying make,**
[code]

**on twice trying make,**
[code]

it seems trying to compile, before bison generate codes.
so, how about change `Makefile` like behind?

PS, looks like bison not generating with directory part prefix since Bison 3.7.
so, I added `CPPFLAGS` for include header without prefix.
`PG_CP

[2021-06-09 08:29] songololo commented on #84
If I build a docker image from the main branch and run the following::
[code]

Then I'm encountering:
[code]

[2021-06-09 10:13] #57 closed

[2021-06-09 10:52] songololo commented on #84
OK, interesting, if I run:
[code]

Then:
[code]

Then it works as intended.

[2021-06-09 11:08] songololo commented on #84
For others running into this, a solution is to add the "search_path" to your connection settings:

[code]

[2021-06-09 11:08] #84 closed

[2021-06-11 16:26] #47 closed

[2021-06-11 23:37] JoshInnis commented on #76
@emotionbug I'm not sure what you're asking. You can use AGE in Java without using Prepared Statements. However, the JDBC driver cannot parse Agtype correctly. You would need the need the extension to the JDBC driver located in this repository. Since prepared statements use Agtype to pass the parameters, you cannot use prepared statements with AGE without the driver extension.

[2021-06-13 15:23] emotionbug commented on #76
@JoshInnis
I mean, I wonder why can't use the parameter value if don't use PreparedStatement.

[code]

and, read the document, but I think there is a way to support it even if it is not functionally stored procedures, and I hope this function is supported for general situation, not PreparedStatement.

Because, I think can make a more readable query using this function.

[2021-06-14 16:29] joefagan commented on #67
Please post your config to make sure we're pointing at the same server and same database when trying to recreating the graph.
.

[2021-06-14 16:39] JoshInnis commented on #52
That is the plan. Label Inheritance is not currently implemented. But we have that on the backlog and the plan is for that function to return it's label all labels it inherits.

[2021-06-14 19:10] leonh commented on #85
Experienced this exact issue following the source install steps in the documentation on the Ubuntu 21.4 , which installs Bison 3.7.5 .
Altering the line in the Makefile to:

PG_CPPFLAGS = -I$(ag_include_dir) -I$(ag_include_dir)/parser

solved the problem for me

[2021-06-16 07:38] joefagan commented on #75
Thank you for the tip.
There is a plan to change the format of the documentation, which may alleviate the issue.

[2021-06-16 16:14] #30 closed

[2021-06-16 16:33] joefagan commented on #49
There is a plan to implement a visualization tool and query editor to access AGE server within the next couple of month.

[2021-06-16 16:46] jrgemignani commented on #48
Sorry, about the late response, I had responded but, not to this thread. From my April 2nd response -

When a function isn't prefaced with the schema in the cypher function call, the transform logic will see it as a cypher function and prepend age_ to the name and then add the schema ag_catalog. This avoids naming clashes and helps with understanding where the system is looking for something.  So,

[2021-06-16 17:42] jrgemignani commented on #48
As of the current release, the implicit cast to float has been removed. Additionally, casts have been added to cast an agtype value out to a PG type for the following types: bigint and float8

Examples:

`psql-11.5-5432-pgsql=# SELECT * from cypher('G', $$
RETURN pg_catalog.sqrt(pg_catalog.sqrt(pg_catalog.sqrt(256)))
$$) as (result agtype);
ERROR:  function pg_catalog.sqrt(agtype) does not exist
L

[2021-06-16 17:47] jrgemignani commented on #48
I should note that there appears to be an issue with indirection and this type of cast in the grammar -

[code]

I am looking at what needs to be fixed.

[2021-06-16 18:00] dehowef commented on #85
Thank you for pointing this out. I will take a look

[2021-06-17 18:54] sstubbs commented on #54
Is there anything I can test with this to help?

[2021-06-17 21:03] dehowef commented on #79
I put out a patch that corrects this

[2021-06-17 21:03] #79 closed

[2021-06-17 23:45] dehowef commented on #85
@emotionbug I think your solution of adding options would be best.

[2021-06-18 01:54] emotionbug commented on #85
@dehowef
OK, I created PR.

[2021-06-18 01:54] #85 closed

[2021-06-18 07:46] joefagan commented on #75
There's a firefox extension that I think stops that behaviour but I haven't tested it.
https://addons.mozilla.org/en-US/firefox/addon/zerowidth-detection/

[2021-06-18 16:33] #52 closed

[2021-06-18 16:35] joefagan commented on #54
@sstubbs Perhaps you could try to load both Citus and AGE extension and see whether they can both load together?
Is order important?

[2021-06-18 16:37] JoshInnis commented on #66
A patch was added to master that should alter the error message to "ERROR:  graph "my_graph_name" already exists" It is scheduled to go into the next release to.

[2021-06-20 11:53] bitninejy commented on #67
@audiBookning I tried but I couldn't find this issues using psql.

Can you show your Development settings?

[2021-06-21 16:12] JoshInnis commented on #23
There is a release called 'v0.3.0.rc0-incubating' the naming conventions were altered for the first incubating Apache release. Version 0.4.0 resumes the v0.2 release naming conventions.

[2021-06-22 16:29] LinuxJedi opened #88 "Transaction cannot see own data?"
I'm probably doing something wrong here, but for some reason I cannot get data created in a transaction to be seen in the same transaction. It is only seen after commit. For example:

[code]

Am I doing something wrong here or is this a bug?

[2021-06-22 18:48] JoshInnis commented on #88
Hi, we will take a look at this

[2021-06-22 22:48] JoshInnis opened #89 "Execution Phase node ExecMaterial does not rescan child nodes"
### Background

The ExecMaterial node in an Execution Tree may not rescan it's children nodes. The material node acts as an intermediary between it's parent and it's children. During the initial run, MaterialNode will execute its subplans, cache the results in a data structure called a Tuplestorestate (postgres has only exposed the name of, the structure is hidden in Tuplestorestate.c), and pass t

[2021-06-22 22:50] JoshInnis commented on #55
This issue is two things. The default behaviour when the RETURN clause is not specified is incorrect and it is related to the more general problem outlined here: https://github.com/apache/incubator-age/issues/89. The patch to fix this should be pushed shortly.

[2021-06-22 23:07] JoshInnis commented on #89
JIRA Ticket: https://issues.apache.org/jira/browse/AGE2-192

[2021-06-24 16:37] JoshInnis commented on #89
A similar issue occurs with Hash Joins. They finish scanning it children, before its parent's run.

[2021-06-24 17:32] #55 closed

[2021-06-25 05:57] #89 closed

[2021-06-25 06:49] Halkrine opened #91 "Is possible to load extension automatically?"
Hi nice to meet you AGE.

As a AGE beginner, I have a question, so submitted issue.

When I run pgadmin, I have to load 'age' extension every time(AGE is installed by docker).

So, is possible way to load age extension automatically?

I can't found how to do..

[2021-06-25 07:12] emotionbug commented on #91
edit `shared_preload_libraries` on  `postgresql.conf` ( e.g., /var/lib/postgresql/data/postgresql.conf )

[code]

[2021-06-25 07:28] Halkrine commented on #91
Thanks! I'll try it.

[2021-06-25 15:19] #75 closed

[2021-06-25 15:20] #49 closed

[2021-06-25 15:21] #29 closed

[2021-06-25 16:06] SofiaJorissen opened #92 "Change the output of the Hello World sample to say "Hello there <name> or stranger""

[2021-06-25 16:10] SofiaJorissen opened #93 "Change the output of the Hello World sample to say "Hello there <name> or stranger""
[](url)

[2021-06-25 16:48] #92 closed

[2021-06-25 16:49] #93 closed

[2021-06-26 14:41] audiBookning commented on #67
I am sorry for responding so late. Because of unforeseen reasons (irl), I have been out of the dev and "virtual world".

I have unfortunately no longer access to the environment  and code from witch this issue originated (related to the earlier mentioned accident). Its goal was to develop a quick prototype of a feature on another app.
I have tried to reconstruct it from memory, but wasn't able to

[2021-06-26 14:41] #67 closed

[2021-06-26 14:45] audiBookning commented on #66
Thanks. I will close this issue.

[2021-06-26 14:45] #66 closed

[2021-07-05 14:07] asltjoey opened #94 "Installing AGE to be used with PostgresQL v13 on Windows"
Hello AGE team,

I am a data analyst trying to install AGE extension for my PostgreSQL v13 and lack of database admin expertise. Here is what I have gone through so far.

- Had PostgreSQL v13 installed on my windows laptop and have been using it for quite a while
- Recently downloaded the apache-age-0.4.0-incubating-src.tar file
- Updated the path environment variable by adding this D:\Program Fil

[2021-07-06 16:23] emotionbug commented on #94
not supporting PG 13, yet. First, they will focus on page 11 and then be work for newer PG versions.

[2021-07-08 03:23] aked21 opened #95 "Database config files for AGE"
Hello,

Besides PostgreSQL 11 configuration file, is there any configuration file that comes (or gets installed) specifically with AGE?
I am asking this because we are developing an web-based database admin application for both AgensGraph and AGE (on PostgreSQL 11).

Thanks

[2021-07-08 15:30] LinuxJedi commented on #44
Doh! I just spent far too long trying to figure out why this wasn't working in our application...

[2021-07-10 15:04] emotionbug commented on #95
I think the config file mentioned here is about GUC.

maybe, it will be used for user-selectable areas of optimization or experimental features.

I don't think AGE has reached that stage yet.

[2021-07-29 14:48] joefagan opened #97 "agcloud support for AGE extension"
When will agcloud.bitnine.net offer cloud access to AGE?
The current version (Postgresql 10.4) does not have the AGE extension.

[2021-07-30 20:55] uriaash opened #98 "Go Driver"
I saw in the presentation https://www.youtube.com/watch?v=32w_iVL8qN4
that there is a driver for Go... but I couldn't find it. I would really like to try AGE and need a Go driver.

[2021-07-30 21:09] emotionbug commented on #98
Go parser not merged yet.
https://github.com/apache/incubator-age/pull/87

can you checkout and test this codes?

[2021-07-30 23:02] uriaash commented on #98
I'm testing it, thanks!

[2021-08-03 16:45] Uria1 opened #102 "Supported Cypher Syntax"
Is there a list of supported & unsupported Cypher syntax?
I tried using `MERGE` and `OPTIONAL MATCH` and I get a syntax error for both.

[2021-08-05 04:51] aked21 commented on #102
@jrgemignani @JoshInnis
Guys, please assist @Uria1 on this?

[2021-08-05 06:34] emotionbug commented on #102
@Uria1
currently, not supporting `MERGE` and `OPTIONAL MATCH` clause.
as i know, currently supports `CREATE`, `MATCH`, `DELETE`, `SET`, `REMOVE`, `CASE` clause are working.

except, VLE ( in neo4j called `Variable-length pattern matching` ) feature.

follow the roadmap, on the next release will be supports VLE and `MERGE` clause.

[2021-08-06 02:27] Halkrine opened #103 "How can I get values as specific type when using 'with'?"
From document, default query is here.

`
select *
from cypher('test_graph', $$
		match(v:Part) return v
$$) as (result agtype)
`
That result of type is 'agtype'.

In this situation, I create basic query using 'with'.

`
with a as(select *
from cypher('test_graph', $$
		match(v:Part) return v
$$) as (result agtype))
select a from a
`

Result of datatype of this query is 'record' as a.

So, I have a

[2021-08-06 04:09] shinhanbyeol commented on #103
I don't know English well, so I don't know if I understood your question well. If I understood your question well,
I think this question can explain your curiosity.

CREATE EXTENSION age;
LOAD 'age';
SET search_path = ag_catalog, "postgres", public;

SELECT create_graph('test_graph');

SELECT * from cypher('test_graph', $$
  CREATE (a:Part {part_num: '123'}),
         (b:Part {part_num: '345'}),

[2021-08-06 04:23] Halkrine commented on #103
Of course, it returns text type when I use cypher query only(as (result text)).
I want know when I use 'with', how I get data that I wanted type.

Here is returned value in queried that.
![1111](https://user-images.githubusercontent.com/8775202/128455689-2dded534-41a0-44fc-b920-8a478f89c69e.png)

[2021-08-06 04:42] shinhanbyeol commented on #103
Is this what you want?
혹시 원하는 의도가 이것 인가요?

select "result", "id" from cypher('test_graph', $$ match(v:Part) where id(v) = 844424930131969 return v.part_num , id(v) $$) as (result text, id text);

with a as(
	select * from cypher('test_graph', $$ match(v:Part) where id(v) = 844424930131969 return v.part_num , id(v) $$) as (result text, id text)
)
select "result", "id" from a;

![image](https://user

[2021-08-06 04:46] Halkrine commented on #103
Oh yes. it's correct.

Thanks to reply.

[2021-08-07 20:58] Uria1 commented on #102
thanks!
regarding the optional match... what I'm trying to do is find out if certain nodes exist.
i.e.
[code]
In case both nodes exist, I get both returned which is fine. However, if only one node exist I get nothing back.
Is there a way around it?

[2021-08-07 22:56] audiBookning commented on #102
I haven't tried it but, at first sight for that case, i personally would try the `WITH` clause to separate the two `MATCH` followed of a `WHERE` clause, instead of using the `OPTIONAL MATCH`.

[2021-08-17 12:26] Misterion777 opened #105 "List comprehensions"
Hey,
are list comprehensions supported in AGE?
Using syntax from Neo4j doesnt seem to work, simple example:
[code]

[2021-08-17 14:19] Halkrine commented on #105
You mean that this query(array_field) is working or not with AGE?

I tried that query. Once it works as 'query' (return as jsonb from Pgadmin).

But I'm not sure this result is correct(Because it returns null).

Someone who knows this issue?

[2021-08-17 14:25] Misterion777 commented on #105
array_field is some random array which is an attribute of a graph vertex.
i'm trying it with AGE and receiving following error:
[code]

[2021-08-17 14:40] Halkrine commented on #105
replace x -> v and try it.

[2021-08-17 14:45] Misterion777 commented on #105
no, it should be another variable: it should iterate through the array like in any list comprehension

[2021-08-18 05:13] Halkrine commented on #105
Understood.

Maybe, that function is not supported yet now..

[2021-08-18 07:31] Misterion777 opened #106 "Agtype casting"
Let's say I'm running following query from example:
[code]
When trying to cast to int[] following error occurs:
`ERROR:  cannot cast type agtype to integer[] for column "lst"`

Is it supposed to work, or there is another way to cast agtype array to postgre array?

[2021-08-18 13:27] joefagan commented on #94
Hi Prakasit

Is your priority to look at AGE on windows or on PG 13.

If windows is your priority we can get AGE to work in Docker. Is this of interest?

Thanks
Joe

[2021-08-18 15:58] JoshInnis commented on #105
Hi, List Comprehensions are not currently supported

[2021-08-19 09:26] seo-kw commented on #106
Hello there.

wonder if i exactly give what you just want to.

If you try just like this,
[code]

You'll got this result
[code]

AGE support type casting restrictively. You can find in [http://age.incubator.apache.org/docs/Apache_AGE_Guide.pdf](http://age.incubator.apache.org/docs/Apache_AGE_Guide.pdf) which type can be casted.

Is this what you wanted? If not, just leave a comment plz.

[2021-08-19 12:03] Misterion777 commented on #106
Hello, yes the result is what I wanted, but the implementation seems like a duct tape, I think it should be possible to do that in a more obvious and intuitive way.

[2021-08-19 12:38] joefagan commented on #106
@Misterion777 can you contribute to the project?

[2021-08-19 14:16] seo-kw commented on #106
yup. It seems like a duct tape. lol I'm agree with you.

As you seen in pdf above, Agtype can be casted to 3 ways varchar(char), bool, float.

So i just choosed string conversion ( like a duct tape )

[code]
also result is same as above.
[code]

I cannnot help but it is  still like a ducktape.

But, well, I think, maybe it will better than above

[2021-08-20 13:58] pdpotter commented on #45
I found a (1000 times faster) workaround for the creation of edges between vertices that were added earlier. The workaround consists of inserting the data directly in the underlying tables that are used by Apache AGE.

First, the underlying ids of the vertices are retrieved:
[code]
A single edge is then created using the cypher function to make sure the underlying tables are created correctly (the

[2021-08-20 15:42] #88 closed

[2021-08-20 15:44] jrgemignani commented on #88
This has been resolved. The patch has been applied to the master branch. It will be available in the next release.

[2021-08-25 13:07] nieyankai opened #110 "How to remove a vertex"
How to remove a vertex?

[2021-08-25 16:53] JoshInnis commented on #110
You should be able to remove a vertex with the DELETE clause. Use MATCH to get the vertices you want to remove. If the vertex has edges attached add the DETACH option before the delete keyword

`select * from cypher('graph_name', $$ match (n {id: 1}) delete n $$) as (n agtype);`

[2021-08-30 10:16] pdpotter commented on #45
When the edges are inserted in the specific edge table, they are automatically added to the `_ag_label_edge` table, reducing the workaround to the following and making the relation creation even faster:

First, the underlying ids of the vertices are retrieved:
[code]
A single edge is then created using the cypher function to make sure the underlying tables are created correctly (the id values are

[2021-08-31 12:25] Misterion777 commented on #110
Hey @JoshInnis,
tried your query, I'm getting following error:
`ERROR:  return row and column definition list do not match`

[2021-08-31 13:26] joefagan commented on #110
That error message was from an earlier release eg 0.4.0
Please check that the following shows a later version.
`select extname, extversion from pg_extension where extname='age';`
 extname | extversion
---------+------------
 age     | 0.5.0
(1 row)

The following was run with version 0.5.0 that shows creating and deleting nodes
[code]
a
-------------------------------------------------------------

[2021-08-31 13:29] Misterion777 commented on #110
Indeed, i'm on 0.4.0. I'm using official docker container, are there any plans to update it to 0.5.0?

[2021-08-31 16:56] joefagan commented on #110
There will be an official incubator-age official docker image soon.
Meanwhile you can do it yourself like this. Takes a few minutes.

I got this from sorrell/docker-agensgraph-extension/dockerfile

Let me know if it works

create a file called Dockerfile in the some directory with the following contents

[code]
Then build the image with
`docker built -t misterion/age .`

then
`docker run -it -e PO

[2021-08-31 18:32] Misterion777 commented on #110
Thanks, will try that

[2021-08-31 18:38] joefagan commented on #110
I noticed a typo. Command is docker build (not docker built)

[2021-09-01 04:49] asltjoey commented on #94
Hi Joe,

The data I'm playing with is in the enterprise server, also a PG 13, and I am using my laptop with PG 13 installed to do some testing. Based on this understanding, I think the priority is much on PG 13.

Thanks,
Prakasit

[2021-09-03 03:42] nieyankai opened #113 "How to work with dynamic property"
I'm working on a system that need to deal with dynamic properties.

If I want to create a vertex, I can do it like this before that:
select * from ag_catalog.cypher('people',$$  create (nyk:person{name:'nyk'}) return nyk $$) as (v ag_catalog.agtype);

But now, I don't know the property, the property is given by the user as a json object.
The property may be {name:'asdf'} or {name:'asdf', age:25} o

[2021-09-03 05:29] Halkrine commented on #113
You mean,
-> anyone who gives you a data,
-> and you have to translate that value,
-> and find values from vertex that created.
-> but you forgot property label/values of specific vertex

If I understood that, as a basic, it is way to you try do.

1. If you know vertex name, try it.
* test_graph is your graph path.
`select * from cypher('test_graph', $$
match(n:person) return n
 $$) as (n agtype)

[2021-09-06 07:59] pdpotter commented on #113
I understood the question as "How can I attach properties and values to a vertex if I don't know the properties beforehand". Are the properties predefined (e.g., the user can enter some properties such as "name", "age", "job" information, but no others), are is the user completely free to enter data?

I see two possible solutions (I assume the "system" you are talking about consists of some applic

[2021-09-09 09:16] nonparibus commented on #54
Has anyone dug around this further? Citus + AGE would be quite the killer combo.

[2021-09-13 10:18] nieyankai commented on #113
You got it. The property is not predefined, no one knows the property key util the user enter it.
So the 2nd solution is a choice, but this will encounter another problem: how to match the properties?
I want to use like this but I can't:
SELECT * from ag_catalog.cypher(
    'people',
    $$ MATCH(nyk:person{$key1:$value1,$key2:$value2....}) RETURN nyk, $1, $2, $3, $4... $$
) as (v ag_catalog.agtyp

[2021-09-13 10:19] nieyankai commented on #113
You got it. The property is not predefined, no one knows the property key util the user enter it.
So the 2nd solution is a choice, but this will encounter another problem: how to match the properties?
I want to use like this but I can't:
SELECT * from ag_catalog.cypher(
'people',
$$ MATCH(nyk:person{$key1:$value1,$key2:$value2....}) RETURN nyk, $1, $2, $3, $4... $$
) as (v ag_catalog.agtype);
or
S

[2021-09-13 10:20] nieyankai commented on #113
You got it. The property is not predefined, no one knows the property key util the user enter it.
So the 2nd solution is a choice, but this will encounter another problem: how to match the properties?
I want to use like this but I can't:
SELECT * from ag_catalog.cypher(
'people',
$$ MATCH(nyk:person{$key1:$value1,$key2:$value2....}) RETURN nyk, $1, $2, $3, $4... $$
) as (v ag_catalog.agtype);
or
S

[2021-09-13 11:19] pdpotter commented on #113
Example for the second solution:

Create person nodes
[code]

Retrieve all persons with age 21
[code]

Retrieve all persons with age greater than 25
[code]

[2021-09-13 15:56] jrgemignani commented on #102
We are currently working on putting together a list. Joe Fagan is the point person on this.

[2021-09-16 10:14] Elektra-K commented on #102
Hello, this would be really useful.  When do you think you will have this published?

[2021-09-27 07:32] ontologiae commented on #26
Hi @JunKK7 do you have more information about this ?

[2021-09-27 10:50] joefagan commented on #26
@JunKK7 Do you mind contacting me at Joe.Fagan@bitnine.net please?

[2021-09-27 14:53] pdpotter opened #119 "Edges are created in the wrong direction"
When an edge is created following the documentation, the edge is created in opposite direction. Steps to reproduce:

Create two vertices
[code]

[code]

Create an edge between the vertices. If the edge is returned, it is already clear the edge has the opposite direction.
[code]

When querying the graph for the edge in the wanted direction, no results are returned.
[code]

When querying the graph f

[2021-09-27 18:27] jrgemignani commented on #119
I am unable to reproduce this in the latest version -

psql-11.5-5432-pgsql=# drop extension age; create extension age; load
'age'; set search_path TO ag_catalog;
ERROR:  extension "age" does not exist
CREATE EXTENSION
LOAD
SET
psql-11.5-5432-pgsql=# SELECT create_graph('test_graph');
NOTICE:  graph "test_graph" has been created
 create_graph
--------------

(1 row)

psql-11.5-5432-pgsql=# select

[2021-09-28 02:13] yjy44 commented on #119
I tried same query, but I couldn't find this issue.

We have to know what version of AGE.

[2021-09-28 02:14] Halkrine commented on #119
I tried same query, but I couldn't find this issue.

We have to know what version of AGE.

[2021-09-28 07:35] pdpotter commented on #119
Thank you for your quick responses. I am unable to reproduce the issue on a new virtual machine as well.

On my existing virtual machine (Debian buster), the issue occurred with 23ec457c951553994efa7ae9111d7761118a0270, v0.6.0 (3681c90da68353507001db89eb429755d34857f7) and the current master (fa5782f0f03e8172c5f367ad68794756593c18b0).

I managed to fix the issue on my existing virtual machine by u

[2021-09-28 07:35] #119 closed

[2021-10-04 14:11] joefagan commented on #110
There is a docker image of 0.6.0 now available via
docker pull joefagan/incubator-age

[2021-10-07 16:49] simonriggs opened #127 "Support for Postgres14?"
The docs say "Apache AGE is currently being developed for the PostgreSQL 11 release and will support PostgreSQL 12 and 13 in 2021".

What versions are supported? Please update README to reflect status/progress. Thanks!

[2021-10-07 16:59] jrgemignani commented on #127
We are still working on finishing up AGE for PG 11, at the moment.

Support for PG 12 and beyond likely won't start until 2022.

I will have someone follow up with an update to the documentation.

john

On Thu, Oct 7, 2021 at 9:49 AM simonriggs ***@***.***> wrote:

[2021-10-14 13:01] deem0n opened #131 "Does AGE support replication?"
Logical, Streaming or both ?

[2021-10-19 03:26] blusewang commented on #127
Oh！at 2022, PG 15 will released! come on! AGE!

[2021-10-25 07:53] deem0n opened #132 "ERROR: extension "age" has no update path from version "0.5.0" to version "0.6.0""
There are no upgrade scripts, unfortunately. To upgrade I need to drop extension and all dependent data.

[code]

[2021-10-27 09:06] wsm12138 opened #133 "The readme. md link on the main interface is invalid"
A broken link exists in the title Documentation

[2021-10-28 03:36] #133 closed, assigned to nobody

[2021-11-03 10:01] deem0n opened #137 "ERROR: container is not an agtype array when SET with map"
[code]

But, if you enclose map into array, then magically first element of the array will be used as value for the assignment:

[code]

--------
here is full log of steps:

[code]

[2021-11-03 18:42] JoshInnis commented on #137
Issue has same root cause as https://github.com/apache/incubator-age/issues/44. Currently using maps and list in the SET clause are not properly supported. We will investigate solutions for this.

[2021-11-03 19:50] deem0n commented on #137
Currently I use `SET v.config = [{first: 1, second: {a: 3}}]` hack. Will switch to normal syntax once fixed. Thanks!

[2021-11-04 23:17] emotionbug commented on #127
Maybe on PG15, will be support hook for parser. It will take time, but I think it will be possible to implement like AgensGraph.

https://www.postgresql.org/message-id/20210501072458.adqjoaqnmhg4l34l@nol

[2021-11-05 13:30] Oleg26Dev opened #138 "How to install AGE in PostgreSQL 14 on Windows?"
I did not find any information about the AGE in PostgreSQL 14 on Windows.
How to?

[2021-11-05 14:53] pdpotter commented on #138
From https://github.com/apache/incubator-age/issues/127#issuecomment-937982164

[2021-11-05 17:44] tsipo opened #139 "required: roadmap for pg versions support"
I just saw this issue concerning pg 14 on Windows (https://github.com/apache/incubator-age/issues/138). The reply there
`Support for PG 12 and beyond likely won't start until 2022`
is very discouraging, and contradicts [Age home page](https://age.apache.org/#) which states
`AGE is currently being developed for the PostgreSQL 11 release and will support PostgreSQL 12 and 13 in 2021 and all the futu

[2021-11-05 18:15] deem0n opened #140 "What is the correct way to MATCH vertexes without edges?"
I tried

[code]

and it returns nothing. I am sure there are plenty not connected vertexes in my DB though.

[2021-11-05 18:38] jrgemignani commented on #140
It is best not to assume anything about a graph. Did you create a vertex without an edge to test the command against?

[2021-11-05 19:13] joefagan commented on #140
To find orphaned nodes...
[code]

[2021-11-08 16:01] joefagan commented on #140
@deem0n has uncovered something for sure.

The AGE behaviour is quite different from that of Neo4j sandbox (or AgensGraph) where the NOT EXISTS seems to find edges that could exist but don't. EG even for an orphaned node {name: "a"}, the only node in the graph,
[code]
returns
"a", "a"
since there is no loop edge from a to a.

See more examples below and how to create them from scratch

[code]
retu

[2021-11-09 01:00] jrgemignani commented on #140
It should work but it doesn't and I'm not sure why. I even traced it in the debugger to no avail. We will have to create a JIRA ticket and look into it more deeply.

[2021-11-10 16:58] joefagan commented on #140
Jira ticket is now raised and has been assigned.

[2021-11-14 20:15] simonowy commented on #132
This is becoming a big problem as we have to drop (lose) all data to upgrade to the latest version of AGE. Is there a way to avoid this?

[2021-11-15 08:14] pdpotter commented on #132
:warning: I haven't tested is.

I don't think the way the data is stored has changed between 0.5 and 0.6 (please correct me if I'm wrong), so you could try:

[code]

[2021-11-21 15:43] afidegnum opened #145 "Guideline for driver development"
I would like to write the agensgraph driver in Rust language.

what are the API guidelines?

[2021-11-24 13:31] joefagan commented on #145
Do you mean Agensgraph or age?
While getting to Postgres is similar for both, the syntax for passing cypher commands will be different.
There are no guidelines prepared for the Rust language. Can you be more specific about what you need.
Are you using https://github.com/sfackler/rust-postgres or https://github.com/fMeow/arangors as starting points?

[2021-11-24 15:21] afidegnum commented on #145
@joefagan i'm thinking of using rust-postgres as a starting point since we are in the postgres environment . If possible, I can work on both _agensgraph_ and _age_. The reason for this exercise is due the massive adoption of rust language and postgres being in the system for long, adding a graph feature has a high selling point.
I have been personally interested in graph databases for the past 7 y

[2021-11-29 15:53] joefagan commented on #145
@afidegnum OK great. I sent you a connection req on Linkedin last week. Please accept connection.

[2021-11-29 16:00] joefagan commented on #110
@Misterion777 did it work? Can we close this issue?

[2021-11-29 16:08] afidegnum commented on #145
@joefagan ah, sorry I didn't see it, let me accept.

[2021-11-29 16:13] afidegnum commented on #145
Connection Accepted

[2021-11-30 00:39] JoshInnis commented on #102
Our documentation outlines what parts of the openCypher specs is currently supported. https://age.apache.org/docs/master/index.html. Optional Match is curretnly being worked on, we want it out ASAP.

[2021-11-30 01:04] #138 closed

[2021-11-30 01:04] #23 closed

[2021-11-30 01:41] JoshInnis commented on #139
Hi tsipo, We are currently finishing up PG 11. We will investigate AGE on PG 13, 14, and 15 and provide a more concrete timeline towards the conclusion of original goal of supporting the openCypher specification in Postgres 11.

[2021-11-30 01:47] #91 closed

[2021-11-30 04:57] JoshInnis commented on #45
Hello,

A schema is a graph name and a label is a table name. Id and properties field are columns in vertices and id, start_id, end_id, and properties are columns in the edges. Use the agtype_access_operator(properties, key) to get to get a property value.

Know all that you can use Postges' standard DDL language to implement constraints and unique values.

[code]

[2021-11-30 09:19] pdpotter commented on #45
This is great, thank you!

Since indices require an immutable function, an additional function will still need to be created for them. When I create a `get_id` function with

[code]
and use it in an index with
[code]
the creation of vertices with the same id will be prevented
[code]
but the index will still not be used when trying to match vertices with a specific id:
[code]
[code]

Is there a way

[2021-11-30 22:47] JoshInnis commented on #45
It might be safe to change `agtype_access_operator` to immutable.

Per Postgres' Documentation:

IMMUTABLE indicates that the function cannot modify the database and always returns the same result when given the same argument values; that is, it does not do database lookups or otherwise use information not directly present in its argument list. If this option is given, any call of the function wit

[2021-11-30 23:03] JoshInnis commented on #45
Indices cannot currently be used while matching. There will need to be some re factoring done to allow the planner to realize opportunities where the indices can be used.

[2021-12-01 15:12] Misterion777 commented on #110
@joefagan yes, it worked, sorry for delay, issue can be closed

[2021-12-01 23:34] JoshInnis commented on #140
PR #141 should have resolved this issue.

[2021-12-01 23:36] #98 closed

[2021-12-02 02:12] #65 closed

[2021-12-02 09:45] afidegnum opened #151 "Can you add support for other field types for vertexes?"
this didn't work out for me

`CREATE (n:Person {name: 'top_node', attrib: {myclass: 'id'}})`

neither a list of attributes. `CREATE (n:Person {name: 'Joe', attrib: [{myclass: 'id'}]})`

[2021-12-02 10:04] pdpotter commented on #151
Can you explain in more detail what doesn't work out for you? I do get expected results with your queries:

[code]

[code]

[code]

[2021-12-02 10:35] afidegnum commented on #151
[code]
returns
[code]
however i have a syntax error

[code]
I'm using https://github.com/rhizome-ai/apache-age-python

[2021-12-02 10:50] pdpotter commented on #151
It's difficult to analyze your issue without a complete minimal reproducible example, but I think your issue might be more related to https://github.com/rhizome-ai/apache-age-python than to this repository.

Please provide the complete code of an example (as minimal as possible) to reproduce your issue.

[2021-12-04 05:53] simonowy commented on #132
I tested what @pdpotter suggested. Lost the graph - that is select * from cypher ('graph_name', ...) ... doesn't work after restore the db.

[2021-12-04 10:25] afidegnum opened #152 "How can i return the graph traversa as JSON using json_build_object?"
I needed the following query to be represented as json.

[code]
reading from agensgraph documentaiton, I noticed there is a funciton called `json_build_object` but when called, I ended up having an error of `Function ag_catalog.age_json_build_object(agtype) does not exist`
Can you please give an example?

[2021-12-04 15:08] deem0n commented on #132
I had the same experience, but I have found a solution for safe dump/restore and upgrades. Will send Merge Request soon

[2021-12-05 06:13] afidegnum opened #153 "Collect returns an empty result."
I tried obtaining a nested value between the parent uniquely and all it's children.

the following query returns empty on children.
[code]

[code]

[2021-12-06 07:12] seo-kw opened #154 "ag_graph.c : void value not ignored as it ought to be"
**Describe the bug**
- I just have installed postgresql 12.9 newly and, continuously, installing age 0.5.0, got error `error: void value not ignored as it ought to be`

**How are you accessing AGE (Command line, driver, etc.)?**
- command line

**What data setup do we need to do?**
- Not about data.

**What is the necessary configuration info needed?**
- sudo apt-get install build-essential librea

[2021-12-06 07:13] emotionbug commented on #154
PG 12 is not supported. duplicated with #127

[2021-12-06 07:23] seo-kw commented on #154
Oh.. Sorry!!

I didn't come up with searching other's report before i write this.

anyway, thanks for the reply.

[2021-12-06 07:23] #154 closed

[2021-12-06 08:22] pdpotter commented on #153
Is it possible to give some more information about the date in your graph? E.g. the result of

[code]

The following minimal example seems to work:
### Setup
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

### Query
[code]

[2021-12-06 08:38] pdpotter commented on #152
Agesgraph (https://github.com/bitnine-oss/agensgraph) and Apache AGE (this repository) are two different projects.

`json_build_object` should indeed be supported by Agensgraph, but I can't find anything on this function for Apache AGE.

You could however return the results as a list
[code]
or as a map
[code]

[2021-12-06 10:01] afidegnum commented on #153
those returns perfectly

[code]
[code]

[2021-12-06 10:04] afidegnum commented on #153
I just discovered the correct query later on, what I needed to do is not to filter any field out, the rest could be done from python

[code]

{"id":844424930131987,"label":"node","properties":{"tag":"div","attrib":"{\"id\": \"second\", \"class\": \"below\"}"}} | [{"id":844424930131988,"label":"node","properties":{"tag":"div","attrib":"{\"class\": \"inner\"}"}}]
-- | --
  |  
[code]

[2021-12-06 10:11] afidegnum commented on #152
`(map agtype)`, `(list agtype)` are `map` and `list` reserved characters for `agtype`?

[2021-12-06 14:11] joefagan commented on #153
@afidegnum
You shouldn't need to rely on Python to filter your results. What you're doing should work.
Would be good to see all your code.
Please test the following. If it works, then please submit all your code that doesn't work.

[code]
Last query should return
    p     |          c
----------+----------------------
 "parent" | ["child2", "child1"]
(1 row)

[2021-12-06 14:25] joefagan commented on #152
@afidegnum
No map and list are not reserved in SELECT ... as (map agtype)
It returns a map or list only because the RETURN clause is shaped like
RETURN { , , } --returns map
or
RETURN [ , , ] --returns list

Map and List can be replaced with foo or bar etc. It will rename the column output to foo or bar as shown in this complete example here.

[code]
Last query returns
                foo
--------

[2021-12-06 14:30] joefagan commented on #151
@afidegnum
It would be great if you submit self-contained code snippets to see your problem.
Creating code from scratch, to try to replicate what you might be doing is time consuming and we may be missing your issues as we have seen a couple of times. IE we didn't catch what the problem with your code is.

[2021-12-06 14:57] afidegnum commented on #153
That's the result so far.
I noticed some of the results are also not formatted in `apache-age-python` I draw the attention to the maintainer. I'm still waiting for his reply.

![image](https://user-images.githubusercontent.com/374206/144868126-b21ae7cf-5b98-4065-bb4c-a15f5e708ffd.png)

[2021-12-06 15:14] joefagan commented on #153
@afidegnum

Works and formats correctly for me.
Please send me your code that built the graph and you query that failed.

![image](https://user-images.githubusercontent.com/48284776/144870968-53094e2e-0ca1-4de1-89e1-0608e51e8e94.png)

[2021-12-06 15:22] afidegnum commented on #153
I just repeated this code. the issue I'm facing is: collecting the fields returns an empty result rather than the node themselves.
So, `collect(c)` works but collect(c.name) don't. I believe it should be a version issue.
I'm using the docker version of AGviewer and AG extension on Postgres 11

[2021-12-06 15:23] afidegnum commented on #153
the code I used to build the graph is in python, can I post it ?

[2021-12-06 15:36] joefagan commented on #153
yes please, together with version numbers of everything and the docker hub link to the docker images you are running
select version();
select * from pg_extension;

[2021-12-06 15:58] joefagan commented on #153
@afidegnum
You are correct - there is something not right about the latest image bitnine/agviewer:latest
docker run --publish=3001:3001 --name=agviewer bitnine/agviewer:latest
[code]
does not print the value of property 'name'.

whereas
[code]
<html>
<body>

n
--
["parent","child1","child2"]

</body>
</html>

works fine.

[2021-12-06 20:00] afidegnum commented on #153
you can have a look [at my repo](https://github.com/afidegnum/dom_serializer)

[2021-12-08 05:15] aked21 commented on #54
I know some tests have been done for ShardingSphere + AGE.
https://shardingsphere.apache.org/

[2021-12-08 17:27] joefagan commented on #57
@pdpotter to automatically load 'age' see issue #91

[2021-12-09 06:35] afidegnum opened #156 "What's the workflow for the version upgrade?"
Can you please provide a workflow for upgrading _incubator-age'_s version?

[2021-12-09 07:40] pdpotter commented on #156
I don't think such a workflow currently exists. There is already a discussion on this subject at https://github.com/apache/incubator-age/issues/132

[2021-12-09 20:17] jrgemignani commented on #132
There aren't any real differences on how the data is stored between the recent versions.

We will try to come up with a reasonable way to upgrade from version to version.

John

[2021-12-13 16:17] afidegnum opened #158 "no binary output function available for type agtype!"
I decided to step into the Rust AGE development by starting with few tests and I'm greeted with the following error.

`Row { columns: [Column { name: "count", type: Int8 }] }`
`Error: db error: ERROR: no binary output function available for type agtype!`

this is what I've written so far.

[code]

[2021-12-14 19:59] afidegnum commented on #158
any update?

[2021-12-15 00:19] joefagan commented on #158
I've tried your commands in Postgres with AGE extension using the command line utility psql. I get the following - all as expected - shown below.

Does it work correctly using psql?
Can you isolate the line in your code that produces the error?

Maybe someone else can help with the error "no binary output function available for type" which I think is coming from postgres.

[code]

postgres=# SELEC

[2021-12-15 01:29] afidegnum commented on #158
Thanks, let me give it  a try

[2021-12-15 02:02] joe-fagan commented on #158
Notice in your code
WHERE name= '\text_test
Should it read
WHERE name= \'text_test
?

[2021-12-15 02:03] joe-fagan commented on #158
Notice in your code
WHERE name= '\text_test
Should it read
WHERE name= \'text_test

[2021-12-15 02:05] joe-fagan commented on #158
The renderer is leaving out a backslash
I think I got it this time…
WHERE name= '\text_test
Should it read
WHERE name= \\'text_test

[2021-12-15 11:01] afidegnum commented on #158
yes, since the quey is enclosed in a string, I need to escape additional quotes so it can be consumed by the db engine

[2021-12-15 12:12] joe-fagan commented on #158
… but you have put the escape character inside the string. You have escaped the T not the quote. You have written
Quote Backslash Text
instead of
Backslash Quote Text

[2021-12-15 12:30] afidegnum commented on #158
Thanks for the hint. I'm now trying the queries again, I will keep you updated shortly

[2021-12-16 20:39] pdpotter opened #160 "Set clause with invalid syntax causes abnormal termination"
**Describe the bug**
When using a set clause with an invalid syntax, the server is terminated abnormally and the connection is closed.

**How are you accessing AGE (Command line, driver, etc.)?**
- psql

**What data setup do we need to do?**
[code]

**What is the necessary configuration info needed?**
/

**What is the command that caused the error?**
[code]
[code]

**Expected behavior**
- A syntax

[2021-12-16 20:46] pdpotter opened #161 "Index is lost after using SET clause"
**Describe the bug**
After updating data using the SET clause, data from the updated vertex is no longer in the index.

**How are you accessing AGE (Command line, driver, etc.)?**
- psql

**What data setup do we need to do?**
[code]

**What is the necessary configuration info needed?**
/

**What is the command that caused the error?**
[code]

**Expected behavior**
I would expect an error message `

[2021-12-17 16:24] afidegnum commented on #158
I'm trying to understand the ANTLR parser, Can you please explain, what is supposed to be the workflow of the AGE driver?

[2021-12-17 17:42] joefagan commented on #158
@afidegnum
Please can we close out this issue first. IE

- Did the Cypher code I separated out work for you?
- Did correcting the order of backslash and quote work for you?

Please answer those questions.

Please raise this new ANTLR question as a new issue,

[2021-12-17 18:55] afidegnum commented on #158
Ok, thanks, The first query works, I was able to count the rows, but the second query didn't work, Rust need to convert the binary output to a textual output, which leads to the question on ANTLR. I'm opening a new issue.

[2021-12-17 18:55] #158 closed

[2021-12-17 19:06] afidegnum opened #162 "Rust-Postgres, binary support - ANTLR, Can you explain the parsing workflow?"
I'm struggling to understand the concept of parsing with ANTLR and mapping the AGE output to custom data type.

Can you please throw more light?

My Initial attempt of executing the query brought the earlier error of: `Error: db error: ERROR: no binary output function available for type agtype!`

I would need to cast `agtype` to a readable format.

[2021-12-19 23:03] afidegnum commented on #162
any update?

[2021-12-19 23:09] emotionbug commented on #162
I'll look into your issue with #158

[2021-12-20 03:29] emotionbug commented on #162
I found some thread about this.

when use rust-postgres driver needs binary I/O.
I think It needs some implementation.

@jrgemignani @JoshInnis

https://github.com/sfackler/rust-postgres/issues/389
https://www.postgresql.org/message-id/CANmj9Vz10xO_%2BUTE_K7o7BcdDpZhc0W6xBYB%2B7%2Bz6%2BfLVdoxMQ%40mail.gmail.com

[2021-12-20 04:22] afidegnum commented on #162
This is my attempted implementation so far, which wasn't successful. I believe there is something I'm not properly addressing.

Cargo.toml
[code]
src/main.rs

[code]
[code]

[2021-12-20 08:07] emotionbug commented on #162
prepare
[code]

If you use that commit to execute the above code, output is as follows.
output
[code]

[2021-12-20 08:17] afidegnum commented on #162
using rust-postgres or from the console ?

[2021-12-20 08:30] emotionbug commented on #162
With rust-postgres

[2021-12-20 08:31] afidegnum commented on #162
ok, give me 15mins, let me check right away

[2021-12-20 08:55] afidegnum commented on #162
The issue i'm having is querying the result, that's where i'm having the binary error

[2021-12-20 09:01] emotionbug commented on #162
@afidegnum right.
If you can, checkout that PR. and, drop extension, reinstall extension.

because, only reinstall will not affect `pg_type` definition.

[2021-12-20 09:02] afidegnum commented on #162
ok, good, right away!

[2021-12-20 09:21] afidegnum commented on #162
what's the command for checking out the binary branch ?

[2021-12-20 09:22] emotionbug commented on #162
`Git branch` show current branch.

[2021-12-20 09:23] afidegnum commented on #162
master

[2021-12-20 09:25] emotionbug commented on #162
Change branch. `git checkout binary_io`

[2021-12-20 09:26] afidegnum commented on #162
ok, wait a min

[2021-12-20 09:33] afidegnum commented on #162
still no luck, even though used the `binary_io` branch I even restarted the PostgreSQL server

[2021-12-20 10:04] afidegnum commented on #162
the error lies when i query results like
[code]

[2021-12-20 11:52] afidegnum commented on #162
can we capitalize on something like this?

`COPY foo FROM stdin BINARY`

[2021-12-20 14:56] afidegnum commented on #162
any insight ?

[2021-12-21 04:26] emotionbug commented on #162
I tested again. it works.

[code]

[code]

[code]

[2021-12-21 05:01] afidegnum commented on #162
Thanks, let me try again

[2021-12-21 05:34] afidegnum commented on #162
it's a bit strange, I'm still not lucky even though the query returned a successful result.

I could see you run your extension from the docker. I'm using Arch Linux, is there something that needs implementing?

[code]

[code]

[2021-12-21 05:45] emotionbug commented on #162
@afidegnum

[code]

I always use docker environment. and, it works as above scenario without any problems in a new environment.
I think you are missed something.

[2021-12-21 05:51] afidegnum commented on #162
what about the permissions? can all be done at the root level?

[2021-12-21 05:56] emotionbug commented on #162
@afidegnum I don't know why are you talking about permission. but, it can

[2021-12-21 05:57] afidegnum commented on #162
have you tried fetching results ? i.e fetch nodes

[2021-12-21 05:59] afidegnum commented on #162
the problem i'm having is when running this particular query

[code]

[2021-12-21 06:01] emotionbug commented on #162
@afidegnum  check on above comment. I wrote my code, and results.

[2021-12-21 06:52] emotionbug commented on #153
I resolved issue on AGViewer. anything else left?

[2021-12-21 07:30] afidegnum commented on #153
Not for now. still working on the other issue

[2021-12-21 13:56] deem0n commented on #132
That means, that you can just install new age version (make sure that age.so file is new) and restart PostgreSQL server.

[2021-12-21 17:07] jrgemignani commented on #162
I have verified that the message is output from PG functions and will look into the possibility of add it. Unfortunately, I cannot make any guarantees due to the nature of PGs code base.

[2021-12-21 17:13] afidegnum commented on #162
Thanks a lot

[2021-12-21 23:12] jrgemignani commented on #162
I'm going to have to retract that. After rereading the thread, everything that @emotionbug has done is correct. My response was to an earlier comment so, it doesn't apply here.

[2021-12-21 23:49] jrgemignani commented on #162
I have pushed to the master branch @emotionbug and my patch. It "should" correct the issue for anyone using the latest clone of the master. Please update AGE on your side after cloning and building from the master to try it out.

[2021-12-22 04:36] afidegnum commented on #162
ok, Everything is working when I used @emotionbug repo in docker, I will need to try the fresh installation on my Arch distro too. that's where i have been having the problem.

[2021-12-22 09:08] deem0n commented on #132
#166 is first step to allow smooth upgrades and dump&restore

[2021-12-23 13:50] #160 closed

[2022-01-11 15:54] ontologiae opened #172 "Syntax error using MERGE command"
**Describe the bug**
Syntax error using MERGE command.
This request is valid in Neo4j context.

**How are you accessing AGE (Command line, driver, etc.)?**
- psql command line

**What data setup do we need to do?**
Nothing

**What is the necessary configuration info needed?**
- Just PorgreSQL 11 and AGE (docker image)

**What is the command that caused the error?**
[code]
[code]

**Expected behavi

[2022-01-12 21:10] JoshInnis commented on #172
Merge is currently not implemented. Please see the documentation for what is currently implemented in AGE. **https://age.apache.org/docs/master/index.html**

The current schedule has MERGE being added to AGE in release 0.8.0.

[2022-01-17 20:20] bravius commented on #161
Hey bud, I was also looking for an indexing solution, so I just re-worked your function as a plpgsql function. It seems to work as expected now, throws error on duplicates. Thus, I don't think it was a bug, just the way the custom function was written:

[code]

[2022-01-18 14:39] ontologiae commented on #172
Ok, my bads, I saw merge somewhere in the doc. Please find with this request a good test example when you'll implement it

[2022-01-21 04:09] bravius opened #176 "nodejs-pg-age driver returns 'undefined' for primitive column types (v0.7.0)"
## Summary

The nodejs driver (node-pg-age) returns _undefined_ for any agtype column that contains a primitive type.

## Problem description

According to the documentation on Apache AGE types (https://age.apache.org/docs/master/intro/types.html):

By this I assume all values returned from AGE are typed as _agtype_.

I've implemented the nodejs driver, per the instructions on the README page (htt

[2022-01-21 04:18] emotionbug commented on #176
It will fix it.

https://github.com/apache/incubator-age/pull/177

[2022-01-21 04:38] bravius commented on #176
@emotionbug - Thanks very much for the speedy fix, works as expected now.

[2022-01-21 04:38] #176 closed

[2022-01-21 04:44] aked21 commented on #176
Thanks @emotionbug

[2022-01-23 03:28] Schelling1989 opened #179 "Geospatial support, or with PostGIS extension"
1. Does AGE support any geospatial features, something like https://www.arangodb.com/docs/stable/indexing-geo.html ?
2. Or, can I use this extension coordinating with PostGIS extension, and use the PostGIS functions in AGE  cypher expression ?

Any document resources will be appreciated.
Thanks a lot.

[2022-01-25 08:42] rhizome-ai opened #180 "AGE extension version check"
AGE has no function to show AGE version, so when I need to check the AGE version, I can get it with "select * from pg_extension" statement alternatively.
But, when I upgrade Docker container(to new version of AGE) with external volume mount for data directory(filled with old version data), the extension version of AGE remains old one in pg_extension. It can make confusion to some application devel

[2022-02-01 14:52] afidegnum opened #182 "Installation error on Debian 10 in windows WSL2"
**Describe the bug**
A clear and concise description of what the bug is.
I have a compilation error while installing apache-AGE on debian 10 WSL (Windows Subsystem for Linux)
and Postgres 11

However I come across this error:

[code]

Postgres11 is successfully running

Can you please give more hints on this error?

[2022-02-01 15:21] pdpotter commented on #182
Can you try installing the postgresql-server-dev package?

[code]

[2022-02-01 15:32] afidegnum commented on #182
Thanks, It compiles

[2022-02-08 06:36] JoshInnis commented on #127
We are currently working on AGE compatibility with Postgres 12. Postgres 13 and beyond is currently being researched. Please expect a slightly more accelerated status update for Postgres 12+ coming soon. For even more updates on the status of Postgres 12+ subscribe to the incubating-Apache AGE dev mailing list by sending an email to: dev-subscribe@age.apache.org. We have many issue to discuss rega

[2022-02-08 06:38] JoshInnis commented on #179
Hi,

Currently we do not actively support PostGIS. https://github.com/apache/incubator-age/issues/48

[2022-02-08 06:39] JoshInnis commented on #106
Hi,

[2022-02-08 06:40] JoshInnis commented on #106
Hi,

The patch mentioned in this issue solves casting agtype to a 4 byte integer array. We should probably support type casting to a 2 byte and 8 bytes array.

[2022-02-08 06:41] #140 closed

[2022-02-08 06:50] JoshInnis commented on #161
@pdpotter Have you confirmed @bravius 's finidings, or is this still an issue?

[2022-02-08 06:52] JoshInnis commented on #102
OPTIONAL MATCH is now supported. MERGE is expected to be supported by the next release.

[2022-02-08 06:53] #182 closed

[2022-02-08 07:06] JoshInnis commented on #26
incubating-Apache AGE is an open source project. Please give us the link to this API.

[2022-02-08 11:51] #153 closed

[2022-02-10 22:51] bravius commented on #161
@pdpotter

Okay I just checked that.

When CREATE-ing a vertex with a duplicate key, I get "duplicate key value violates unique constraint", as expected.

When I use MATCH and SET to update an existing vertex with a duplicate key, no error is thrown and the index seems to be completely ignored.

It seems that SET syntax is bypassing index constraint checking, but CREATE syntax does get checked.

[2022-02-12 14:38] kevintruong opened #186 "Match node with not existed label"
**Describe the bug**
A clear and concise description of what the bug is.

**How are you accessing AGE (Command line, driver, etc.)?**
- python driver

**What data setup do we need to do?**
[code]

**What is the command that caused the error?**
[code]
[code]

**Expected behavior**
return empty record

**Environment (please complete the following information):**
- Version: [e.g. 0.7.0]

**Additional

[2022-02-13 00:39] kevintruong opened #187 "support multiple label"
**Is your feature request related to a problem? Please describe.**
support multi label for node

**Describe the solution you'd like**
support multi label when create node/edge

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
[code]

[2022-02-14 03:39] bravius commented on #161
@JoshInnis - It's still an issue. CREATE throws errors on index duplicates, but SET does not.

[2022-02-15 12:57] kevintruong commented on #187
hi @jrgemignani jr
Sorry to mention you. I don't mind to bother you so fair.
But would you please give me some info about the features: Support multi label
I know it will take time

[2022-02-15 21:26] jrgemignani commented on #187
Please do not tag specific individuals who are not in a thread, to bring them in. Not everyone works on the same items and you may end up not getting an answer because others will expect someone else to respond.

[2022-02-15 21:41] jrgemignani commented on #187
At the inception of this project, it was decided to not support multiple labels. I believe this was due to performance reasons and possibly the added complexity. That doesn't mean that it isn't possible to add them. But, that would be driven by a demand for them and the difficulty in adding them. As for a workaround, you could use a property field.

[2022-02-16 00:19] kevintruong commented on #187
thanks you, your fast response help me a lot

[2022-02-19 04:16] kevintruong opened #189 "Match with order by can not return the node"
**Describe the bug**
A clear and concise description of what the bug is.

**How are you accessing AGE (Command line, driver, etc.)?**
- [e.g. JDBC]

**What data setup do we need to do?**
[code]

**What is the necessary configuration info needed?**
- [e.g. Installed PostGIS]

**What is the command that caused the error?**
[code]
[code]

[2022-02-19 07:06] jberzy commented on #189
I believe `order by` is just a sub-clause of a projection clause i.e. `return` or `with`. Try placing `order by` clause after the `return` clause.

[2022-02-19 08:30] kevintruong commented on #189
[code]
Tried, but still not work . Thanks for your rsp

[2022-02-19 08:34] kevintruong commented on #189
Ok. got it
[code]

[2022-02-22 18:28] jrgemignani commented on #189
The later does work -

[code]

[2022-02-22 18:43] jrgemignani commented on #189
This does work. What version of AGE are you using?

`psql-11.5-5432-pgsql=# SELECT * from cypher('cypher_vle', $$ MATCH (u) return u $$) as (result agtype);
                                               result
----------------------------------------------------------------------------------------------------
 {"id": 844424930131972, "label": "begin", "properties": {"id": 100, "name": "vertex 100

[2022-02-25 01:20] JoshInnis commented on #172
Hi, MERGE has been added to master and should be available in the next release.

[2022-02-25 01:31] #110 closed

[2022-03-02 16:00] deem0n commented on #180
This is related to #132 and #156

[2022-03-09 14:59] Paxxxxxv-Dmitry opened #195 "Variable Length Edges feature does not scale well with the length of the path"
Hello,

a database - 1.5 millions vertices and  1.2 millions edges.
Query runtime:
[*..4]. Total query runtime: 7 secs.
[*..5]. Total query runtime: 3 min 30 secs.
[*..6]. Total query runtime: ~7 min.
...
[*..10]. It is stuck forever.

It works very slowly. Do you have any idea how to debug this?

`SELECT * FROM cypher('graph', $$
MATCH (z:type1)-[*..4]->(b:type2 {id: 'CI02597329'})
RETURN z.id
$$

[2022-03-09 17:10] jrgemignani commented on #195
The time taken depends on a couple of factors: The size of the graph, how connected the graph is, how qualified the query is, and some PostgreSQL quirks. Without seeing some statistics (like the number of results returned) on the results from the previous queries I can only guess.

I would guess that each progressive query likely returns more results. PostgreSQL has an annoying habit of not return

[2022-03-10 08:35] Paxxxxxv-Dmitry commented on #195
**jrgemignani**,

I have done some tests with RETURN count(z):

[..4]. Count: 1. Total query runtime: 7 secs.
[..5]. Count: 1. Total query runtime: 3 min 30 secs.
[..6]. Count: 1. Total query runtime: ~7 min.

Nothing changed. Count equals 1  because Id attribute is unique in my database.
Maybe I can use postgres indexes or something else?

[2022-03-10 09:00] pdpotter commented on #195
Some thoughts:
* The id attribute for node b is defined, depending on the relations in the graph, multiple z nodes could be returned for your query.
* You are currently including all relations types, can this be limited?
* Indexes are currently not supported by Apache AGE (see #45). I don't think your query would benefit a lot from using indices though, since it seems to be a scalability issue rel

[2022-03-10 10:36] Paxxxxxv-Dmitry commented on #195
**pdpotter**,

In production environment I have some relations types, but not in my sandbox. Search by all relations types is real production case.

Thank you for the link, I have used the workaround to fill my database with edges.

At first want to let you know that I have changed {id: 'CI02597329'} to {ci_sm_id: 'CI02597329'}.

**SELECT * FROM cypher('graph', $$ EXPLAIN MATCH (z:type1)-[*..4]->(

[2022-03-11 07:27] Paxxxxxv-Dmitry commented on #195
Thanks for the answer. I will search ways to limit queries. I'm glad to hear that you work on some performance improvements.

I have another one performance question about Variable Length Edges feature -
[*3] AND ()-[]->()-[]->()-[]->() are the same. Am I right?

[*3] query works much more faster than ()-[]->()-[]->()-[]->() and I don't understand why.

[code]
Total query runtime: 2 secs.

[code]

[2022-03-11 11:27] emotionbug commented on #195
@Paxxxxxv-Dmitry
Two things go through a separate process.
First one, passed to VLE algorithm logic. but, second one uses `LEFT JOIN`.

I think it can be optimization in the later release.

[2022-03-15 00:42] emotionbug commented on #132
https://github.com/apache/incubator-age/commit/ede73e45acd894d7c17101b6d5af3d76bf18736c
https://github.com/apache/incubator-age/commit/8b438860cd9007db2531a7d449438a03ca75b1bd

These commits allow to upgrade to newer versions.

[2022-03-15 22:58] jrgemignani commented on #195
There will be a new release in a few days (hopefully) that will have some performance enhancements.

There will be a patch that didn't make it into the release that will have some significant (to major) performance enhancements for the VLE depending on the type of query. This patch should be available in a day or two, if you clone the repo and build it.

[2022-03-16 01:07] bravius opened #200 "How to create a unique constraint on a property, like in AgensGraph?"
### Discussed in https://github.com/apache/incubator-age/discussions/199

<div type='discussions-op-text'>

<sup>Originally posted by **bravius** March 15, 2022</sup>
In AgensGraph I could create a unique property constraint using this syntax:

`CREATE CONSTRAINT ON account ASSERT email IS UNIQUE;`

What is the equivalent in Apache AGE for creating a unique constraint on a property?</div>

[2022-03-16 07:26] pdpotter commented on #200
There is already an issue about unique properties / indexing at #45. Unique constraints can be added. There is however an issue with unique constraints after the usage of a `set` clause, see #161.

[2022-03-16 19:32] bravius commented on #200
@pdpotter - I just had a look at the documentation:

https://age.apache.org/docs/master/intro/graphs.html

This is what I'm confused about. If it's not recommended to use DML or DDL on a graph namespace, does that mean creating indexes like this is a no-no?

For example:

`CREATE UNIQUE INDEX email ON account((tojsonb(properties)->'email'));`

I just don't understand what the plan is for creating

[2022-03-17 11:41] Paxxxxxv-Dmitry commented on #195
Can criteria like stop at first compound level be added to the query?
[..4]. Total query runtime: 7 secs.
[..5]. Total query runtime: 3 min 30 secs.
But results are the same. I need first match and stop processing. I think the criteria maybe useful in my case.

[2022-03-18 17:47] jrgemignani commented on #195
I am not aware of an openCypher [language specification] query or command that will allow what you asked (provided I understand what you are asking) to be done - other than using LIMIT to only output a specified number of results, but that has issues of its own -

Each vertex selected and processed by the VLE in a match query can have a different minimum length path based on the starting vertex, e

[2022-03-18 20:37] audiBookning commented on #195
I am not sure if understand correctly the situation, but i will add my two cents dependent only on my limited knowledge. Corrections are welcome.

I also am not aware of anything like this in OpenCypher or even Neo4j's Cypher implementation. From my understanding that type of operation, although useful in certain cases, wouldn't make sense in the "semantics" of OpenCypher which is one of the main

[2022-03-20 09:48] akloster opened #202 "Parsing results?"
I'm experimenting with SQL/cypher queries from Python and I've got a problem understanding the return types. First of all, the agensgraph-python extension to psycopg2 doesn't seem to work anymore, unfortunately. So I tried to get around the parsing problem by making more explicit SQL queries like this:

[code]
But the return is like  `[('"hello"')]`, so the `name` inside the sql statement is alrea

[2022-03-21 19:45] pdpotter commented on #202
The agtype type is based on jsonb. Returned results are JSON-like.

The ANTLR parser file (https://github.com/apache/incubator-age/blob/master/drivers/Agtype.g4#L64) indicates  that string values should indeed be double quoted.

[2022-03-21 23:05] emotionbug commented on #202
When you need parser for agtype on python, reference here.
https://github.com/apache/incubator-age/tree/master/drivers/python

But, case like your query can be alternate from agtype to text.

[2022-03-22 07:23] akloster commented on #202
Thank you, that wasn't immediately obvious to me. Also I recommend renaming the driver module from `age` to something like `apache_age` or `psycopg2_age`.

If using cypher as a subquery to return a string property inside SQL, how would you recommend to "unquote" the string?

[2022-03-22 07:37] emotionbug commented on #202
there is a casting for the basic type. so, it can be used as follows.

[code]

[2022-03-22 08:12] akloster commented on #202
Thank you, this is very helpful!

[2022-03-22 08:13] #202 closed

[2022-04-06 17:09] sorrell opened #204 "Dockerfile builds head of master, making Docker Hub builds incongruent with version tag"
**Describe the bug**
The Dockerfile currently clones and builds the head of master. It should either interpret a DOCKER_TAG environment variable or build the files located in the same directory of the checkout (i.e., we're checking out a hash on Docker Hub, and the Dockerfile is located in the root with the source, so we could build in ./ instead of cloning.)

[2022-04-11 20:43] #102 closed

[2022-04-11 20:44] #127 closed, assigned to nobody

[2022-04-11 20:45] #187 closed

[2022-04-11 20:49] jrgemignani commented on #132
The 1.0.0 release will have scripts for upgrading to the latest version without the need to drop the extension. There will also be scripts for downgrading where possible.

[2022-04-11 20:49] #132 closed

[2022-04-11 20:50] #195 closed

[2022-04-11 23:00] #189 closed

[2022-04-11 23:02] #97 closed

[2022-04-11 23:20] #172 closed

[2022-04-12 23:49] JoshInnis commented on #204
@sorrell Has this issue been completely resolved?

[2022-04-13 12:43] sorrell commented on #204
@JoshInnis - from a code perspective, yes it is resolved for releases *after* 1.0.0. Until then we need to manually build the 0.7.0 and 1.0.0 release and push to Docker Hub. We can either make that part of this issue or create a separate one if you want.

[2022-04-13 21:28] JoshInnis commented on #161
This issue should now be resolved in master and should be included in the next (1.1.0) release

[2022-04-13 21:29] JoshInnis commented on #200
Creating Unique constraints via pgsql syntax should now be supported.

[2022-04-13 21:41] #200 closed

[2022-04-14 07:51] pdpotter commented on #161
The issue is indeed resolved in master. Thank you!

[2022-04-14 07:51] #161 closed

[2022-04-15 22:33] bravius commented on #200
Thanks, works great!

[2022-04-18 00:26] #76 closed

[2022-04-22 10:20] pdpotter commented on #44
This issue is now fixed on master (by commit ab70781b4b311922f14f2bcb1b2144f1df9a9da1).

This is great, thanks!

[2022-04-22 10:20] #44 closed

[2022-04-22 10:22] pdpotter commented on #137
This issue is now fixed on master (by commit https://github.com/apache/incubator-age/commit/ab70781b4b311922f14f2bcb1b2144f1df9a9da1).

[2022-04-24 00:45] Dzordzu opened #207 "Rust AGE driver"
I've recently implemented a simple driver for rust, that allows to easily map types and execute cypher queries. Hope you'll enjoy my work.

https://github.com/Dzordzu/rust-apache-age
https://crates.io/crates/apache_age

I'm open to any kind of suggestions and contributions!

[2022-04-24 15:15] lnoir opened #208 "Importing data from CSV"
I'm trying to import an existing graph. The documentation [here](https://age.apache.org/docs/master/intro/agload.html) states that the function `load_labels_from_file` can be used to create vertices from CSV files containing relevant data. However, when I run:
[code]

I receive the following error:
[code]
The same applies for `load_edges_from_file`. What am I doing wrong? If the above should work,

[2022-04-24 17:39] JoshInnis commented on #208
Hi @lnoir,

Are executing `LOAD 'age';` and `SET search_path = ag_catalog, "$user", public;` before calling load_labels_from_file?

[2022-04-24 18:41] lnoir commented on #208
Hi @JoshInnis , yes, both of those are run prior to attempting to run `load_[x]_from_file`. I don't receive any errors when using `create_vlabel` or `create_elabel`. I'm also able to run cypher queries without issue. It just seems to be the loading functions that are a problem.

[2022-04-24 21:00] emotionbug commented on #208
I think that function was added on v1.0

[2022-04-24 21:09] JoshInnis commented on #208
@emotionbug is correct, that function was added in a release that is newer than that docker image, please use this docker image instead https://hub.docker.com/r/apache/age

[2022-04-24 21:11] JoshInnis commented on #204
@sorrell I think we should make backwards compatibility for the new docker image. Either way we should replace the docker image urls in the README to the new docker image

[2022-04-24 21:15] JoshInnis commented on #45
Hello, the commit https://github.com/apache/incubator-age/commit/57e11a3e6952d0dcfa50de3b92e07fb596df68b0 in master should have resolved this issue and will be available in the next release.

[2022-04-24 21:21] JoshInnis commented on #156
Hi,

AGE follows the standard process provided by Postgres to updating extensions: https://www.postgresql.org/docs/11/sql-alterextension.html

When you want to update AGE, install the new version of AGE to the machine, then open a terminal session to the postgres database with AGE installed and run the command: `ALTER EXTENSION age UPDATE TO '1.0.0';` or whichever version you want.

[2022-04-25 06:30] lnoir commented on #208
@emotionbug @JoshInnis Thank you. I've pulled the image and the functions work.

The [README](https://github.com/apache/incubator-age/blob/master/README.md) needs to be updated as it still references the [sorrell/agensgraph-extension](https://hub.docker.com/r/sorrell/agensgraph-extension) which in turn only references [sorrell/apache-age](https://hub.docker.com/r/sorrell/apache-age). It wasn't cle

[2022-04-25 06:30] #208 closed

[2022-04-25 10:53] pdpotter commented on #45
Thank you for the update! Is it possible to explain in more detail what issue was resolved?

I tried creating a unique index as described in https://github.com/apache/incubator-age/issues/45#issuecomment-982438807, but a Sequential scan is still executed when I use a `MATCH` query to find a vertex based on the property on which a unique index has been created.

I pulled the latest changes, did a `

[2022-04-25 15:35] ghostofstatus opened #209 "I think the date is wrong"
https://incubator.apache.org/projects/age.html

I think the date of the news on this page is wrong. Is it correct that AGE1.0.0 was released on April 21, 2021?

[2022-04-25 19:50] emotionbug commented on #209
It is 2022, and there was a problem with the news section, so I corrected it.

[2022-04-25 19:53] JoshInnis commented on #45
Hi @pdpotter, sorry for the confusion, AGE now supports constraints, the MATCH clause does not yet support using index scans. Constraints now work and the updating (SET, REMOVE, etc) clauses work with constraints and they no longer break indices. The patch https://github.com/apache/incubator-age/commit/6279c1043d9095a5c06593d5dc3193f3875ffc14 supports GIN indices. So if you create an index on a la

[2022-04-26 04:40] lnoir opened #210 "Dynamic queries"
I came across [this question](https://github.com/apache/incubator-age/issues/113) which has an example for my scenario, however I'm having trouble with it.

If I have a vertex I want to create or modify, how do I create a dynamic query in the case that:
* there are a predefined set of modifiable properties
* it isn't known _which_ properties will be present at the time the query is run
* at least

[2022-04-26 05:40] JoshInnis commented on #210
Hello,

 There has been a solution proposed to allow a map to be passed to the cypher function. For example, something similar to:
[code]

That solution has not been implemented yet.

However, currently AGE fully supports dynamic sql, so you could construct a query in real time and run it, though can be performance issues in situations and we would need to know more about your situation to know.

[2022-04-26 07:00] lnoir commented on #210
Hi @JoshInnis, thanks for your quick response and help. I figured out the problem and realised the correct approach. :+1:

It wasn't clear to me how I should construct and execute the queries. Reading the documentation, named parameters (`$param_name` syntax) _seemed_ to be restricted to prepared statements. Coupled with reading elsewhere that AGE doesn't support `$n` syntax in the cypher query it

[2022-04-26 07:00] #210 closed

[2022-04-26 07:30] lnoir opened #211 "Query resulting in error: cannot cast agtype integer to type boolean"
Hello again (this might happen a lot).

I'm getting the following error when trying to run the below query: `cannot cast agtype integer to type boolean` (in NodeJS, using pg library):

[code]
Params:
[code]
Any clue as to what I might be doing wrong?

[2022-04-26 07:42] pdpotter commented on #211
Is it possible to post the CREATE queries for `u:User` and `p:Profile`?

[2022-04-26 07:56] emotionbug commented on #204
just now, manually pushed v1.0.0, v0.6.0.
Now, just need to modify the README.

[2022-04-26 08:27] lnoir commented on #211
Hi @pdpotter, they were created via `load_labels_from_file`.

Create statement:
[code]
User data from CSV file:
[code]

Profile data from CSV file:
[code]

[2022-04-26 08:48] pdpotter commented on #45
Wow, this is fantastic. It is now possible to create relations quickly (~10 000/s on my local VM) using simple queries (with executemany) in the form of
[code]

After simply adding GIN indexes
[code]
[code]
For this specific use case, it would of course be more disk space efficient to only index the `id` property and not all of them, but having MATCH working so much faster is a huge leap forward.

[2022-04-26 09:14] pdpotter commented on #211
I tried creating a minimal example using for user:
[code]

for profile I tried:
[code]
[code]
[code]
for the relation:
[code]

but I wasn't able to recreate the error message when executing
[code]

Is it possible to post the header lines of the CSV files as well?

[2022-04-26 09:21] lnoir commented on #211
Thanks @pdpotter. Headers are below.

User.csv:
[code]

Profile.csv
[code]

[2022-04-26 09:37] pdpotter commented on #211
I tried loading the User and Profile from CSV files (except for the :has relation, as I don't have the header and data for that file), but I still don't get an error message. Can you post the header and relevant row of `/tmp/export/edges/has.csv` as well?

Did you check if there are any rows in your CSV files that contain different data?
Have you tried importing CSV files that contain only relevan

[2022-04-26 10:08] lnoir commented on #211
I tried reducing the User.csv to a single user, the Profile.csv to a single Profile, and the has.csv to just that relationship, but still encountering the same issue when running the above query.

has.csv:
[code]

[2022-04-26 10:17] pdpotter commented on #211
I imported the `has` relation from csv as well now, and don't encounter errors when executing
[code]

Some more toughs:
* Have you tried executing the MATCH query (above) hard coded, so without the parameter?
* What version of Apache Age are you using?

[2022-04-26 10:40] lnoir commented on #211
Yes, I was originally running the queries raw, hardcoded directly in pgAdmin4. I ran a few of my existing queries (the data is from an existing graph that uses Cypher) and the results looked sensible. Only then did I start trying to run the queries programmatically in NodeJS.

The one tagged [v0.7.0](https://hub.docker.com/layers/age/apache/age/v0.7.0/images/sha256-323c66cd94d1a5a15a924e3a09f33e1b

[2022-04-26 10:55] lnoir commented on #211
I tried v1.0.0, the result was the same. However, latest I get the following error:

[code]
I don't know if it's related to my issue or not.

[2022-04-26 10:58] pdpotter commented on #211
There is no upgrade script to upgrade to latest. In order to use the latest version, I think you will have to drop the extension age `DROP EXTENSION age CASCADE` and then create it again `CREATE EXTENSION age` if possible (this will delete all data in your graph database).

[2022-04-26 11:03] lnoir commented on #211
Okay, thanks. I followed your instructions and now it's producing the original error. So, no change.

[2022-04-26 23:40] #209 closed

[2022-04-27 00:00] JoshInnis commented on #211
Hi @lnoir,

You said you were using Postgres' NodeJS driver, correct? Not the one located here: https://github.com/apache/incubator-age/tree/master/drivers/nodejs

If you remove the `WHERE p.deleted IS NULL` does that change the error message, what if there is no `{_id: $userId}` That might help us narrow down where the issue is.

[2022-04-27 05:02] emotionbug commented on #211
If `search_path` is not specified, the above error may be reproduced.

[2022-04-27 07:16] lnoir commented on #211
Okay, I just got to the bottom of this. @emotionbug's comment made me look more carefully at the initial connection and start-up queries. Turns out it was user error. Simplified examples follow.

I was doing something along the lines of:
[code]
But I realised I needed to perform the setup queries on the client passed to the `connect` event handler:
[code]
Now the queries are running without error

[2022-04-27 07:17] #211 closed

[2022-04-27 07:24] #137 closed

[2022-04-27 07:24] emotionbug commented on #211
Additionally, in current docker image automatically execute `CREATE EXTENSION`(default database) and `LOAD` statement.

[2022-04-28 21:31] emotionbug commented on #204
I think this issue has been resolved, I close the issue.

[2022-04-28 21:31] #204 closed

[2022-04-29 04:19] emotionbug commented on #162
I close this issue because this can be reference in https://github.com/apache/incubator-age/issues/207

[2022-04-29 04:19] #162 closed

[2022-04-29 07:44] pdpotter commented on #152
I think this issue has been resolved, I close the issue.

[2022-04-29 07:44] #152 closed

[2022-04-29 08:13] pdpotter commented on #113
I think this issue has been resolved, I close the issue.

[2022-04-29 08:22] JoshInnis commented on #113
Hi @pdpotter, Let's not close this idea yet. This ticket is introducing an idea about stored procedures and extending the CREATE clause in a way that allows users to make a system that anticipates an unanticipated number of properties. Lets leave this open for a while.

[2022-04-29 08:26] JoshInnis commented on #207
@Dzordzu  this is awesome. Please consider making this a pull request. In the meantime, have you thought about situations where the user needs more than one field returned?

[2022-04-29 17:46] jrgemignani commented on #152
I want to add that this function is in PostgreSQL -

`psql-11.5-5432-pgsql=# select proname, prosrc from pg_proc where proname like '%json_build_object%';
      proname      |          prosrc
-------------------+--------------------------
 json_build_object | json_build_object
 json_build_object | json_build_object_noargs
(2 rows)

psql-11.5-5432-pgsql=#
`
This means that it can be called as a "us

[2022-05-05 08:01] wqxs opened #213 "How do I get valid values in a property?"
This is in properties
`{"userName":"ry"}`

when i go to get it

`SELECT *
FROM ag_catalog.cypher('zjdata_graph', $$
		MATCH (u:sys_user {userId: 1})
		RETURN u.userName
$$) as (userName ag_catalog.agtype);`

The result is
![image](https://user-images.githubusercontent.com/69672009/166883291-2941bdc6-e9d8-4194-a6a7-37b31f341892.png)

and the result I want is ry instead of "ry"

[2022-05-05 08:11] pdpotter commented on #213
You'll have to parse the result. Agtype is a superset of Json and a custom implementation of JsonB. For detailed information, see https://age.apache.org/docs/master/intro/types.html (https://age.apache.org/docs/master/intro/types.html#string specificly for strings).

If you query the database from an application written in Go, Java, Javascript (NodeJs) or Python, you can use the corresponding driv

[2022-05-06 21:44] JoshInnis commented on #213
You can typecast agtype to text `SELECT * FROM ag_catalog.cypher('zjdata_graph', $$ MATCH (u:sys_user {userId: 1}) RETURN u.userName $$) as (userName text); `

[2022-05-06 21:44] JoshInnis commented on #213
You can typecast agtype to text `SELECT * FROM ag_catalog.cypher('zjdata_graph', $$ MATCH (u:sys_user {userId: 1}) RETURN u.userName $$) as (userName text); `

[2022-05-09 09:39] pdpotter commented on #45
Commit https://github.com/apache/incubator-age/commit/379983b0cefa92aff89eb8d641e05bb376c83862 includes some improvements which are relevant here:
* agtype_access_operator is now immutable. This means it can be used directly to create unique indices. It is no longer necessary to create a separate immutable function. E.g.,

[code]

* GIN indices are now used when filtering using WHERE clauses.

Ver

[2022-05-09 19:23] pdpotter commented on #45
It looks like I have been a bit too enthusiastic in my previous comments.

### Property constraints
When using GIN indices on properties and creating relations using these indices, I didn't check if the relations where actually added. Unfortunately, they where not.

After adding a GIN index and adding enough vertices so the index is used, a match query doesn't return any results. E.g.,
[code]
A ma

[2022-05-09 19:31] JoshInnis commented on #45
Hi @pdpotter, GIN Indices are for a subset of JsonB operators https://www.postgresql.org/docs/11/gin-builtin-opclasses.html These operators are not usabale in the cypher Where clause. Currently the only place they can be used is in the property constraint field in the match clause. The where clause is now compatible with the comparison operators that the cypher command currently has. These new ope

[2022-05-09 19:44] JoshInnis commented on #45
For an article about this you can checkout this https://bitnine.net/blog-postgresql/postgresql-internals-jsonb-type-and-its-indexes/ Its a bit dated and about Agensgraph and not AGE, but if you replace insances of the '->>' with the '.' operator the information is still accurate

[2022-05-10 09:27] #213 closed

[2022-05-11 05:29] lnoir opened #215 "Encryption"
Hello. What are my options if I want to encrypt specific node properties with one- and two-way encryption when using AGE? For example, a property containing short text, like a phone number, or long text like body text of some content.

If this can be done, can someone please provide a simple, working example? Thanks

[2022-05-11 07:36] pdpotter commented on #215
One way to do this would be to do the encryption on the client or application server. If the application server and database server are on separate hosts, this has the additional advantage that the keys are stored on a different system than the encrypted data. If the data doesn't need to be decrypted later on (e.g., if it is only necessary to check if an entered phone number is the same as a phone

[2022-05-11 08:39] lnoir commented on #215
Hi @pdpotter, thanks for your input. Yes application server is on a separate host with DB on a private network.

I encountered the same issue with `pgcrypto` functions. I wondered if there was a specific syntax I had to use.

[2022-05-12 09:38] Dzordzu commented on #207
@JoshInnis user can get more than one field from the query, BUT, he has to use map to gather results. I could not find any use case, where grouping within map could cause any problems.

@emotionbug There was a problem with types others than AgType. If one wants to use primitives, some kind of mapping between rust types and postgres type has to be performed. It CAN be implemented, but takes a lot o

[2022-05-12 09:40] Dzordzu commented on #207
Also #145 should be closed?

[2022-05-16 14:28] ewrayjohnson opened #216 "Can't install or build from source for PostgreSQL 11 on Windows"
I am posting this as a bug since I get errors.

First I tried **create extension age;** and got:

Since I could not find any windows binaries, I downloaded the source.
I first placed the following files in my C:\Program Files\PostgreSQL\11\share\extension folder:

I again tried **create extension age;** and got:

I then tried to run **make install** and got:

I then downloaded PostgreSQL source an

[2022-05-16 14:47] muhammadshoaib commented on #216
Currently AGE supports Linux compilation. If you are on windows machine
trying docker would be quit useful in your case.

On Mon, May 16, 2022 at 4:28 PM ewrayjohnson ***@***.***>
wrote:

[2022-05-18 10:58] jihot2000 opened #217 "a bug when working with "begin ... commit""
**Describe the bug**
Cannot get  the correct path set when "begin ... commit" is present.

This bug is found when I wrote a plpgsql function to update a link list stored using AGE. Then I tested this bug by running a sql file with a "begin ... commit" block. And the output is the same as the plpgsql function.

I think it is a bug of the DELETE clause.

**How are you accessing AGE (Command line, dr

[2022-05-18 11:35] jihot2000 opened #218 "some useful WHERE statements"
**Is your feature request related to a problem? Please describe.**
I find it is difficult when I try to query a link list.
I searched and found some useful cypher statements which works for Neo4j.

**Describe the solution you'd like**

- UNWIND a vertex list

[code]

- WHERE not a relationship

[code]

- list generation using IN

[code]

[2022-05-18 14:55] jihot2000 commented on #218
I find 'WHERE NOT EXISTS' can do path pattern not match
[code]

[2022-05-18 18:29] JoshInnis commented on #217
It looks like the VLE global contexts are not using the correct graph
[code]

We will take a look into it, for now the workaround I recommend is only use variable length edges once in a transaction

[2022-05-19 00:28] jihot2000 commented on #217
Thank you for your suggestion.

I tried to append the element 'b' to the end of the link list instead of inserting as follows. The outputs of g5 are still different.

[code]

So, it is not the 'DELETE' clause caused the bug. It is the variable length edges match that caused the bug indeed.

I will use "LOOP ... END LOOP" PL/pgSQL control statements to query my link list  instead of "(head)-[:Edge*

[2022-05-19 09:27] jihot2000 commented on #217
@jrgemignani Thank you

I wrapped my cypher statements inside PL/gpSQL functions. The users use my wrapped functions to query the database. It is important to ensure the data consistency.

Is the VLE context inconsistency a bug to be fixed? Or it is the correct behaviour of VLE, but I need some other best practice for VLE?

[2022-05-23 22:55] jrgemignani commented on #217
The patch has been pushed and this particular issue should be resolved.

[2022-05-24 01:46] jihot2000 opened #220 "VLE still has a bug when I try to run PL/pgSQL functions with VLE statements inside"
**Describe the bug**

VLE still has a bug when I try to run my PL/pgSQL functions with VLE statements inside.

**How are you accessing AGE (Command line, driver, etc.)?**
run a sql file using psql command line

**the sql file**
[code]

**Expected behavior**

The bug show_list_use_vle line only shows node 'a':

[code]

The show_list_use_loop line shows the expected result:

[code]

**Environment (p

[2022-05-24 01:49] jihot2000 commented on #217
@jrgemignani Thank you.

This bug has been fixed. But it still has a bug when I run my PL/pgSQL functions with VLE statements.

I opened another issue #220

[2022-05-24 01:53] JoshInnis commented on #220
Hi, you need to isolate the vle `Match ()-[*]-()` with cypher write clauses, eg: CREATE, DELETE, SET, etc. They are incompatible at the moment.

[2022-05-24 01:56] jihot2000 commented on #220
@JoshInnis But I only use Match ()-[*]-() for query in the ```show_list_use_vle``` function

[2022-05-24 01:58] JoshInnis commented on #220
@jihot2000
Sorry, In your code in the prepend function I see DELETE and CREATE. I will take a closer look

[2022-05-24 02:33] JoshInnis commented on #220
There is a fundamental difference between `show_list_use_loop` and  `show_list_use_vle` add `:head` to the variable p in `show_list_use_loop` and change `:node` for variable `v` to `:tail` . Hope that helps :).

[2022-05-24 02:44] jihot2000 commented on #220
@JoshInnis I didn't get your point.

It is ```show_list_use_vle``` that has a bug, not ```show_list_use_loop```.

[2022-05-24 02:46] JoshInnis commented on #220
`show_list_use_loop` and  `show_list_use_vle` are not searching for the same thing. There are some subtle differences I would strongly encourage you to explore.

[2022-05-24 02:57] jihot2000 commented on #220
I think the list structure changed through the script as follows:

after create list:

[code]

after prepend node 'a':

[code]

after prepend node 'b':

[code]

so the cypher statements inside ```show_list_use_vle```

[code]

should return both 'b' and 'a'.

Do I have some troubles with the analysis above?

[2022-05-24 03:06] JoshInnis commented on #220
`show_list_use_loop` doesn't care about `:head` OR perhaps I am wrong. Forgive me  :). How is p mapped to `:head`?

Or perhaps I should ask what `ag_param` has to do after `LOOP` in `show_list_use_loop`?

[2022-05-24 03:21] jihot2000 commented on #220
@JoshInnis

I think the ```id``` in the graph is global. The ```WHERE id(p) = $node_id``` can get the head node without ```:head``` label explicitly.

[2022-05-24 03:30] JoshInnis commented on #220
???  Graphid AT THIS POINT is guaranteed to be unique on a schema per schema level. We have lost each other, I need more details to assist :). A graph === a schema AT THIS POINT. The `WHERE id(p) = $node_id` I could give you a 99% guarantee that you are right, but I need details to assist :). global... you have define this word AND this word to my knowledge is new to the discussion.

[2022-05-24 03:32] JoshInnis commented on #220
Please review my first post after the apology for missing your point. I do believe there is a subtle difference between expected and results, where you are wrong and need to review.

[2022-05-24 03:51] jihot2000 commented on #220
@JoshInnis Thank you for your patience.

Perhaps I have some mistakes. I said "I think the id in the graph is global" meas the id of a vertext inside a graph is global (Maybe this is wrong). For example, the ```id```s of a vertex with label "label1" and a vertext with label "label2" will never be the same. So I can query the two vertices using ```WHERE id(v) = $its_id``` without their labels.

You

[2022-05-24 04:04] JoshInnis commented on #220
@jihot2000 I will not do your job for you. The specifics should help you...

[2022-05-24 04:12] jihot2000 commented on #220
Thank you. I've read all the docs of AGE. Perhaps I missed something important.

I simplified my sql code into a test case as a sql file above. It is about create/add/show operations of a link list. I don't know how to make it more simple.

[2022-05-24 04:15] JoshInnis commented on #220
Neither do I... There may  have been a misquote. Please submit all you have and I (plus all your mentors) will take a look at it,

[2022-05-24 04:35] jihot2000 commented on #220
I split the sql file into two files.

First, the ```use_loop.sql```

[code]

Its output is right:

[code]

Second, the 'use_vle.sql':

[code]

Its output is wrong:

[code]

The question is the output after prepend node 'b' of ```use_loop.sql``` is right. Both node 'b' and node 'a' are printed. But the output after prepend node 'b' of ```use_vle.sql``` is wrong. It only printed node 'a'.

[2022-05-24 06:28] lnoir opened #221 "AGE driver unable to handle nested array in result set"
Hi all,

I have a query that collects and consolidates various bits of data into a derived object, but it seems to cause a problem for the AGE driver (NodeJS). Below is a contrived example you can use to replicate the issue.

## Setup
[code]
## Query
Below is an illustrative query.

[code]
A couple of things to note:
- The derived object (`person`) needs to be wrapped in an array in order to be `C

[2022-05-24 06:36] jihot2000 opened #222 "got different results when using VLE inside and outside a function"
**Description**

I described a bug in issue #220. But it makes one confused because I cannot prove that the logic of ```show_list_use_loop``` is the same as ```show_list_use_vle```.

So I rewrite my test case to make the question clear.

**How are you accessing AGE (Command line, driver, etc.)?**
run a sql file using psql command line

**the sql file 1**

[code]

Its output is

[code]

**the sql f

[2022-05-24 06:47] jihot2000 commented on #220
I rewrite my question in issue #222 to make it more clear

[2022-05-24 08:13] jihot2000 commented on #220
@JoshInnis Thank you. I reviewd the docs of AGE.

In /intro/types.md[https://github.com/apache/incubator-age-website/blob/master/docs/intro/types.md], I find

So, I make an assumption that the ids of vertices in different labels will not be the same. And I can query a vertex with its id only. If I goes wrong with the doc, please let me know.

I rewrite my question in issue #222 . I removed all the

[2022-05-24 15:19] jrgemignani commented on #220
I have reproduced and found what the issue is with this particular bug. It is not related to the other VLE bug, other than also being an issue with transaction ids. So, if you are happy with that issue being resolved, please close that ticket.

The issue here has to do with the way the VLE caches contexts, which are expensive to recreate. The VLE stores the grammar node IDs as an index into a cach

[2022-05-24 15:31] jrgemignani commented on #222
If this bug is based off of issue 220, then likely it is the same issue as 220. See issue 220 for an explanation as to what is happening. I am looking at what can be done to fix issue 220, which has to do with the VLE component inside procedures.

[2022-05-24 15:54] jihot2000 commented on #220
@jrgemignani
I have not much about the inner mechanism of AGE. I just feel it is efficient and cool to use VLE. But obviously, I am using it in an unusual way. Most people would use AGE with a language binding driver and use cypher statements like Neo4J. I prefer wrapping cypher statements in a PL/pgSQL function to be like a table. Then I can integrate graphs and tables together.

If it is not a s

[2022-05-24 15:55] jihot2000 commented on #222
@jrgemignani
I have not much about the inner mechanism of AGE. I just feel it is efficient and cool to use VLE. But obviously, I am using it in an unusual way. Most people would use AGE with a language binding driver and use cypher statements like Neo4J. I prefer wrapping cypher statements in a PL/pgSQL function to be like a table. Then I can integrate graphs and tables together.

If it is not a s

[2022-05-24 16:00] #217 closed

[2022-05-24 16:00] jihot2000 commented on #217
"begin ... commit" bug has been solved

[2022-05-25 21:01] jrgemignani commented on #220
I have created a patch, that is currently in review, that should address this particular issue. It should be ready by the end of the week.

[2022-05-26 00:14] jrgemignani commented on #220
The patch is in and should resolve this issue.

[2022-05-26 02:15] #220 closed

[2022-05-26 02:16] jihot2000 commented on #220
@jrgemignani
Thank you. This patch resolved my issue.

[2022-05-26 02:37] jihot2000 commented on #222
@jrgemignani
The patch commit id 12edd3e has resolved the context cache problem. I closed issure #220.

But the 2nd question in this issure has not been answered. I hope the vertices can be printed along the path.

[2022-05-26 03:34] jihot2000 opened #223 ""CREATE ... WHERE NOT EXISTS MATCH..." caused the server crash"
When I was just getting into AGE, I wrote a mixed SQL statement. It caused the server crash. But I don't know why.

Here, I write the SQL statement into a sql file. You can execute the file using ```psql``` command line.

[code]

The output is
[code]

Does my SQL file has an illegal SQL or OpenCypher grammar?

PS:
Now, I know MERGE clause can create an entity when it does not exist. But, it is sti

[2022-05-26 15:41] jrgemignani commented on #222
Can you give a full example (command and output) below? I don't see what you are saying.

[2022-05-26 17:04] jrgemignani commented on #222
If you are wondering why the shorter path with node b isn't shown first, but the longer path with node a is, that is not the VLE mechanism. The VLE outputs them in order of shortest to longest along a specific path. Just execute the following command to see -

 `MATCH p=(:head {name: 'list01'})-[:next*]->() RETURN p`

It is likely PostgreSQL and the matching/validating routines that follow that ch

[2022-05-26 23:30] jihot2000 commented on #222
@jrgemignani
Yes, as the path to 'b' is shorter than to 'a', I expect
[code]
would show 'b' first and 'a' second.

From your reply, can I draw the conclusion that VLE did search the path from shortest to longest, but it is the database engine PostgreSQL that changed the output order?

I've tried this example in Neo4J, ```MATCH (h:head {name: 'list01'})-[:next*]->(v:node) RETURN v``` showed 'b' fir

[2022-05-26 23:46] jrgemignani commented on #222
I'm not sure if it will change in order in the near future. The output is based on the search algorithm used, the graph, and how all of the other stages deal with that given data. We would have to find out what specifically is changing its order and if it is even possible to adjust it.

Additionally, if you do searches on large graphs, you will notice that long paths and short paths from one branc

[2022-05-27 00:17] jihot2000 commented on #222
@jrgemignani
Thank you. I know that a more reliable way is
[code]
get the path, then parse the path to nodes.

But in #218 , I mentioned that AGE does not support ```UNWIND nodes(p)``` . So parse a path into a table of nodes' properties in PL/pgSQL is some inconvenient. But it is another question :-)

As it is not the problem of VLE, should I close this issue?

[2022-05-27 00:21] jrgemignani commented on #222
We might look into UNWIND in the RETURN clause again. But, if your issues for this topic are resolved, then yes, close the ticket.

[2022-05-27 00:24] #222 closed

[2022-05-27 00:48] jrgemignani commented on #218
List comprehension will be upcoming. Unwind should work, we will be looking into that.

[2022-06-01 09:10] nieyankai opened #225 "When will support pg13？"
You said that you will support pg13 in 2022 Q1，but now the Q1 is over and I can't see the support.

[2022-06-01 14:39] aked21 commented on #225
I know the support for PostgreSQL 12 is currently being worked on and will soon be available. I suppose the support for PostgreSQL 13 will follow soon after and hope won't take much time. Actually I would like see more involvement from the PostgreSQL community to the AGE project.

[2022-06-01 16:36] jrgemignani commented on #225
Everyone in the software industry understands that dates are merely targets. We try to give our best estimates for when specific milestones will be met, but some functionality ends up being more difficult than expected. That pushes other items further out.

While we would like to have PG 13 support now, we are still working on finalizing some of the more complex implementations of the openCypher s

[2022-06-02 01:45] nieyankai commented on #225
OK, I got it

[2022-06-07 12:36] pdpotter opened #228 "Match queries with integer properties constraints return 0 results after adding gin index"
**Describe the bug**
When a GIN index is added to the properties of a vertex, MATCH queries with a constraint on an integer property return 0 results.

**How are you accessing AGE (Command line, driver, etc.)?**
- psql

**What data setup do we need to do?**
[code]

**What is the necessary configuration info needed?**
- /

**What is the command that caused the error?**
[code]

**Expected behavior**

[2022-06-09 05:39] HiperMaximus commented on #225
very excited about AGE, would be pretty interesting if you could share more about the development process, great work!

[2022-06-20 14:58] deka opened #234 "CREATE node with multiple labels"
**Describe the bug**
Can you confirm AGE is compliant with [opencypher spec v9](https://s3.amazonaws.com/artifacts.opencypher.org/openCypher9.pdf) ?

CREATE (:Label1:Label2) not working

**How are you accessing AGE (Command line, driver, etc.)?**
- [e.g. JDBC]

**What data setup do we need to do?**
Nothing

**What is the necessary configuration info needed?**
Nothing

**What is the command that ca

[2022-06-20 20:26] bravius opened #235 "MERGE followed by SET causes segfault"
**Describe the bug**

MERGE followed by SET causes server process segfault.

**How are you accessing AGE (Command line, driver, etc.)?**

Bundled Node 'pg-age' driver.

**What data setup do we need to do?**
[code]

**What is the necessary configuration info needed?**

None.

**What is the command that caused the error?**
[code]
[code]

**Expected behavior**

Execute cypher query with no crashy cra

[2022-06-21 18:59] jrgemignani commented on #235
Was able to reproduce the bug. Will look into a fix.

[2022-06-21 19:55] pdpotter commented on #235
Could this be related to https://github.com/apache/age/discussions/232#discussioncomment-2911728, where the return value differs depending on whether a node exists before executing a MERGE?

[2022-06-21 20:31] jrgemignani commented on #235
Not sure, this appears to be specifically related to SET

[2022-06-23 04:49] bravius opened #236 "Using pg-age Node.js driver, graphid values exceed JavaScript's Number.MAX_SAFE_INTEGER after 29 labels"
Ran into a problematic limitation of JavaScript when using the bundled pg-age Node.js driver, which appears to convert 64-bit graphids to JavaScript's floating Number type.

According to the Mozilla JavaScript reference:

`The Number.MAX_SAFE_INTEGER constant represents the maximum safe integer in JavaScript (2^53 - 1).`

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Obj

[2022-06-23 17:33] bravius commented on #236
Posting the results of some experiments, for when others run into the same issue.

First, I tried a quick experiment to change the scaling of entry ids to 40 bits instead of 48. No luck, server just crashes on any graph operation (after complete re-initialization of AGE extension via DROP/CREATE extension), so I think changing the scaling of the graphid type is more involved than just altering gra

[2022-06-23 20:00] jasperblues commented on #236
Since changing the scaling of entry Ids is non-trival major change, and using strings would impact CYPHER compatibility, it looks like using BigInt is the best solution, but:

* When is serialization an issue?
* What envs might need a polyfil?

[2022-06-23 22:27] bravius commented on #236
@jasperblues

_"When is serialization an issue?"_

I believe this demonstrates the problem.

In pgsql generate two graphids with a label id of 64 and entry ids of 1 and 2:

[code]

Then in JavaScript compare the two values:

[code]

Gasp... JavaScript thinks the two graphids are equal. This is because JavaScript Number type starts losing precision after 2^53-1.

Now stringify/parse the two values

[2022-06-23 22:43] jasperblues commented on #236
Oh sorry, I didn't pose my question clearly. The part about what happens with precision is clear, although the additional examples are great.

I meant at what point(s) in the pipleline from `(driver)-[:EXECUTES_STATEMENTS)->(apachAge)` are we dependent on parsing/seralization, and thus need to plug in custom replacer and reviver ? Is it a manageable amount? Maybe I could help?

I think that's reas

[2022-06-23 23:23] bravius commented on #236
@jasperblues

_I meant at what point(s) in the pipleline from (driver)-[:EXECUTES_STATEMENTS)->(apachAge) are we dependent on parsing/serialization, and thus need to plug in custom replacer and reviver ?_

Pretty much any case that depends upon communicating JSON data over the wire, such as between client and server.

I've solved the serialization issue using these custom replacer/reviver function

[2022-06-23 23:39] jasperblues commented on #236
So you will transform to/from annotated strings. Nice solution 👍

This solves `driver << database` side. I guess later there will be similar issues on the `database >> driver` side when querying for large numbers, eg `MATCH (v:VIP) where v.bankBalance > 18014398509481986`

[2022-06-30 02:20] kcmvp opened #237 "cluster & distributed support"
Does Apache Age support cluster & distribution ?

[2022-06-30 22:07] jrgemignani commented on #235
A patch is currently in review to correct this issue.

[2022-06-30 22:11] jrgemignani commented on #235
This might address that issue. But, #232 is lacking clears examples to know for sure.

[2022-07-01 17:24] jrgemignani commented on #235
This is now fixed in the master branch. It also fixes #232.

[2022-07-03 20:50] threedliteguy opened #238 "WITH ignores WHERE condition"
**Describe the bug**
Using a WHERE after WITH after MATCH ignores condition

**How are you accessing AGE (Command line, driver, etc.)?**
-pgsql inside docker container

**What data setup do we need to do?**
Using the sample city/country data in age/regress/age_load/data/

pgsql

MATCH  (m:City) - [:has_city] -> (b:Country{iso2:'BE'})   with b,m where m.name='x'  return m.name,b.iso2 $$)  as (  "m.

[2022-07-04 18:00] #236 closed

[2022-07-07 00:52] jrgemignani commented on #238
We will take a look.

[2022-07-09 08:20] wqxs opened #239 "Attribute values of object types cannot be modified"
I created a point
`SELECT *
FROM ag_catalog.cypher('zjdata_graph', $$
CREATE (a:a {id:1,map:{name:'a'}})
RETURN id(a), properties(a)
$$) as (id ag_catalog.agtype,properties ag_catalog.agtype)`

results are as follows
![image](https://user-images.githubusercontent.com/69672009/178097627-e5741bb9-1c91-4185-8d18-d423ea2ccf4b.png)

I modify the map property value
`SELECT *
FROM ag_catalog.cypher('zjda

[2022-07-11 06:27] JoshInnis commented on #239
Hi, `SET a.map = '{"name":"b"}'  ` is setting the value of a.map to a string, not a map. remove the surrounding `'`s `SELECT * FROM ag_catalog.cypher('zjdata_graph', $$ MATCH (a:a) WHERE a.id = 1 SET a.map = {"name":"b"} RETURN id(a), properties(a) $$) as (id ag_catalog.agtype,properties ag_catalog.agtype)`

[2022-07-11 06:59] wqxs commented on #239
I want to change the values in the map, but I can't
![image](https://user-images.githubusercontent.com/69672009/178206469-0aa37fe0-4bd8-4a36-9d9f-925c95b27f48.png)

[2022-07-11 07:15] JoshInnis commented on #239
Ahh, sorry for the oversight. Property names don't need to be wrapped with `"`.

`SELECT * FROM ag_catalog.cypher('zjdata_graph', $$
    MATCH (a:a)
    WHERE a.id = 1
    SET a.map = {name:"b"}
    RETURN id(a), properties(a)
$$) as (id ag_catalog.agtype,properties ag_catalog.agtype)`

[2022-07-11 07:24] wqxs commented on #239
It still doesn't work.
![image](https://user-images.githubusercontent.com/69672009/178210416-50bb4d51-6fdb-4328-89a3-51ac680d410c.png)

[2022-07-11 07:26] JoshInnis commented on #239
What version of AGE are you using? I am testing on Master.

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/7564930/178210751-f2b0e27d-327c-4e30-98c5-048ea51d05ba.png">

[2022-07-11 07:27] wqxs commented on #239
How to query the version

[2022-07-11 07:30] JoshInnis commented on #239
The bug fix is not in an official release, its only in master https://github.com/apache/age/commit/ab70781b4b311922f14f2bcb1b2144f1df9a9da1 how did you get AGE, through a release, docker, or did you download the source code?

[2022-07-11 07:36] wqxs commented on #239
I used Docker to download it around the end of April,how do I replace this plugin if I want to use the latest version

[2022-07-11 07:51] JoshInnis commented on #239
Try to pull the docker image again `docker pull apache/age` for this bug fix you should be able to restart the session and the bug will be fixed. However, if you can lose the data in the database, I recommend dropping the extension and recreating it.

[2022-07-11 08:13] JoshInnis commented on #239
Without upgrading, there is a workaround that was found. https://github.com/apache/age/issues/44 Basically if you wrap the map in an array, the first element in the array will be what the property is set to.

[2022-07-11 08:22] wqxs commented on #239
After using the latest version, the error is fixed, but the Docker mapping directory cannot be used on the latest version of Docker

[2022-07-11 08:34] wqxs commented on #239
Can an upgrade version be made without affecting the data?

[2022-07-11 16:40] selendym opened #240 "Negative indices on arrays seem to return nothing/null"
**Describe the bug**
Negative indices on arrays seem to return nothing/null.

**How are you accessing AGE (Command line, driver, etc.)?**
With `psql` from the docker image. One container for the server and another one for the client.

**What data setup do we need to do?**
[code]

**What is the necessary configuration info needed?**
Just the docker image built from master branch.

**What is the com

[2022-07-11 18:59] jrgemignani commented on #240
I will take a look

[2022-07-11 19:23] jrgemignani commented on #240
I'm not sure how this happened. There will be a patch to fix this shortly.

[2022-07-11 21:04] jrgemignani commented on #223
I don't see how the following is more complicated than what was put above -

MERGE (u:node {name: 'a'}) RETURN u;

I checked and, neither Neo4j nor AGE currently allow a syntax like (or similar in function to) the command that crashed above, except as MERGE. It is true that we will need to look and correct that crash. But, what you defined above is exactly MERGE, without all of the extra SQL.

The

[2022-07-11 22:44] jrgemignani commented on #234
It was an early design decision to not explicitly allow multiple labels for a vertex or edge in AGE. This was largely due to performance issues. Our team would need to revisit and discuss whether we would want to add that functionality. So, for now, multiple labels are not supported.

[2022-07-11 23:16] jihot2000 commented on #223
I have used MERGE to replace CREATE ... WHERE. After all, psql did not complain that the grammar was illegalI. So I opened this issue to indicate that. It would be better to tell the user via an exception that the WHERE clause  is not supported for CREATE now.

[2022-07-11 23:47] sorrell commented on #239
Can you describe what mapping directory this is or share the exact error you are seeing?

[2022-07-12 07:43] selendym commented on #240
Thanks for the quick fix!

[2022-07-12 13:57] selendym commented on #240
Not sure if this is related, but seems very similar:
[code]
Note the second part, where the result is missing, and the third, which results in an error (while it likely should not).

[2022-07-12 14:27] selendym commented on #240
Nested arrays seem to have similar problems:
[code]
Note the second part, where the result is missing, and the third, which doesn't seem to make sense.

[2022-07-12 17:05] jrgemignani commented on #240
Yeah, it is in the same access operator functions. It is getting the wrong size of the returned array, since it is in a binary format.

[2022-07-12 20:24] jrgemignani commented on #240
The other issue, with the slice operator, needs to be fixed as well. It was do to some inadvertent code changes.

[2022-07-12 23:18] jrgemignani commented on #240
There is a pending patch to correct this. It should be applied within the next few days.

[2022-07-13 07:50] selendym commented on #240
Thanks. Feel free to close this ticket when that gets merged.

[2022-07-13 15:59] jrgemignani commented on #240
The patch was applied and this should be corrected.

If this fixes the problem for you, go ahead and close the ticket. It is preferred that those who open tickets close them when the issue is resolved.

[2022-07-14 16:10] jrgemignani commented on #223
As I stated above, we will need to address that crash.

Your command isn't syntactically incorrect, but the usage of some command like CREATE (blah) WHERE NOT EXISTS (MATCH (blah)) is not valid in either AGE or Neo4j - it will generate a syntax error - at least as far as I could tell.

The difference here is that you wrapped the two parts (create & match) into two separate cypher queries and glued

[2022-07-14 23:12] jihot2000 commented on #223
Yes. It is difficult for AGE to detect the weird usage as the two cypher statements are in different parts of a single SQL.

[2022-07-14 23:12] #223 closed

[2022-07-15 19:08] jrgemignani commented on #151
Is this still an issue? Or, can this ticket be closed?

[2022-07-15 19:30] jrgemignani commented on #238
I was able to reproduce this on the master branch -

[code]

[2022-07-16 15:14] afidegnum commented on #151
Sure, the ticket can be closed.

[2022-07-16 15:14] #151 closed

[2022-07-25 08:28] muhammadshoaib commented on #216
We also have tested the AGE version with WSL you can also compile using WSL on windows.

[2022-07-26 13:31] selendym opened #241 "Output serialization for strings seems to be incorrect at times"
**Describe the bug**

Output serialization for strings seems to be incorrect at times.

**How are you accessing AGE (Command line, driver, etc.)?**

With `psql` from the docker image. One container for the server and another one for the client.

**What data setup do we need to do?**

[code]

**What is the necessary configuration info needed?**

Just the docker image built from master branch.

**Wh

[2022-07-27 02:20] allegrojm opened #242 "Failed to open countries.csv"
using postgresql11 and age trying the demo and following the docs but can't open the countries.csv. i.e. SELECT load_labels_from_file always returns 'error: failed to open ' the file. Tried absolute path name as in '/home/...' as well as relative as per the docs. Any ideas? Roadblocked with evaluating this project until I get past this.  Hard to debug. I'm using Ubuntu 22.04, postgres11 and AGE 1.

[2022-07-27 04:52] JoshInnis commented on #242
Hi, is your session and server on the same machine? If not, which machine is the file on? Also, does your login have permissions to access the file? Absolute file paths might require permissions you account doesn't have.

[2022-07-30 04:57] jgaskins commented on #186
With other graph databases I've used (Neo4j and RedisGraph), querying a node label or relationship type that doesn't exist simply fails to match.

If this error is expected, is it possible to create a node label or relationship type other than by creating a node or relationship with it? If not, that makes it difficult to use for certain applications.

[2022-08-01 04:20] jrgemignani commented on #241
Interesting. There appears to be a positional component to this bug -
[code]
[code]

[2022-08-01 13:32] muhammadshoaib commented on #242
You can copy the file to your home directory before running the demo script. You can than use the absolute path to be sure that you are pointing out to the correct directory.

[2022-08-07 14:09] sumitsharansatsangi opened #244 "Support for asyncpg, for python driver"
**Describe the solution you'd like**
I want asynchronous support for python driver. So, I want support of age with asyncpg, currently, it supports only psycopg2.

asyncpg is 3x times faster than the psycopg2.

It will be helpful, if it can be done.

[2022-08-10 10:55] pdpotter commented on #228
This issue has been fixed in https://github.com/apache/age/commit/392a937bdfa7c7a869798d7dca93f250c94d42e9.

[2022-08-10 10:55] #228 closed

[2022-08-10 11:26] pdpotter commented on #45
As #228 has been fixed, it is now possible to use GIN indices for adding relations.
After adding GIN indices by executing
[code]
Adding relations using a query like
[code]
is now over 30 times faster (~300/s on my local VM) than without the GIN indices.

I tried improving the performance by creating indices using
[code]
but `jsonb_path_ops` is not supported for `agtype`.

Another attempt using a s

[2022-08-17 10:27] muhammadshoaib commented on #225
We are currently performing final testing for PG12. It will be available very soon.

[2022-08-17 22:02] HiperMaximus commented on #225
Pretty exciting news!

[2022-08-23 22:31] JoshInnis opened #253 "test 2"

[2022-08-24 15:35] #253 closed

[2022-08-24 18:25] jrgemignani opened #254 "Graph Representation"

[2022-08-24 18:26] #254 closed

[2022-09-02 11:46] Dzordzu opened #255 "Dockerhub misssing v1.1.0"
The current version needs to be pushed to the dockerhub

[2022-09-02 12:09] emotionbug commented on #255
When the name of the repository was changed from incubator-age to age, the change of the target repository of the Docker was omitted.

It has been modified now.

[2022-09-02 12:17] Dzordzu commented on #255
Thanks :)

[2022-09-02 12:37] #255 closed

[2022-09-04 23:55] Dzordzu opened #257 "EXPLAIN ANALYZE actually performing operation"
**Before**
[code]

**Request**
[code]

**Output**
[code]

**After**
[code]

**Expected**
[code]

[2022-09-04 23:57] Dzordzu commented on #257
Ok. I'm just tired. It's working as expected

[2022-09-04 23:57] #257 closed

[2022-09-06 11:25] aked21 opened #258 "Webinar to present and discuss how AGE works (with PostgreSQL)"

[2022-09-06 23:40] JoshInnis opened #259 "Initial Research on Graph Analytic Algorithms"

[2022-09-06 23:40] JoshInnis opened #260 "Research Python asyncpg Python Driver Support"

[2022-09-06 23:41] JoshInnis opened #261 "Research Further Tasks to Improve JDBC Driver"

[2022-09-06 23:41] JoshInnis opened #262 "Research Rust Driver"

[2022-09-06 23:42] JoshInnis opened #263 "Research Further psycog2 Python Driver Support"

[2022-09-06 23:42] JoshInnis opened #264 "Research Further Tasks to Improve NodeJS Driver"

[2022-09-06 23:42] JoshInnis opened #265 "Research Further Tasks to Improve GoLang Driver"

[2022-09-06 23:42] JoshInnis opened #266 "Research Integration Metrics"

[2022-09-06 23:42] JoshInnis opened #267 "Research Segregation Metrics"

[2022-09-06 23:42] JoshInnis opened #268 "Research Resilience Metrics"

[2022-09-06 23:43] JoshInnis opened #269 "Research Centrality Metrics"

[2022-09-06 23:44] JoshInnis opened #270 "Initial Reseach Graph Generation Algorithms"
Research existing graph generation models.

[2022-09-06 23:44] JoshInnis opened #271 "Complete Graph"
A complete graph on n nodes means that all pairs of distinct nodes have an edge connecting them.

Syntax:
[code]
Input:
- graph_name - Graph Name
- nodes - Number of Nodes
- vertex_label_name - Name of the label to assign each vertex to.
- vertex_properties  - Property values to assign each vertex. Default is NULL
- edge_label_name - Name of the label to assign each edge to.
- edge_properties  - P

[2022-09-06 23:44] JoshInnis opened #272 "Tadpole Graph"
the tadpole graph is a special type of graph consisting of a cycle graph on m (at least 3) vertices and a path graph on n vertices, connected with a bridge.

Syntax:
[code]

Input:

- graph_name - Name of the graph to be created
- m - number of vertices in the cycle
- n - number of vertices in the path.
- vertex_label_name - Name of the label to assign each vertex to.
- vertex_properties - Propert

[2022-09-06 23:44] JoshInnis opened #273 "Cycle Graph"
A cycle graph or circular graph is a graph that consists of some number of vertices (at least 3) connected in a closed chain.

Syntax: ag_catalog.age_create_cycle_graph(graph_name Name, n int, bidirectional bool DEFAULT = true)

Input:
- graph_name - Name of the Graph
- n - number of vertices in the cycle
- vertex_label_name - Name of the label to assign each vertex to.
- vertex_properties - Prope

[2022-09-06 23:44] JoshInnis opened #274 "Bridge Path"
a bridge path is an path whose deletion increases the graph's number of connected components

Syntax

[code]

Input:
- graph_name - Name of the graph to be created
- n - number of vertices in the path.
- vertex_label_name - Name of the label to assign each vertex to.
- vertex_properties - Property values to assign each vertex. Default is NULL
- edge_label_name - Name of the label to assign each ed

[2022-09-06 23:44] JoshInnis opened #275 "Barbell Graph"
the barbell graph is two complete graphs connected by a bridge path

Syntax:
[code]

Input:

- graph_name - Name of the graph to be created
- m - number of vertices in both complete graphs
- n - number of vertices in the bridge path.
- vertex_label_name - Name of the label to assign each vertex to.
- vertex_properties - Property values to assign each vertex. Default is NULL
- edge_label_name - Nam

[2022-09-06 23:44] JoshInnis opened #276 "Watts-Strogatz Graph"
The Watts–Strogatz model is a random graph generation model that produces graphs with small-world properties, including short average path lengths and high clustering.

Syntax:
[code]

Input:
- graph_name - Name of the graph to be created
- n - The number of nodes
- k - Each node is joined with its k nearest neighbors in a ring topology.
- p -The probability of rewiring each edge
- vertex_label_na

[2022-09-06 23:45] JoshInnis opened #277 "Erdős–Rényi Graph"
The Erdős–Rényi model is a random graph generation model that produces graphs where each edge has a fixed probability of being present or absent, independently of the other edges.

Syntax:
[code]

Input:
- graph_name - Name of the graph to be created
- n - The number of nodes
- p -The probability of each edge existing
- vertex_label_name - Name of the label to assign each vertex to.
- vertex_prope

[2022-09-06 23:45] JoshInnis opened #278 "Barabási–Albert Graph"
Returns a random graph using Barabási–Albert preferential attachment

A graph of  nodes is grown by attaching new nodes each with  edges that are preferentially attached to existing nodes with high degree.

Description:
The network begins with an initial connected network of m_0 nodes.

New nodes are added to the network one at a time. Each new node is connected to m <= m_0 existing nodes with a p

[2022-09-07 00:18] aked21 commented on #273
This looks interesting ! I am happy to contribute.

[2022-09-07 00:27] jrgemignani opened #279 "Review internal graph representation and provide feedback"

[2022-09-07 00:29] jrgemignani opened #280 "Review internal graph management, provide feedback, and regression tests to test memory management"
The internal graph representation and management routines are in the source file `age_global_graph.c`.

For this task, please do the following -

1. Review the above source code and try to get a general understanding of how the graph is represented and managed.
2. Provide feedback, as necessary, for self documentation of that file.
3. Provide feedback, as necessary, for potential improvements of t

[2022-09-07 01:01] JoshInnis opened #281 "Mandatory Match"

[2022-09-07 01:01] JoshInnis commented on #281
Add the Keyword Mandatory before Match

[2022-09-07 01:01] JoshInnis opened #282 "Add JsonB Operators to Agtype"

[2022-09-07 01:02] JoshInnis commented on #282
Add JsonB Operators from Postgres to Agtype and the Cypher Grammar

[2022-09-07 01:07] JoshInnis commented on #281
Note: needs to be rebased and formatted

[2022-09-07 01:10] JoshInnis commented on #282
Status: Formatting Issues, to be rebased for both Postgres 11 and 12 versions.

[2022-09-07 06:54] jbiz805 opened #283 "Readme Documentation Link & release badge update needed"
the documentation link in the readme is sending me to an error page.
Also, the release badge says 0.6.0 so I think this needs an update to the latest version.

[2022-09-07 13:46] muhammadshoaib opened #285 "Research for integration of Python driver with networkx"
networkx is one of well-known library for working with graphs in python. Our goal is to integrate networkx with AGE and bridge both open source tool. This will provide more liberty to developers working with Python and AGE to perform in-depth graph\ analytics.

[2022-09-07 19:49] jasperblues commented on #285
This is cool @muhammadshoaib . . . I'm doing the same with [drivine.org](drivine.org) in NodeJS. You can then use this lib to build a higher level of abstraction, eg a GraphQL library that leverages the GraphDB to reduce boilerplate (generate all the CRUD), for example.

[2022-09-08 06:13] sidcool1234 opened #286 "Documentation link in README is wrong and returns 404"
**Describe the bug**
Documentation link in README is wrong and returns 404.  It should be https://age.apache.org/age-manual/master/index.html instead of https://age.apache.org/docs/master/index.html.

**Expected behavior**
Link should not throw 404.

[2022-09-08 10:08] pdpotter commented on #286
Thanks for reporting this issue. All documentation links should be updated now.

[2022-09-10 05:52] AnwarsaeedDMU opened #287 "can we install Apache AGE ins windows?"
I read the documentation of apache age but I don't found that how to install it on windows 10. any idea about it and how to use the existing Rdb tables with AGE extension? any related articles or tutorials to it?

[2022-09-10 18:16] HiperMaximus commented on #263
Also Psycopg3, the new version

[2022-09-11 02:01] HiperMaximus opened #288 "Add milestones"
**Is your feature request related to a problem? Please describe.**
This project is very interesting but it would give it more visibility if people could track the progress to see if it can be used in their projects yet (e.g. with Postgres>12)

**Describe the solution you'd like**
A list/milestones that track progress on features and issues

**Describe alternatives you've considered**
Checking the

[2022-09-11 15:11] thegautamkumarjaiswal commented on #271
I would like to contribute and develop this algorithm using python.

[2022-09-12 11:14] selendym opened #289 "Recommended way to create a graph from a table or SQL query"
Hello.

What is the recommended way to create a graph from a table (or from an SQL query, in general)?

Say, we have a table `A` with fields `id` and `parent_id`, where the latter refers back to the former of some row.
How would I go about and cast this into an AGE graph easily?
Ideally, this would be without doing a client-server roundtrip of first querying table rows and then creating the corres

[2022-09-12 15:42] JoshInnis opened #290 "Initial Research for Supporting GraphQL"

[2022-09-12 16:04] jrgemignani opened #291 "Setup Development Environment"
Sorry, I left out the description. But, it appears that everyone was able to successfully complete the task.

Set up a development environment for configuring, building, and compiling, PG and AGE. This means having some IDE, I use the gnu suite and a debugger.

[2022-09-12 16:04] jrgemignani opened #292 "Familiarize yourself with Apache AGE documentation"

[2022-09-12 16:30] susano0 commented on #292
Went through the documentation.

[2022-09-12 16:59] skkk98 commented on #291
Completed Setup (Installed Ubuntu on Virtualbox)

[2022-09-12 17:02] skkk98 commented on #292
setup PG 11 with AGE and went through the documentation.

[2022-09-12 17:11] selendym commented on #289
(Just to clarify, I'm not trying to modify the underlying system tables directly in any way.)

So if I understand correctly, there is no easy/convenient way to populate graphs from the results of SQL queries?
And the recommended way is to:
- query the server for the relevant data (with plain SQL)
- form the cypher queries/commands by string interpolation or whatever on the client side
- send the c

[2022-09-12 17:14] ChitraChaudhari commented on #290
to be assigned to the project

[2022-09-12 18:23] malzubairi commented on #290
to be assigned to the project.

[2022-09-12 18:30] jrgemignani commented on #289
Yes, that is the recommended way, atm. Currently, there isn't a function or functionality that could cast a set of tables and data into a graph. However, it is something that we have been discussing on occasion. We should probably revisit it to see if it is feasible.

[2022-09-12 18:38] shirinmk commented on #290
to be assigned to the project.

[2022-09-12 18:44] jrgemignani commented on #289
I have added it as a task for review and -> possible <- implementation in the future. However, anything that it were to do would just be a codified selection from tables, building Cypher commands, and then executing those commands.

[2022-09-12 22:41] jrgemignani opened #293 "Install the PostgreSQL (11.5 & 12.10) development source code into your development environment."
Install the PostgreSQL (11.5 & 12.10) development source code into your development environment. You will not be installing it to automatically run under root at system start up. Rather, you will be installing it such that you can bring it up (and down) locally under a regular development account.

[2022-09-12 22:42] jrgemignani opened #294 "Build the appropriate AGE build into both PostgreSQL development versions."
Build, make and install, the appropriate AGE build into both versions of PostgreSQL. Run 'make installcheck' for each version and put the results here.

[2022-09-12 23:07] kirill-develops commented on #290
Looking forward to being a part of this project!

[2022-09-12 23:13] PragyanD commented on #291
Completed Setup

[2022-09-12 23:14] PragyanD commented on #292
Went through the documentation

[2022-09-12 23:36] PragyanD commented on #293
Installed PostgreSQL under a directory on my Linux VM.

[2022-09-12 23:49] skkk98 commented on #293
I have PostgreSQL 11.17  installed. Is that fine? Or should I remove it and Install 11.5? Is it okay if both installed pg versions are under the folder /usr/lib/postgresql ?

[2022-09-13 00:32] jrgemignani commented on #293
You can have multiple development versions of PG installed in your development directories. However, don't install them to run under root or under the system. You want to bring them up and down under your development account.

[2022-09-13 09:28] selendym commented on #289
Ok, thanks for the info.

Perhaps something like this could be worth considering:
[code]
where `'g'` is the graph name and `properties` would be in json, for example.

Would you prefer this issue be closed or left open?
I'm inclined to leave it open for now and see if a review leads to something in the future.

[2022-09-13 15:06] clayrisser commented on #225
Awesome, @jrgemignani just following up, since it's two weeks since your message. Is there an alpha release of apache age for postgres 12?

[2022-09-13 17:16] jrgemignani commented on #225
Yes -

https://github.com/apache/age/tree/AGE_PG12.1.0_ALPHA

[2022-09-13 17:56] JoshInnis commented on #290
Welcome everyone so far, I have included a link to the most recent GraphQL specification that we will be attempting to implement. Please review this and leave any comments/questions issues either about that or anything else here.

[2022-09-13 20:16] dehowef opened #295 "Review Source Documentation for areas that need revision or expansion"
Go through the source documentation and look for any grammar/spelling errors, areas that need revisions, or places where examples might improve the documentation, etc. This task can be further broken down by section

[2022-09-13 20:52] susano0 commented on #293
Is it okay to have PG 11.17 and 12.12 instead of 11.5 and 12.10? I couldn't find any way of installing specific "minor" versions of PG.

[2022-09-13 21:45] dehowef opened #296 "Research Software Benchmarking and devise benchmark tests for AGE"
Research benchmark tests, and see where AGE can use benchmark tests

[2022-09-13 21:57] jrgemignani commented on #293
You will need to download the PostgreSQL "source" and build it in your development environment. Go to the following link and on the left you'll see Source, under Downloads -

https://www.postgresql.org/download/

Btw, this also means that you will need to have gcc and gdb installed.

[2022-09-13 21:58] dehowef opened #297 "Research stress tests and devise ways to stress test various components of AGE"
Research stress tests, and see where AGE can use stress tests.

[2022-09-13 21:59] dehowef opened #298 "Review Online Documentation for areas that could use improvement or expansion"

[2022-09-14 02:08] ChitraChaudhari commented on #290
Is there any specific timeline we should finish reviewing GraphQL specifications?

[2022-09-14 03:19] JoshInnis commented on #290
There is not a specific timeline. To be clear, we are not looking for you to memorize the entire standard. What we are expecting from you guys is, to look over the specification and have a general idea of how GraphQL works. Don't just look at this url. Also checkout the whole site as well: https://graphql.org/

What we need to do here is to create a dialog about how this can be implemented. There

[2022-09-14 06:33] susano0 commented on #294
PG 11.5

![Image](https://user-images.githubusercontent.com/25738879/190077260-4da18d00-9602-4a3f-8af0-78fdbd4a76f0.png)

[2022-09-14 06:34] susano0 commented on #293
Getting error while running make install with PG 12.10

![Image](https://user-images.githubusercontent.com/25738879/190077506-f074d653-9801-4159-a467-6b4eb09b16e9.png)

[2022-09-14 17:26] jrgemignani commented on #293
I don't know if these issues cause that error.

- You shouldn't be using sudo for any of this.
- You will need to download the source code for PG 11.5 & 12.10 and create directories for each PG version, under a development account. Not a root account. Root isn't necessary for any of this.
- You will need to follow the build instructions - which means using 'configure' - to build that PG version. S

[2022-09-14 18:08] susano0 commented on #293
PG 11.5 and PG12.10 installations were successful in 2 separate directories (tested them as well).  When I build the AGE extension with PG12, it throws this error (ag_graph.c -> insert_graph(args) -> error: void value not ignored), although with PG11 I was able to build and run the regression tests successfully.

[2022-09-14 18:31] jrgemignani commented on #293
Are you building the correct AGE branch for PG12?

[2022-09-14 18:48] susano0 commented on #293
Yes, I used "AGE PG12.1.0 ALPHA" for PG12.

[2022-09-14 18:51] susano0 commented on #293
Do we need PG12.10 or PG12.1 (inferring from the title of the branch)? I will try with PG12.1.

[2022-09-14 19:46] jrgemignani commented on #293
Is that the only error? What OS?

[2022-09-14 19:50] jrgemignani commented on #293
Actually, that error shows that you aren't actually building the extension from the AGE ALPHA PG12 release.

[2022-09-14 19:50] jrgemignani commented on #293
Actually, that error shows that you aren't actually building the extension from the AGE ALPHA PG12 release.

[2022-09-14 20:22] susano0 commented on #293
I am using Ubuntu 22.04 LTS.

![Image](https://user-images.githubusercontent.com/25738879/190254509-5c36fcb4-1839-4b6e-9643-33e43df5f9c7.png)

[2022-09-14 20:32] susano0 commented on #294
PG12.10

![Image](https://user-images.githubusercontent.com/25738879/190256596-14e0abad-0a10-4ddd-b738-ccb465065d47.png)

[2022-09-14 20:33] susano0 commented on #293
Yes, thank you you were right, resolved. :)

[2022-09-14 22:47] JoshInnis commented on #258
https://docs.google.com/presentation/d/17gxExJJtiaoTI7msRmE_oASN0ZZPBhb8/edit#slide=id.p1

[2022-09-14 23:22] skkk98 commented on #293
Where should these pg installations be? I created a folder(pgsql11) under documents and installed(make --prefix install) it in this created folder. But it doesn't seem to work. Should it be under /usr/local/ or something?

[2022-09-14 23:38] jrgemignani commented on #293
Mine are under my development home directory, as an example.

[2022-09-14 23:58] skkk98 commented on #293
I currently have it in home/usr/pgsql-11.5, but when I change the usr(su - postgres) to test psql, I cannot find this. So should I move this installations inside the root(somewhere like /usr)

[2022-09-15 00:23] kirill-develops commented on #290
Hey Josh, I have a base understanding of GraphQL on the user-end side of things, at least at a high level. I'm wondering if you have some resources to better understand AGE to better grasp how this may differ from applying to a PostgreSQL or MySQL DB. This is all very new and I want to be time considerate and focus on the most important ideas before I dive deeper.

[2022-09-15 03:33] skkk98 commented on #293
I keep getting this error that postgres is not in sudoers file. This incident will be reported. Any idea what to do?

![Image](https://user-images.githubusercontent.com/25060717/190307652-19284b1e-c6d1-48a9-b252-06a1d9b2f879.jpg)

[2022-09-15 11:05] Sanjeetkumar163 opened #299 "ERROR: operator does not exist: ag_catalog.agtype + ag_catalog.agtype"
I am getting an error when I ran the below queries in PostgreSQL-11:

[code]

**ERROR:  operator does not exist: ag_catalog.agtype + ag_catalog.agtype
LINE 1: ...her('graph_path', $$ MATCH (x:L) RETURN (x.a + x.b + x....
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp

[2022-09-15 11:50] mhmdawnallah opened #300 "ERROR: too few arguments to function call(queryEnv, dest, completionTag) expected 8, have 7 at line src/backend/catalog/ag_catalog.c:98:68"
I'm getting the following errors when I run:
`make install`

<img width="1404" alt="Screen Shot 2022-09-15 at 1 44 07 PM" src="https://user-images.githubusercontent.com/69568555/190396014-701adf4b-b67c-46b2-9e8b-490c8e0801cf.png">

[2022-09-15 14:55] JoshInnis commented on #300
What version of Postgres and what branch of AGE are you using?

[2022-09-15 15:39] mhmdawnallah commented on #300
I'm currently using **PostgreSQL 14 version** and **master branch**

[2022-09-15 15:41] muhammadshoaib commented on #300
Currently we only support PG11 and PG12. We are working on other versions
as well.

On Thu, Sep 15, 2022 at 4:39 PM Mohamed Awnallah ***@***.***>
wrote:

[2022-09-15 15:42] JoshInnis commented on #259
Edmonds' algorithm:
http://www.cs.mun.ca/~kol/courses/6743-w15/papers/edmonds65-blossom.pdf

[2022-09-15 17:33] kirill-develops commented on #290
I took a look at the slides again that I saw you uploaded to the intro to AGE project. I’d love a 15min zoom call at any time just to clarify my understanding.

The big take away was there are three unique types to AGE: vertices, edges and paths, with the first two being JSON data types and the later being an array/list of alternates of the former two. They are stored in AGE labels.

DB complexity

[2022-09-15 17:44] mhmdawnallah commented on #300
Okay, I've just migrated down to an older version of PostgreSQL server in my case 11.17 and still give me the same error stated above
<img width="399" alt="Screen Shot 2022-09-15 at 7 42 25 PM" src="https://user-images.githubusercontent.com/69568555/190474033-f33fe966-7445-4727-9627-64a22cad57cf.png">

[2022-09-15 17:46] mhmdawnallah commented on #300
I'm currently using Mac arm 64 I don't know if it is applicable to run the project ?

[2022-09-15 18:45] skkk98 commented on #293
I tried installing again everything from start. Now I am getting this error, Don't know what to do.

![Image](https://user-images.githubusercontent.com/25060717/190484816-8b308a47-525f-489a-b8ab-3c5c216416eb.jpg)

[2022-09-15 18:49] jrgemignani commented on #293
There is no need to install or run PostgreSQL under root, so no need to have it in the sudoers file. You should install and run it directly under your development account. You will need to run the executable located in that developer account in the bin directory in the locally installed PostgreSQL directory.

[2022-09-15 19:45] jrgemignani commented on #300
Which branch are you using for PG11? For PG11 it needs to be the **master** branch. Whereas, for PG12 needs to be the **ALPHA** branch.

[2022-09-15 20:27] mhmdawnallah commented on #300
I'm using the master branch for my PostgreSQL version 11.17

[2022-09-15 22:28] JoshInnis commented on #290
We are planning a webinar for a technical explanation as to how AGE works. But there are no dates set. I suppose we could setup a meeting before that if you have a list of questions. However, I will also try to answer your questions here.

[2022-09-15 22:53] JoshInnis commented on #290
As you mentioned, there are three unique data types are used to represent entities in a graph, and there is a second aspect for how it is stored in Postgres. The second part of that presentation.

For the datatypes, the openCypher specification works in such a way that the existing datatypes in Postgres could not suit our needs. So we created Agtype, which is based on JSONB (one of postgres's two

[2022-09-15 22:55] jrgemignani commented on #300
From the error message, you are building AGE against the incorrect version of PostgreSQL. The message states that the function prototype is expecting 8, but got only 7 parameters. That means that you are building AGE for PG11 against PG12. You probably still have the build pointing to the PG12 source.

[2022-09-15 23:49] jrgemignani opened #301 "Validate Apache AGE setup and installation documentation"
Validate and document any issues with the Apache AGE installation in any environment. The documentation should be correct and easy to understand. If not, please submit the necessary changes. It is understood that for some environments it may need changes, so please provide addendums for those changes to the installation documentation as well. Additionally, it is possible that Apache AGE may not fu

[2022-09-16 00:29] Dzordzu commented on #262
What do you need to know?

[2022-09-16 00:31] Dzordzu commented on #207
Closing in favour of #262

[2022-09-16 00:31] #207 closed

[2022-09-16 00:36] Dzordzu commented on #262
I will merge rust driver as soon as I'm sure the code quality is acceptable. Furthermore, the driver needs to cover following functionalities

[x] Creating unique indexes / constraints
[ ] Cypher query building (in progress)
[ ] Tests. More tests
[ ] Stabilized and documented API

[2022-09-16 00:43] Dzordzu commented on #262
Also, can anyone close [this dangling issue](https://github.com/apache/age/issues/207)?

[2022-09-16 00:43] JoshInnis commented on #262
The PMC members of the project have the ability

[2022-09-16 01:14] Dzordzu commented on #298
1. Unique indexes / constraints
2. How AGE works underneath (useful for contributors)

[2022-09-16 15:40] Dzordzu commented on #286
Closed?

[2022-09-16 16:18] Dzordzu commented on #262
If you want, we can always contact via communicator of your choice and talk about details and your vision over driver

[2022-09-16 16:29] jrgemignani commented on #293
I have updated the above comment to make it more helpful.

Additionally, all 3 of you are encouraged to help each other out.

[2022-09-17 15:17] Dzordzu opened #302 "Using postgres variables within cypher function"
As of now, after setting the variable for the session, one can create graph with it, but cannot query cypher

[code]

![image](https://user-images.githubusercontent.com/17514622/190863962-71ceeb8f-87f3-4fb5-b5d4-62f7eb2bc139.png)

[2022-09-19 03:50] PragyanD commented on #294
Installed Apache AGE into both but one test is failing. Will try solving the issue
![PG11 Test](https://user-images.githubusercontent.com/36222744/190946956-ecf9028f-4b30-4705-8808-b913e39f996b.jpg)
![PG12 Test](https://user-images.githubusercontent.com/36222744/190946967-9b4b5c58-a01c-4974-82a3-3ee84092ec53.jpg)

[2022-09-19 04:02] aked21 opened #303 "Review AGE for PostgreSQL 12"
This is to validate or assess if the alpha version of AGE for PG 12 is compatible with the latest release of PG 12.

https://github.com/apache/age/tree/AGE_PG12.1.0_ALPHA

[2022-09-19 18:49] malzubairi commented on #290
Hello Josh and everyone!

In terms of your two ways to implement the GraphQL query language, I think the first way is better because we won't need an intermediate language to run the GraphQL Language.
Most of the time, I expect the query to run in the hug data.
Also, if there is a bug in the Cypher, it could make the query fail to run or give an unexpected result. This makes the first method much

[2022-09-19 23:34] jrgemignani opened #304 "Build and install PostgreSQL 11.17 & 12.12 into your development environment."

[2022-09-19 23:35] jrgemignani commented on #304
This task is identical to #293, except that you will be configuring, building, and installing the latest versions of PG for 11 and 12, into their own development directories.

[2022-09-19 23:36] jrgemignani opened #305 "Build and install the appropriate AGE build into both PostgreSQL development versions."

[2022-09-20 00:58] jasperblues commented on #105
Its a useful feature. Not sure if it will be the case on AGE but with Neo4j they can especially help with performance.

[2022-09-20 03:12] PragyanD opened #306 "Post-installation regression test failing on Ubuntu"
Encountering issues installing AGE-1.1.0-rc0 and AGE_PG12.1.0_ALPHA for PG 11.5 and PG 12.10 respectively.

`test_expr` is failing after running `make installcheck`.

I am on **Ubuntu 22.04.1** through VirtualBox.

Here are the `regression.diffs` and `regression.out` file for the PG11 AGE version. They are near identical to the ones for the PG12 version.

[regressiondiffs.txt](https://github.com/a

[2022-09-20 08:34] skkk98 commented on #294
Installed apache AGE into both pg version but `test expr` is failing in both versions.

![Image](https://user-images.githubusercontent.com/25060717/191209158-b044ed3a-3359-4bae-9658-66a5d50ff98a.png)

![Image](https://user-images.githubusercontent.com/25060717/191209199-0a0b9dc4-45f4-48ff-970f-605caba3b9b2.png)

[2022-09-20 16:03] jrgemignani commented on #294
What OS distro and version are both of you using?

[2022-09-20 16:07] jrgemignani commented on #294
You can use the following command to see what is different. You will need to execute it from the root of the distro -

`diff regress/expected/expr.out regress/results/expr.out`

If the diff isn't large, you can paste the results in here. Or, if there appears to be a 'theme' to the diff, then just post an example.

[2022-09-20 16:16] jrgemignani commented on #105
List comp. was "nearly" completed until it was found to have serious issues for any nested cases. It will be revisited soon.

[2022-09-20 17:01] tarekbouzayani commented on #290
https://github.com/tarekbouzayani

[2022-09-20 17:50] karthikreddy-02 commented on #290
to be assigned to the project

[2022-09-20 17:51] tarekbouzayani commented on #290
to be assigned to the project

[2022-09-20 18:06] tarekbouzayani commented on #290
to be assigned to the GraphQL project

[2022-09-20 18:59] Maddy0508 commented on #290
To be assigned to this project.

[2022-09-20 21:02] arun-esh commented on #290
Please assign this to me as well.

[2022-09-20 21:18] JoshInnis commented on #290
Hello everyone who was assigned today. Please follow the instructions laid out above and try to catch up to where the conversation is so far. We be moving forward with more discussions shortly, but for now try to follow what has been discussed so far, ask any questions you have or give your input to the discussion.

[2022-09-20 21:44] hussaino03 commented on #298
1. The contributing section can require expansion discussing the different aspects of AGE, and providing a brief yet concise overview of the other sub-projects.

[2022-09-20 23:20] JoshInnis commented on #306
The optimizer/planner is picking a different execution plan between ubuntu and the development environments we currently have.

`SET max_parallel_workers_per_gather = 0;`

If you add this to the .sql file for expr the CONTEXT messages disappear, because the execution plan will not use parallel workers anymore. Though that will change the output of several; more queries too. Since the order of a qu

[2022-09-21 00:15] jvn1567 commented on #290
Hello, looking forward to be a part of the project.

[2022-09-21 01:32] susano0 commented on #304
Successfully installed PG11.17 and 12.12.

[2022-09-21 01:32] susano0 commented on #305
PG11.17

![Image](https://user-images.githubusercontent.com/25738879/191394357-0c601fa6-e2a8-4e71-90be-2f4c79cacad5.png)

[2022-09-21 01:33] susano0 commented on #305
PG 12.12

![Image](https://user-images.githubusercontent.com/25738879/191394384-3c200be6-c927-4176-b905-50dfde1b6cf5.png)

[2022-09-21 01:59] gerarjon commented on #298
Ready to get started!

[2022-09-21 02:38] PragyanD commented on #304
Successfully installed both versions

[2022-09-21 02:58] PragyanD commented on #305
Installed, the same test is failing. Will fix these issues
![newAGEinstall](https://user-images.githubusercontent.com/36222744/191404306-d6aa2869-74e0-407c-8de1-f6f75aa9112e.jpg)

[2022-09-21 09:24] samsulai commented on #290
to be assigned this project.

[2022-09-21 17:22] jrgemignani commented on #305
We definitely need to correct the issue with the expr regression test.

[2022-09-21 20:23] malzubairi commented on #290
Hi, I have a question.
is there any plan for the methodology that will be used to implement GraphQL?

[2022-09-22 00:07] ibrarahmad commented on #303
The compilation is successful with no warnings at all

[code]

Regression is also clear, with no failure.

[code]

All set.

[2022-09-22 03:51] skkk98 commented on #306
Facing identical issues as @PragyanD , `test expr` is failing for both pg11.5 and pg12.10

Using **Ubuntu 22.04.1 LTS** (VirtualBox)

dropping my regress files as well since they are slightly different (3-4 lines)from Pragyan's.

pg-11.5/age1.1.0 regress files
[regressiondiffs.txt](https://github.com/apache/age/files/9622024/regressiondiffs.txt)
[regressionout.txt](https://github.com/apache/age/fi

[2022-09-22 05:19] skkk98 commented on #304
Succressfully installed PG11.17 and 12.12

[2022-09-22 06:43] skkk98 commented on #305
Installed AGE extension into both PG(11.17 & 12.12) versions. Apparently all tests are passed. But my pg11.5 & 12.10 had `test expr` failed. weird because I didn't change anything in between.

![Image](https://user-images.githubusercontent.com/25060717/191676398-fea80881-e804-4069-aedb-671c1c63d785.png)

![Image](https://user-images.githubusercontent.com/25060717/191676426-ac218501-6fd0-4811-8186-

[2022-09-22 10:34] rumapaul63 commented on #301
Hello,
I am here for contribute in the section of Apache AGE setup and installation documentation. Thank you.

[2022-09-22 18:43] JoshInnis commented on #290
@malzubairi Do you mean software development methodology such as Agile?

[2022-09-22 18:45] JoshInnis commented on #290
Hello everyone,

Sorry for the sudden change, but would you be able to join our discord server? After some discussion we determined that a GitHub issue isn't the best place for discussions and we needed a place for the team to hold conversations.

https://discord.gg/s6dpF6qZ

[2022-09-22 19:34] jrgemignani commented on #301
I will add you shortly as I need to adjust the naming and task descriptions a bit.

[2022-09-22 22:13] jrgemignani opened #307 "Validate Apache AGE setup and installation documentation for PG 12"
Validate and document any issues with the Apache AGE setup and installation documentation for any OS environment using a version of PG12.

The documentation should be correct and easy to understand. If not, please submit the necessary changes.

It is understood that for some environments the documentation may need specific changes, so please provide addendums for those environments and changes to