[2022-09-22 23:10] dehowef commented on #298
@gerarjon Thanks for your interest! Let me open an issue regarding proofreading the documentation and assign it to you if that's okay

[2022-09-22 23:20] dehowef commented on #298
@gerarjon Could you comment on this thread: https://github.com/apache/age-website/issues/82

So that I may assign this issue to you? Thank you!

[2022-09-23 16:10] Johan511 opened #308 "Facing errors while trying to make install the repo"
I would like to contribute to this project and have tried to make the clone of the repo on my local system, during which I faced the following errors

**src/backend/catalog/ag_catalog.c:97:68: error: incompatible type for argument 4 of ‘prev_process_utility_hook’**
prev_process_utility hook requires 8 arguments but, only 7 were passed. The repo does not pass the bool readOnlyTree argument

typedef

[2022-09-23 16:20] Johan511 opened #309 "Facing errors while trying to make install the repo"
I would like to contribute to this project and have tried to make the clone of the repo on my local system, during which I faced the following errors

Database : postgres 14

**src/backend/catalog/ag_catalog.c:97:68: error: incompatible type for argument 4 of ‘prev_process_utility_hook’**
prev_process_utility hook requires 8 arguments but, only 7 were passed. The repo does not pass the bool readOn

[2022-09-23 16:20] dehowef opened #310 "Review Regression Tests"
Review each regression test set and make any necessary revisions or additions.

Regression tests can be run by using the command 'make installcheck' in the incubator-age directory on your local machine.

The regression tests can be found in the /regress/sql folder. When regression tests are run, result files will be generated in /regress/results and diffed against /regress/expected. A diff file wh

[2022-09-23 16:53] #308 closed

[2022-09-23 17:06] malzubairi commented on #290
Yes, @JoshInnis

[2022-09-23 17:24] marodins commented on #292
went through the documentation

[2022-09-23 18:04] jrgemignani commented on #309
PostgreSQL 14 is currently not supported. Currently, only PostgreSQL versions 11 & 12 are supported.

Version 13 is being worked on and then 14 will be after that.

[2022-09-23 18:19] JoshInnis commented on #290
Also, please comment here your preferred method of communication, discord or slack. if you think another method is better, please provide it

https://www.reddit.com/r/apacheage/comments/xlgueu/which_is_better_slack_or_discord_for_project/

[2022-09-23 19:16] Johan511 commented on #309
Hi, can you guide me on use postgresql 11 source/header files during installation of the age extension. I have installed age and tried running make but still have the same errors

[2022-09-23 19:36] jrgemignani commented on #309
Here is a link that should help.

https://age.apache.org/age-manual/master/index.html

[2022-09-23 21:33] Johan511 commented on #309
I have been following the age manual and have still got the same errors mentioned above

[2022-09-23 21:44] jrgemignani commented on #309
Please see this issue -

https://github.com/apache/age/issues/300

[2022-09-24 19:47] rafsun-yu commented on #292
went through the documentation

[2022-09-24 22:40] rafsun-yu commented on #304
Installed pg11.17 and 12.12.

[2022-09-25 00:23] rafsun-yu commented on #305
Installed AGE into PG11.17. Installcheck passes all 20 tests.

However, for PG12.12, installcheck gives the following error. What I did was checked into branch AGE_PG12.1.0_ALPHA, and run make install with appropriate PG_CONFIG.
[code]

[2022-09-25 15:52] skkk98 commented on #305
I'm not sure whether it'll help, but try running `make clean` and run the `installcheck` command again.

If it still doesn't work, try testing pg12.12 by running `bin/psql` in the postgresql-12.12 folder.
it says version 11 is being used, so you can also try reinstalling pg12.12.

[2022-09-25 19:24] JoshInnis commented on #305
Did you switch to the Postgres 12 supported branch of AGE, `AGE_PG12.1.0_ALPHA`? Also you should run make clean when switching between versions.

[2022-09-26 07:14] marodins commented on #291
setup complete

[2022-09-26 07:15] marodins commented on #293
install completed pg 11.5 and 12.10

[2022-09-26 07:17] marodins commented on #294
![Image](https://user-images.githubusercontent.com/67288224/192215681-5a43c7f5-f5b8-40a6-9fc2-ca3cbc2c991f.png)
![Image](https://user-images.githubusercontent.com/67288224/192215682-193b6292-8d77-4862-8239-176a7444e3a5.png)

[2022-09-26 07:45] marodins commented on #304
installed 11.17 and 12.12

[2022-09-26 07:47] marodins commented on #305
PG 12.12

![Image](https://user-images.githubusercontent.com/67288224/192221464-bc42b1eb-3828-4615-bb8e-76034cca268c.png)

PG 11.17

![Image](https://user-images.githubusercontent.com/67288224/192221548-01137aa4-aa61-4ca9-af87-b6129e69c1d9.png)

[2022-09-26 13:32] Johan511 opened #311 "Improve documentation for setup of AGE extension"
While trying to setup the extension, I did face a multitude of problems mostly due to the fact that I already had pg14 installed on my system and had to try to figure out on my own how to install pg11, change the pg_config file, and make sure I connect to the pg11 database using psql.

I hadn't found any proper resources on the internet on how to use multiple versions postgres on the same system w

[2022-09-26 15:49] aligbakhtiyar commented on #290
Looking forward to being a part of this project!

[2022-09-26 15:52] aligbakhtiyar commented on #290
This is my GitHub account: "https://github.com/aligbakhtiyar"

[2022-09-26 16:49] mhmdawnallah commented on #290
Looking to contribute in the development for GraphQL Support of Apache AGE project!

[2022-09-26 17:46] oredotjs commented on #301
I am here for contribute in the section of Apache AGE setup and installation documentation. Thank you.

[2022-09-26 18:32] kuldeep27396 commented on #307
I'm ready to start.

[2022-09-26 18:32] kuldeep27396 commented on #301
I'm ready to start.

[2022-09-26 18:54] rafsun-yu commented on #305
@JoshInnis @skkk98  `make clean` solved the issue. Thanks.

PG 11.17
![Image](https://user-images.githubusercontent.com/86813745/192357156-a2625e8f-97d0-4acb-ad07-07b73f7e5a4b.png)

PG 12.12
![Image](https://user-images.githubusercontent.com/86813745/192357377-79fe87ef-b666-44dd-bec0-eab74fe5dfe5.png)

[2022-09-27 02:57] DEENYUSUPH commented on #290
Glad to be here !!!, ready to contribute to this project .

[2022-09-27 04:04] rafsun-yu commented on #291
Could you please elaborate what needs to be done for this task? So far, I completed the tasks 304 and 305 on my ubuntu machine.

[2022-09-27 04:05] rafsun-yu commented on #293
Installed pg 11.5 and 12.10.

[2022-09-27 05:13] Johan511 commented on #311
Is there anyway I can contribute to the documentation ?

[2022-09-27 13:45] zeeshan457 commented on #290
to be assigned to this projects, thanks.

[2022-09-27 17:19] dehowef commented on #311
@Johan511 yes! you can clone https://github.com/apache/age-website and make changes to the documentation in https://github.com/apache/age-website/tree/master/docs

Once you have made the desired changes, you may issue a pull request and someone will review the changes.

[2022-09-27 17:55] JoshInnis commented on #290
Also, it appears I have reached the limit that Github allows to assign to a single issue. Please join the Discord

[2022-09-27 19:30] sisi-siyuchen commented on #290
I look forward to being involved in this project!

[2022-09-27 21:10] beinjamin commented on #298
hello Ready to get started!

[2022-09-27 21:25] beinjamin commented on #301
Hello,
I am here for contribute in the section of Apache AGE setup and installation documentation.

[2022-09-27 22:26] dehowef opened #312 "CALL... YIELD clause ignores WHERE condition"
**Describe the bug**
CALL ... YIELD clause ignores the WHERE condition. WHERE clauses used proceeding a CALL ... YIELD subquery will be ignored.

**How are you accessing AGE (Command line, driver, etc.)?**

psql commandline

**What is the command that caused the error?**
[code]
Result:
[code]

**Expected behavior**
Return value should be null; sqrt(1) != WHERE condition of 2.

**Environment (pleas

[2022-09-27 23:37] skkk98 commented on #310
Started Reviewing sql files and also going through AGE documentation again to get better understanding of the sql commands/queries.

[2022-09-28 01:31] rafsun-yu commented on #294
11.5

![Image](https://user-images.githubusercontent.com/86813745/192665987-cf939df0-1838-4e61-b09e-f5ddc2130280.png)

12.10

![Image](https://user-images.githubusercontent.com/86813745/192666870-25af4a00-5de9-44b1-b471-151b9e41d17e.png)

[2022-09-28 06:36] Gabe-1 commented on #298
Hello I'm ready to start!

[2022-09-28 10:08] kikiservice45 commented on #301
Hello,
I am here for contribute in the section of Apache AGE setup and installation documentation. Thank you.

Mezen Sboui

[2022-09-28 16:05] Dzordzu commented on #281
@JoshInnis any progess on this?

[2022-09-28 22:28] jrgemignani commented on #312
This is the offending line -

2184         if (is_ag_node(clause, cypher_call))

I changed it to -

2184         if (is_ag_node(clause->self, cypher_call))

It looks like just a typo that got overlooked.

[2022-09-29 14:02] y0gesh02 commented on #295
Ready to start!

[2022-09-29 15:07] alykotb commented on #290
Interested to be a part of this project.

[2022-09-29 17:13] jrgemignani commented on #309
If this is resolved, please close the issue :)

[2022-09-29 17:16] jrgemignani commented on #302
I will take a look. This "should" be a relatively simple fix. I know, famous last words,...

[2022-09-29 17:19] #309 closed

[2022-09-29 17:48] dehowef commented on #295
@y0gesh02 You can clone the project onto your machine and make a branch where you can make changes to the documentation found in the README file in: https://github.com/apache/age

Once you have created those changes, make a pull request and someone will review the changes.

[2022-09-29 17:51] jrgemignani commented on #302
Yep, not so simple,...

The issue here is that current_setting('my.graph') is a function call. That means it won't get evaluated until the execution phase, which is where the query is executed and you get your results.

However, the cypher function needs to know the graph name in the analyze phase, which is for all intents and purposes, the beginning.

The only way to resolve this would be to exec

[2022-09-29 19:45] jrgemignani commented on #302
Updated above comment.

[2022-09-30 05:26] alykotb commented on #290
@JoshInnis  when I try opening the discord link it tells me "the invitation may have been expired"

[2022-09-30 05:26] alykotb commented on #290
@JoshInnis  when I try opening the discord link it tells me "the invitation may have been expired"

[2022-09-30 05:26] alykotb commented on #290
@JoshInnis  when I try opening the discord link it tells me "the invitation may have been expired"

[2022-09-30 05:26] alykotb commented on #290
@JoshInnis  when I try opening the discord link it tells me "the invitation may have been expired"

[2022-09-30 05:26] alykotb commented on #290
@JoshInnis  when I try opening the discord link it tells me "the invitation may have been expired"

[2022-09-30 10:06] mhmdawnallah commented on #290
@JoshInnis Discord Invitation link is expired. Could you please re-update it? Thanks for your time and consideration

[2022-09-30 13:42] JoshInnis commented on #290
https://discord.gg/VD4drHrh

[2022-09-30 16:47] JoshInnis commented on #271
ag_catalog.age_create_complete_graph(graph_name Name, nodes int)

[2022-09-30 17:05] jrgemignani opened #313 "Become familiar with the gdb debugger and PostgreSQL flow"
This task is to help you become familiar with the GDB debugger and how a command is processed in PostgreSQL.

GDB is a full featured debugger with lots of capabilities. But, for most tasks, you only need to know a few commands and a basic instruction of how to use it. The GDB documentation is available online and if you have any questions. You can also comment here or message us if you have any qu

[2022-10-02 16:08] pragyan2002 commented on #290
To be assigned to the project.

[2022-10-02 17:42] rafsun-yu commented on #280
Started the task.

[2022-10-02 20:22] jasperblues commented on #290
For the purpose of general utility and attracting users to AGE, look at what users will want to do with GraphQL. The majority will be building APIs choosing it as the favored option over a REST on account of all of GraphQL's benefits.

That means they won't just want graphQL. They'll need:

* Authentication and authorization
* Audit / logging
* Custom business rules.

All of the above are typicall

[2022-10-03 16:15] jrgemignani commented on #302
@JoshInnis Was this reopened by mistake? I don't see a comment explaining why it was reopened.

[2022-10-03 20:36] susano0 commented on #310
The queries for tests 17 and 18 in cypher_merge.sql give errors.

`SELECT * FROM cypher('cypher_merge', $$CREATE (n) MERGE (n)-[:e]->() $$) AS (a agtype);`
`ERROR:  end_id() argument must resolve to a scalar value`

`SELECT * FROM cypher('cypher_merge', $$CREATE (n {i : 1}) SET n.i = 2 MERGE ({i: 2}) $$) AS (a agtype);`
`ERROR:  missing FROM-clause entry for table "_age_default_alias_0"`
`LINE 5:

[2022-10-03 21:04] #312 closed

[2022-10-03 23:53] HackettJP commented on #290
Looking forward to join the Apache Age project, thks

[2022-10-04 19:54] TropicalPenguin opened #314 "Non-existent label results in error, rather than no matches"
**Describe the bug**

If I have a match clause in a cypher query that uses a non-existent label, that pattern should merely not match anything. It should not be an error condition. For example, on any graph lacking the label foo, the result set for the following command is expected to be empty.

`postgres=# SELECT * FROM ag_catalog.cypher('G', $$ MATCH ()-[e:foo]->() RETURN e $$) AS (result1 ag_ca

[2022-10-04 20:31] TropicalPenguin commented on #314
I now notice that this has been mentioned previously, in https://github.com/apache/age/issues/186.

@jrgemignani I can also confirm that neither RedisGraph nor Neo4j treat this as an error. Both simply return no results. This clearly becomes important with more complex queries. For example, I found this error in attempting the following:

```MATCH (a:A) WHERE ID(a)=1125899906842625 WITH a OPTIONAL

[2022-10-04 21:28] jrgemignani commented on #314
I agree. I think that it should be in line with others and will see about making this a task to address it.

[2022-10-04 22:41] jrgemignani commented on #291
If you have done 293 & 294 then this task is completed. It was basically setting up a development environment, which you obviously have done.

[2022-10-04 23:49] PragyanD commented on #310
Started reviewing files and going through AGE documentation.

[2022-10-05 00:53] rafsun-yu commented on #313
Started the task.

[2022-10-05 01:16] #283 closed

[2022-10-05 06:42] skkk98 commented on #310
I think MERGE can only be used on nodes and not edges. And even if we use it on edges since 'e' is not present, MERGE is trying to create the edge and it doesn't know how to create edges without start and end id. Maybe that's the error? I am not sure. @dehowef @susano0?

[2022-10-05 13:17] susano0 commented on #313
Completed the activity. Ran a simple query and then used the debugger to trace its execution.

[2022-10-05 15:18] skkk98 commented on #313
Started doing the task.

[2022-10-05 16:14] booqoffsky opened #315 "Support passing parameters to the cypher function without creating a prepared statement"
Are there any plans to add the ability to directly pass parameters to the `cypher` function call?
For example:
[code]
Now this is causing an error:
`ERROR:  third argument of cypher function must be a parameter`

More than a year ago there were comments about such functionality:
https://github.com/apache/age/issues/43#issuecomment-799599013
https://github.com/apache/age/issues/76#issuecomment-8602

[2022-10-05 16:58] susano0 opened #316 "Query to return list of graphs"
I feel there should be a query that would return the names of the different graphs I have created. After creating a bunch of graphs, it gets difficult to recall their names.

Creating a new query with the syntax `SELECT * FROM ag catalog.get graph list()` could be a solution to this issue.

Also, a further enhancement could be to associate a short description with the graph name.

[2022-10-05 17:19] susano0 opened #317 "Graph Naming Convention/Rules"
I found that there is no naming convention for creating a graph. Currently, we can create a new graph with names such as "." and "\n".

[code]
I suggest the following rules:
1. Graph name must begin either with an alphabet or an underscore.
2. The name can also include numbers after the first character.
3. No spaces or other special characters except underscore should be allowed.

[2022-10-05 17:21] rafsun-yu commented on #313
Completed the task.

Note: In Ubuntu, gdb 10.x cannot read debug information even if compiled postres with debug flag, in case anyone may find it useful. Updating gdb to latest version fixed it.

[2022-10-05 17:24] TropicalPenguin commented on #316
SELECT * FROM ag_catalog.ag_graph;

[2022-10-06 00:36] #316 closed

[2022-10-06 00:55] jrgemignani commented on #302
Since there isn't a comment explaining why this issue was reopened, and the creator of the issue didn't reopen it, I'm closing this.

Btw, @Dzordzu, the issue here is that when the query -

`SELECT * FROM cypher(current_setting('my.graph'), $$ CREATE (x: Test) RETURN x $$) as (v agtype);`

is run, the cypher function needs the actual graph name for the transform phase. However, by using a function

[2022-10-06 00:55] #302 closed

[2022-10-06 04:48] TropicalPenguin commented on #316
Neo4J appears to offer such diagnostics; neatly overloaded for all vs specific graphs: https://neo4j.com/docs/graph-data-science/current/graph-list/

[2022-10-06 17:02] Dzordzu commented on #45
For onlookers: within [Rust driver](https://github.com/Dzordzu/rust-apache-age/blob/master/src/constants.rs) I've implemented methods that provide unique indexes, and properties contraints. As of now it can be a summary of this disscussion

[2022-10-06 18:10] ibrarahmad opened #318 "PGXN Support."
We need to add support for PGXN. This requires some additional files.

[2022-10-06 20:07] PragyanD commented on #313
Completed the task

[2022-10-06 20:48] PragyanD commented on #280
Started the task

[2022-10-06 21:24] jrgemignani commented on #313
What directory are you rnning gdb from? Can you list its contents here.
What is the gdb command that you are using?
Can you show the postgres processes (ps command).

[2022-10-06 21:49] jrgemignani commented on #313
You are in the correct directory. However, you need to specify the pid for your -> session <- to postgres. In the image above, that pid is 22152. It just looks like you're using the wrong pid.

[2022-10-06 21:55] skkk98 commented on #313
Even when I use 22152 it doesn't work. gives the same error(could not attach process).

[2022-10-06 22:01] jrgemignani commented on #313
That pid will change if you exit the session. Is that process still there?

[2022-10-06 22:04] jrgemignani commented on #313
This may be of help -

https://stackoverflow.com/questions/19215177/how-to-solve-ptrace-operation-not-permitted-when-trying-to-attach-gdb-to-a-pro

[2022-10-06 22:05] skkk98 commented on #313
It's still there. I tried exiting and starting the session again, and ran the gdb command again(with new pid) but still the same error.

[2022-10-06 22:05] susano0 commented on #313
try using sudo gdb

[2022-10-06 22:11] jrgemignani commented on #313
There should be no need to use root or sudo. If the process is owned by your account, you will be able to debug it.

Using root or sudo suggests that the development setup may be incorrect.

[2022-10-06 22:33] skkk98 commented on #313
I'll try the article and see. I checked, and the process is owned by my account. Tried using sudo as well, it attaches to the process but still doesn't find breakpoint(doesn't even read postgres.c file)

[2022-10-06 22:44] jrgemignani commented on #313
That might be due to the path variable and gdb running under root.

[2022-10-06 22:53] jrgemignani commented on #313
I should mention, for anyone that needs to use **sudo** or **root** for this task, you are doing it incorrectly. You will need to fix your account.

You do not need to use either. So, if anyone completed this task using either **sudo** or **root**, you need to do this task again, without them.

[2022-10-06 23:27] jrgemignani commented on #317
We should look at the other graph databases and have our naming strategy similar. I agree that we need to restrict what name is valid, especially for 'special' characters. I don't know about restricting a graph name to have an initial alphabetic character, though.

What naming strategy, if any, does Neo4j have?

[2022-10-07 00:00] skkk98 commented on #313
According to the article, It asks to change ptrace.conf or ptrace_scope, And in order to do that I have to use sudo, Should I use sudo?

[2022-10-07 00:09] jrgemignani commented on #313
Yes, that is fine.

[2022-10-07 00:19] susano0 commented on #313
`echo 0 | sudo tee /proc/sys/kernel/yama/ptrace_scope`

This might help.

[2022-10-07 01:05] jrgemignani commented on #313
Sometimes you will need root to change specific system settings. Especially, security settings. This may be a case where they are blocking gdb from connecting to a process.

[2022-10-07 01:17] skkk98 commented on #313
I tried doing what article said(Thanks @susano0!), Now it attaches to the process. But still gdb can't find the breakpoint. I think it's some path issue. Somehow it reads from src/port/path.c I'll see what I can do to fix this.

[2022-10-07 01:44] rafsun-yu commented on #313
@skkk98 Did you run `c` command in gdb after running `SELECT 1;` in psql?

[2022-10-07 01:49] rafsun-yu commented on #313
@jrgemignani I installed postgres on `/usr/local/..`, so I needed to run 'make' commands on sudo. However, I can run postgres and psql process without sudo and they are owned by personal account. Do you think that's fine?

[2022-10-07 01:51] skkk98 commented on #313
@rafsun-yu yupp, I did. But it never finds `exec_simple_query`.

[2022-10-07 02:10] PragyanD commented on #317
Their naming convention seems similar to what @susano0 proposed. I was taught the same convention for naming variables in my introductory CS classes., so I'm assuming it's fairly popular.

https://neo4j.com/docs/cypher-manual/current/syntax/naming/

[2022-10-07 16:50] jrgemignani commented on #317
Just be aware that there are naming **conventions** and actual **restrictions**. They may say it is good practice to do it this way, but still allow you to do it another.

[2022-10-07 17:03] jrgemignani commented on #317
This is a good introductory task. I would like for **all of our current interns** to work on this task together.

Below are the steps to follow -

1. Research what is allowed for graph names with other graph databases.
2. Propose a standard for AGE to the whole team for approval.
3. Propose a way to implement this standard for review and guidance to the whole team.
4. Submit a patch, for review, t

[2022-10-07 17:12] jrgemignani commented on #317
Btw, others - non interns - are allowed to make productive comments and suggestions. We welcome everyone's input. The work for this task, however, is to be done by the interns collectively.

[2022-10-08 00:06] jrgemignani commented on #313
@rafsun-yu You need to have PostgreSQL installed under a development account, not root nor an admin account.

For me, as an example, I have a user account **jgemignani** on my home server with a home directory of **/home/jgemignani** and all of the PostgreSQL versions and AGE github repos that I use are under that account. This eliminates the need to use root or sudo for builds and for any managem

[2022-10-10 01:16] rafsun-yu commented on #280
Some feedback I can give so far:

1. There is a typo at line 44.
2. The `load_vertex_hashtable` and `load_edge_hashtable` functions have many common chunks. Would it be a good idea to refactor these two functions to separate the common chunks into a new function?

[2022-10-10 19:45] skkk98 opened #321 "SQL Command throws Error in cypher.sql"
I came across some commands that throw errors in cypher.sql and I am not sure whether this is expected behavior or not.

I am unsure whether this is okay because the expected and actual results throw log these errors when running this command.

`SELECT * FROM cypher('cypher', 'RETURN 0') AS r(c text);`
`ERROR:  a dollar-quoted string constant is expected`
`LINE 1: SELECT * FROM cypher('cypher', 'R

[2022-10-10 21:49] marodins commented on #313
Completed this task.

[2022-10-11 01:43] JoshInnis commented on #321
Yes those regression tests are confirming that the second argument of the Cypher function cannot be NULL and cannot be a single-quoted string.

[2022-10-11 09:06] JoshInnis commented on #186
You can use the create_elabel(graph_name, label_name) and
create_vlabel(graph_name, label_name) functions. Also, for any single
graph, a vertex and an edge can't have the same label and label names are
case specific.

On Sat, Jul 30, 2022 at 1:57 PM Jamie Gaskins ***@***.***>
wrote:

[2022-10-12 01:43] PragyanD commented on #310
Finished reviewing the files. test_expr may need to be rewritten because of the ORDER BY problems as referred to by #306

[2022-10-12 08:43] TropicalPenguin opened #328 "MATCH Query That Works in Redisgraph Not Working in AGE"
**Describe the bug**

The MATCH query in the following, short test program, is expected to return the two vertexes labelled "C", along with a 'deps' value == 1 for each.

Instead, no rows are returned by the query.

TLDR:
`CREATE (a:A)-[:incs]->(:C), (a)-[:incs]->(:C) RETURN a`

If we assume ID(a) of the above were 0, the following query should return two rows:
`MATCH (a:A) WHERE ID(a)=0 WITH a OP

[2022-10-12 09:21] TropicalPenguin opened #329 "Server crash in attempt to return undefined variable from MATCH"
**Describe the bug**
Using the sample commands/test program from https://github.com/apache/age/issues/328, if I replace the `RETURN c,deps` sub-clause with `RETURN c,d`

In that program, this query prompts the following error:
`panic: read tcp 127.0.0.1:53392->127.0.0.1:5434: read: connection reset by peer`

And if I try a command in psql soon afterwards:
[code]

**How are you accessing AGE (Comma

[2022-10-12 12:02] guruguruguru commented on #303
Not sure if this fits here, but the packages I installed on RHEL8 for building the extension:

`
dnf install -y gcc make postgresql${pg_version}-devel glibc bison flex readline readline-devel zlib zlib-devel redhat-rpm-config perl
`

[2022-10-12 18:15] TropicalPenguin commented on #328
Closing; as I realised after simplifying the match query that I needed to commit the transaction before I could expect a result in this sample.

[2022-10-12 18:15] #328 closed

[2022-10-12 19:08] TropicalPenguin opened #330 "Invalid Result Returned for OPTIONAL MATCH ... WITH ..."
**Describe the bug**

After setting up the following data:
`CREATE (a:A)-[:incs]->(:C), (a)-[:incs]->(:C) RETURN a`

The node labelled A has two outgoing edges, each going to a node labelled C.

With AGE, I can successfully match these two nodes with the following query:

`MATCH (a:A) WITH a OPTIONAL MATCH (a)-[:incs]->(c) RETURN c`.

_However_, with a slightly more complex query, to capture only

[2022-10-13 04:03] skkk98 commented on #313
Completed this task.

[2022-10-13 04:23] skkk98 commented on #306
I was reinstalling pg-11.17(to complete the gdb task), and after installing, the `test expr` failed again.

![test_expr_failed_NO_CONTEXT_ERRORS](https://user-images.githubusercontent.com/25060717/195497252-622ba95a-100b-44a9-891e-bc75864531e2.png)

This time there were NO CONTEXT messages. What I noticed was that while installing AGE, I had my pg server running. when test expr failed, I reinstall

[2022-10-13 07:27] susano0 commented on #271
Currently working on this functionality.

[2022-10-14 05:16] PragyanD commented on #280
Finished reviewing the files. Will start working on the regression tests

[2022-10-14 22:07] rafsun42 opened #332 "The delete_global_graphs command does not work in a specific scenario"
**Describe the bug**
The `delete_global_graphs` command fails (return `false`) to delete a graph context if any graph context later in the list was deleted before.

**How are you accessing AGE (Command line, driver, etc.)?**
- Command Line

**What data setup do we need to do?**
[code]

**What is the necessary configuration info needed?**
- AGE needs to be installed in the PG 11.17.

**What is the

[2022-10-14 22:09] rafsun-yu commented on #280
Wrote regression tests for the `delete_global_graphs` command. I would like to get feedback on the test script before I can mark this task as complete. Should I send a pull request?

While testing, I found an issue in the `delete_specific_GRAPH_global_contexts` function. I opened a issue #332. If you it is a valid issue, I can start working on the fix.

[2022-10-14 23:46] rafsun-yu commented on #317
Started this task.

I think we can implement Cypher's exact naming rules and restrictions since we are using Cypher.

I am researching some open source implementation of Cypher to see how names are being validated. I found this list [here](https://opencypher.org/projects/) containing many such projects. [This](https://github.com/cleishm/libcypher-parser) project in particular seems relevant to me.

[2022-10-15 03:51] skkk98 commented on #310
Finished reviewing all files. While installing AGE extension into PG, I found that the `test expr` fails only when the pg server is running in the background. When I stopped the pg server and installed it again the `test expr` passed successfully.

[2022-10-16 04:33] TropicalPenguin opened #333 "Invalid String Storage For Escaped Characters"
**Describe the bug**
The following two statements, incorrectly (when both results are the same), return a string containing a literal backslash and a literal t:

a) (Where the `<TAB>` indicates a single tab character between 'foo' and 'bar' in the following line)
[code]
b)
[code]

Since more than one input can be mapped to an output, this prevents reliable round-tripping of string data between dat

[2022-10-17 17:51] jrgemignani commented on #317
I agree. Good catch!

[2022-10-17 17:55] jrgemignani commented on #321
If this has been resolved, please make sure to close the issue :)

[2022-10-17 17:59] jrgemignani commented on #314
This is now an active task to align this behavior with other graph databases, like Neo4j.

[2022-10-17 18:00] jrgemignani commented on #186
This is now an active task to align this behavior with other graph databases, like Neo4j.

[2022-10-17 18:19] susano0 opened #334 "Vertex Naming Convention/Rules"
I found that there is no naming convention for creating vertex labels. It's a similar issue as mentioned in #317.

I suggest the following rules:

1. Label name must begin either with an alphabet or an underscore.
2. The name can also include numbers after the first character.
3. No spaces or other special characters except underscore should be allowed.

[2022-10-17 18:20] susano0 opened #335 "Edge Naming Convention/Rules"
I found that there is no naming convention for creating edge labels. It's a similar issue as mentioned in #317.

I suggest the following rules:

1. Label name must begin either with an alphabet or an underscore.
2. The name can also include numbers after the first character.
3. No spaces or other special characters except underscore should be allowed.

[2022-10-17 18:31] susano0 commented on #317
Created 2 separate issues for vertex (#334) and edge (#335) label naming conventions.

[2022-10-17 19:58] jrgemignani commented on #330
I would be warry of specifying a match on a specific ID number, unless you verify that it is that ID.

Note the following example -

[code]

[2022-10-17 21:53] jrgemignani commented on #306
Haven't we created a task to correct these regression issues by adding ORDER BY? I thought that we had. We need to address this so that other potential *users* don't run into this. Especially, since it is such a simple fix.

[2022-10-17 22:44] jrgemignani commented on #332
Such a n00b mistake on my part, sigh. I will create a patch to fix this.

[2022-10-17 22:57] jrgemignani commented on #332
Once the patch is approved and applied, please verify your new regression tests. Then create the appropriate requests to add those regression tests as part of our suite of regression tests.

[2022-10-17 23:00] jrgemignani commented on #280
I have fixed that issue, it was in code that I wrote so rather easy for me to find and correct it. A patch will be coming soon to address that issue. After you double check that the fix works, using your regression tests, go ahead and send a PR.

[2022-10-17 23:02] jrgemignani commented on #280
@rafsun-yu  Yes, please look into refactoring that code if it looks like it is possible to condense it.

[2022-10-17 23:24] jrgemignani commented on #280
A patch for that bug has been applied to the master branch.

[2022-10-17 23:24] jrgemignani commented on #332
A patch to fix this bug has been applied to the master branch.

[2022-10-18 00:22] rafsun42 commented on #280
@jrgemignani Thank you. I sent the PR #336.

[2022-10-18 00:23] #332 closed

[2022-10-18 00:34] rafsun42 commented on #298
Hi @dehowef, while working on a recent task, I realized that the 'vertex_stats' and 'delete_global_graphs' commands are not documented in the AGE's online manual. If that's a priority for you, I can help with these two commands.

[2022-10-18 00:50] jrgemignani commented on #334
Thank you for opening this issue!

As with all naming conventions, lets be sure to align ours with other graph databases for consistency.

[2022-10-18 00:50] jrgemignani commented on #335
Thank you for opening this issue!

As with all naming conventions, lets be sure to align ours with other graph databases for consistency.

[2022-10-18 05:05] Dzordzu commented on #45
I wouldn't say it's resolved. Fact - currently there are mechanisms that allow client to create indexes / constraints. On the other hand there is neither good documentation on this, nor agreement on the topic [if constraints should also be included within cypher like methods](https://github.com/apache/age/issues/45#issuecomment-812524846).

[2022-10-18 16:10] jrgemignani commented on #321
Sorry, I should have noted the following before suggesting closing the issue -

If those regression tests are supposed to throw errors **and** there isn't a comment stating that, I think that a comment should be added for clarity.

[2022-10-18 18:03] TropicalPenguin commented on #330
Sorry @jrgemignani ; In trying to simplify the example (by using 0 as a placeholder for the actual ID), I hadn't realised I just made the actual issue harder to reproduce 😅.

I've updated the description to more easily reveal the problem.

[2022-10-18 20:02] jrgemignani commented on #330
The following -

`CREATE (a:A {foo:1})-[:incs]->(:C), (a)-[:incs]->(:C) RETURN a`

creates 2 **distinct** paths joined at node **a**. So, 3 **distinct** nodes and 2 **distinct** edges.

[code]

`()<-[]-(a)-[]->()`

The following -

`MATCH (a:A) WHERE exists(a.foo) WITH a OPTIONAL MATCH (a)-[:incs]->(c) RETURN c`

matches those 2 **distinct** paths joined at **a** and returns **c** - each paths' en

[2022-10-18 20:04] TropicalPenguin commented on #330
I've added emphasis to where this is wrong: the 'd' edge is a bidirectional match.

[2022-10-18 20:08] TropicalPenguin commented on #330
In other words, it is expected to reuse the edge so as to be able to count the number of such 'dependencies'

[2022-10-18 20:12] jrgemignani commented on #330
I modified my answer above slightly to make it a little more clear.

The bidirectional edge just means, any **available** edge connected to this node. It doesn't say to reuse an edge that has already been traveled.

[2022-10-18 20:15] TropicalPenguin commented on #330
While it is true that it doesn't _mandate_ reusing an edge,  what I've come to expect from other implementations of Cypher is that it also isn't restricted to only following untraversed edges. If it is in AGE, this is a definite limitation.

[2022-10-18 20:53] jrgemignani commented on #330
It is not a limitation, it **depends** on the graph given and the "technical" **definition** of a path.

But, just for a moment, think of the implications of allowing an edge to be reused. Since vertices can be reused, that would cause endless loops.

Btw, as it is always possible that we got something incorrect or overlooked something, I ran your query on Neo4j to make sure that our implementatio

[2022-10-19 06:02] TropicalPenguin commented on #330
Plot twist! Huh. This is interesting. I tested these in RedisGraph before creating this issue. And in RedisGraph, these commands give me the following result:

[code]
[code]
[code]
[code]
[code]
[code]

It seems you're right about the Neo4J behaviour though. I was able to get the behaviour there (and on AGE) that I was expecting by separating that clause in two:
`MATCH (a:A) WITH a OPTIONAL MATCH

[2022-10-19 16:12] dehowef commented on #298
Thanks for mentioning this @rafsun42 -- as John mentioned, these are internal functions so I don't think we need to document them for now.

[2022-10-19 16:35] TropicalPenguin commented on #333
Seems this might be a Golang API problem rather than storage problem.

[2022-10-19 16:35] #333 closed

[2022-10-19 16:39] jrgemignani commented on #330
I can't speak for RedisGraph, as I have never used it. So, I can't really say why it chose that route for MATCH. Especially, since most traversal algorithms would preclude those results, like as in AGE and Neo4j. What I can say is that our implementation follows Neo4j **and** graph definitions as closely as possible, where applicable.

[2022-10-19 16:40] susano0 opened #337 "get_label_range_var(args) returns new RangeVar pointers"
The name of the function:
[code]
 in `ag_label.c` is misleading.

This function generates a new RangeVar pointer rather than returning the one that was first generated when a label was created, I believe its name should be changed to something like "`create_label_range_var`" or "`generate_label_range_var`".

Also, the function `get_label_range_var` should be fixed to return the correct pointer.

[2022-10-19 16:41] jrgemignani commented on #330
If you feel the issue is resolved, then yes, please close it.

[2022-10-19 17:02] #330 closed

[2022-10-19 18:37] jrgemignani commented on #337
Good point. I will point out that the description for the function does point out that it creates one. But, the name of the function should also be more clear.

Additionally, another name worth considering could be `make_label_range_var` which is in line with a lot of PG functions.

[2022-10-19 20:12] susano0 opened #338 "Cannot retrieve sequence name and sequence id for a label"
Every time a new label is created (by executing `Oid create_label(args)` in "label_commands.c"), a sequence name (referred to as `seq_name`) is generated, but it is not later stored in the table ag_catalog.ag_label (by calling `Oid insert_label(args)`) making it inaccessible. To retrieve the sequence counter, the sequence name or sequence id is necessary. Since the value returned by the sequence c

[2022-10-23 05:47] TropicalPenguin opened #339 "Error on relationship when source vertex in EXISTS() has alias"
**Describe the bug**

Given the basic data set up:
`CREATE (:A)-[:incs]->(:C)`

The following succeeds:
`MATCH (a:A) WITH a OPTIONAL MATCH (a)-[:incs]->(c) WHERE EXISTS((c)<-[:incs]-()) RETURN a,c`

But simply adding an alias for the source vertex makes the query fail:
`MATCH (a:A) WITH a OPTIONAL MATCH (a)-[:incs]->(c) WHERE EXISTS((c)<-[:incs]-(a)) RETURN a,c`

With the following error:
`pq: att

[2022-10-23 18:25] rafsun42 commented on #334
@susano0 I see you are leaning towards Neo4j's naming rules. But, it seems these rules are already implemented for vertices (and possibly edges).

When I execute the following,
[code]
I get this error:
[code]
This example violates Neo4j's 2nd naming rule that `Names should not begin with a number`. I tried violating other rules as well. AGE was able to prevent all of them.

If AGE can prevent the

[2022-10-24 00:16] rafsun42 commented on #317
@jrgemignani As for the 3rd step of this task,
1. We can create a `int validate_name(char* name)` function thar returns whether the `name` abides by the naming rules.
2. Then, use this function, inside the `create_graph` and `rename_graph` functions in the `graph_commands.c` file. I believe these are the only two places where a graph's name is set.

[2022-10-24 02:06] rafsun42 commented on #317
Also, a question. Do you think it is a good idea to use regex for name validation? I found a regex string and tested it with a list of label names. It seems to work fine.

[2022-10-24 06:11] susano0 commented on #334
@rafsun42 No, you can create vertex and edge labels without errors if you don't use a cypher query.  So, it needs to be fixed. Please see the examples below.
[code]
[code]

[2022-10-24 17:40] jrgemignani commented on #334
The `CREATE (n:1first)` is likely due to a grammar rule in the grammar file `src/backend/parser/cypher_gram.y`. It likely only allows identifiers in that spot.

My question is, does Neo4j complain if you use `1first` as a label? They may say that you shouldn't, but still allow you to use it. I would verify that it is **explicitly** disallowed.

[2022-10-24 21:24] rafsun42 commented on #334
I tried Neo4j aura. It actually throws error if naming rules are not followed. However, if the name is escaped with backtick, no rules apply anymore.

Same principe for database names. But graph names have additional rules. I mention them in #317.

[2022-10-24 21:32] rafsun42 commented on #317
Neo4j has these graph naming rules: https://neo4j.com/docs/cypher-manual/5/databases/#administration-databases-create-database (I assume graph is similar to a database?)

These rules are ignored when the name is escaped with backtick.

[2022-10-25 00:52] jrgemignani commented on #317
Regex should be okay to use. There is a regex PG library used by AGE for the ~= operator. If we use regex, we can use that library.

[2022-10-25 00:54] jrgemignani commented on #317
I believe that, in our case, graph is the same as database.

[2022-10-25 15:59] jrgemignani commented on #339
Yep, verified this is an issue with 1.1.0 -

[code]

We will look into this.

[2022-10-26 14:19] PragyanD commented on #280
@jrgemignani I've opened the PR #341. Please let me know if I should make any changes,

[2022-10-26 17:47] jrgemignani commented on #339
This task will be a project for our interns to tackle.

[2022-10-26 18:04] rafsun42 commented on #280
Completed this task.

[2022-10-26 18:04] rafsun42 commented on #339
Started this task.

[2022-10-28 14:11] PragyanD commented on #339
Started the task

[2022-10-28 15:05] PragyanD commented on #339
Nice catch Rafsun! I'll investigate this interaction further.

[2022-10-30 06:01] TropicalPenguin opened #343 "Cypher SET Clause for Copying All Properties"
**Is your feature request related to a problem? Please describe.**
Currently, the AGE implementation of the Cypher SET clause expects a variable name.

If a variable name isn't provided, the following error is currently noted:
`ERROR:  SET clause expects a variable name`

This means that if I want to copy all properties from one entity to another, I would need to know all possible properties by na

[2022-10-31 07:48] jievince opened #344 "incompatible library "/usr/lib/postgresql/11/lib/age.so": version mismatch"
[code]

[code]

[code]
[code]

[code]

[2022-10-31 07:52] jievince commented on #344
Why it reports the incompatible error?

[2022-10-31 07:54] #344 closed

[2022-11-02 07:06] ass77 opened #347 "Unable to create AGE extension on postgres 11 and 12"
This is what I've done

1/ purge and remove current postgres 14

`
sudo apt-get --purge remove postgresql postgresql-\*
`

2/ install postgres 11 ++ `VERSION = PostgreSQL 11.17 (Ubuntu 11.17-1.pgdg18.04+1)`

`
sudo apt-get install postgresql-server-dev-11 postgresql-11 postgresql-client-11 postgresql-contrib-11
`

3/ clone apache age

`
git clone https://github.com/apache/age
`

4/ change postgres

[2022-11-02 07:15] ass77 commented on #347
well...  i did a `make clean` and it works fine now.

https://github.com/apache/age/issues/305#issuecomment-1258469444

[2022-11-02 07:15] #347 closed

[2022-11-04 00:54] jrgemignani commented on #317
Lets go with the Neo4j naming rules, less the escaping part.

[2022-11-04 15:56] jrgemignani commented on #317
Additionally, I think it is a good idea to be a bit strict with valid names due to potential security issues by allowing escaped or control characters.

[2022-11-04 16:27] jrgemignani commented on #334
I think that for all names for labels, vertices, and edges, that we need to comply with Neo4j's standards.

Additionally, I think that it is a good idea to be a bit strict with valid names due to potential security issues by allowing escaped or control characters.

So, lets follow Neo4j but disallow escaped characters.

[2022-11-04 16:27] jrgemignani commented on #335
I think that for all names for labels, vertices, and edges, that we need to comply with Neo4j's standards.

Additionally, I think that it is a good idea to be a bit strict with valid names due to potential security issues by allowing escaped or control characters.

So, lets follow Neo4j but disallow escaped characters.

[2022-11-04 17:40] dehowef commented on #314
I addressed this issue with an update to the main branch. Cheers

[2022-11-04 17:40] #314 closed

[2022-11-04 18:59] TropicalPenguin commented on #314
Thank you so much @dehowef; I look forward to playing with it!

[2022-11-09 20:43] rafsun42 commented on #317
I implemented the naming rules and sent a pull request #349.

[2022-11-09 20:49] rafsun42 commented on #317
Here are the rules that I implemented. These rules are copied from Neo4j website. I added notes (in bold face) where I diverged slightly from Neo4j's convention. Please let me know if anything needs to be changed.

Naming rules for labels:

- Alphabetic characters: Names should begin with an alphabetic character. This includes "non-English" characters, such as å, ä, ö, ü etc. **(Note: I allowed un

[2022-11-10 06:05] stanislav-a-frolov opened #350 "agtype to jsonb conversion"
Hello, everyone.

I'd like to have an agtype to jsonb conversion, so I would be able to write less complicated sql or use Postgresql drivers.
It was mentioned in docs that agtype is quite close to jsonb, so would such conversion be fast enough for large objects?

[2022-11-10 17:17] jrgemignani commented on #317
Looks good @rafsun42!  I agree with your changes and will review the pull request.

[2022-11-10 18:06] jrgemignani commented on #350
AGTYPE is based on JSONB and uses modified PG routines for JSONB. So, it is as fast as JSONB. However, it contains some **additions** to JSONB so it is not 1 to 1. There are functions available for typecasting **some** items back and forth between AGTYPE and PG datatypes.

If by complicated SQL you mean the wrapping SQL,... that is due to the nature of PG extensions and what we can and cannot do.

[2022-11-12 02:24] TropicalPenguin commented on #317
I've added some feedback to the PR.

[2022-11-12 12:59] djskl opened #351 "why can't "WHERE" work with 'MATCH/WITH' ?"
I tried the "WITH"  cluse as described by the doc [Filter on aggregate function results](https://age.apache.org/age-manual/master/clauses/with.html#filter-on-aggregate-function-results). But, I found that the condition presented by 'WHERE' can't work with 'WITH'.

Example Code:
`select * from cypher('agload_test_graph', $$ match (n) with n where n.name='A' return n $$) as (sp agtype)`

the `n.name

[2022-11-13 14:19] MatheusFarias03 commented on #347
Hello! Where did you run the `make clean` command? It was after the `make PG_CONFIG=/path/to/postgres/bin/pg_config install` or before it? Or it was in the postgresql directory?

[2022-11-13 15:27] ass77 commented on #347
Hi. I reverted back the postgres version back to 11. and repeat again from step 1 to 8, pretty much the `make clean` command is going to be on step 9 and did it in the `age` directory.

[2022-11-14 01:29] JoshInnis opened #352 "AGE Onboarding - Setup Developer Environment"
1. Install Postgres from Source Code
2. Install AGE from Source Code
3. Install a Debugger
4. Learn Basic Git Commands

[2022-11-14 01:32] abdinabi123 commented on #352
Hi! this is good, excited to start on AGE project

[2022-11-14 01:34] JoshInnis commented on #352
To debug a PostgreSQL session -

Have Postgres configured with debugging flags enable and have a Postgres instance running.
An open session running.
Know the process of the session that you will be debugging (ps -C postgres).
Execute the command gdb -p <pid>

The basic GDB commands are -
b for breakpoint, fx, b exec_simple_query or b 930
c for continue - continues to the next breakpoint
n for next

[2022-11-14 01:35] JoshInnis commented on #352
The Basic Git commands are:

git apply
git add
git commit
git branch
git checkout

[2022-11-14 01:38] JoshInnis opened #353 "AGE Onboarding - Setup Developer Environment 2"
1. Install Postgres from Source Code
2. Install AGE from Source Code
3. Install a Debugger
4. Learn Basic Git Commands
5. Read Regression Tests

[2022-11-14 01:38] JoshInnis commented on #353
To debug a PostgreSQL session -

Have Postgres configured with debugging flags enable and have a Postgres instance running.
An open session running.
Know the process of the session that you will be debugging (ps -C postgres).
Execute the command gdb -p

The basic GDB commands are -
b for breakpoint, fx, b exec_simple_query or b 930
c for continue - continues to the next breakpoint
n for next line

[2022-11-14 01:38] JoshInnis commented on #353
The Basic Git commands are:

git apply
git add
git commit
git branch
git checkout

[2022-11-14 01:39] JoshInnis commented on #352
Install Postgres from Source Code:
https://www.postgresql.org/docs/current/install-procedure.html

Enable Debugging Flags

[2022-11-14 01:39] JoshInnis commented on #353
Install Postgres from Source Code:
https://www.postgresql.org/docs/current/install-procedure.html

Enable Debugging Flags

[2022-11-14 01:42] JoshInnis opened #354 "AGE Onboarding - Learn Postgres Basics 2"
Read Chapter 1-3: https://www.interdb.jp/

[2022-11-14 01:42] JoshInnis opened #355 "AGE Onboarding - Learn Postgres Basics 1"
Read Chapter 1-3: https://www.interdb.jp/

[2022-11-14 01:43] JoshInnis commented on #352
Install AGE From Source Code:
https://age.apache.org/age-manual/master/intro/setup.html

[2022-11-14 01:44] JoshInnis commented on #352
Run the Regression Tests:
https://age.apache.org/age-manual/master/contributing/run_tests.html

Then please read through regress/sql/* and regress/expected/*

To learn what the regression tests are

[2022-11-14 01:44] JoshInnis commented on #353
Install AGE From Source Code:
https://age.apache.org/age-manual/master/intro/setup.html

[2022-11-14 01:45] JoshInnis commented on #353
Run the Regression Tests:
https://age.apache.org/age-manual/master/contributing/run_tests.html

Then please read through regress/sql/* and regress/expected/*

To learn what the regression tests are

[2022-11-14 05:15] MuhammadTahaNaveed commented on #352
Acknowleged.

[2022-11-14 05:15] MuhammadTahaNaveed commented on #355
Acknowleged.

[2022-11-14 05:15] Munmud commented on #352
Hi! this is good, excited to start on AGE project

[2022-11-14 05:16] GhostVaibhav commented on #352
I am excited to start working on the AGE project!

[2022-11-14 05:16] RC-002 commented on #355
Excited to start!

[2022-11-14 05:17] XeVile commented on #355
Ok got it!

[2022-11-14 05:17] Munmud commented on #355
Hi! this is good, excited to start on AGE project

[2022-11-14 05:17] maazzzzz commented on #355
acknowledged

[2022-11-14 05:17] maazzzzz commented on #352
acknowledged

[2022-11-14 05:17] intrigued-rishi commented on #352
Hi! looking forward to start working on the project.

[2022-11-14 05:18] XeVile commented on #352
Noted.

[2022-11-14 05:20] muneebkhan4 commented on #352
I am excited to start work.

[2022-11-14 05:20] muneebkhan4 commented on #355
I am excited to start work.

[2022-11-14 07:33] GhostVaibhav commented on #355
Excited to work on the project!

[2022-11-14 11:19] MatheusFarias03 commented on #355
Looking forward to getting started with the AGE project!

[2022-11-14 11:49] intrigued-rishi commented on #355
Hi! excited to start working on the AGE project

[2022-11-14 13:05] markgomer commented on #352
Hi! I'm eager to participate in this project!

[2022-11-14 13:07] markgomer commented on #355
Hello! I'm excited to start working with you all!

[2022-11-14 15:45] Pratikkapsime commented on #352
Hello everyone! excited to start working with the AGE project.

[2022-11-15 05:11] aked21 opened #356 "Task 1 - Create skeleton source"

[2022-11-15 05:12] yjy44 commented on #356
Sample Comment

[2022-11-15 05:32] aked21 opened #357 "Implement openCypher Function (Count)"

[2022-11-15 05:58] #357 closed

[2022-11-15 05:59] #356 closed

[2022-11-15 17:24] jrgemignani commented on #343
I was not aware that the SET commands implementation of the Cypher specification was incomplete. I will look into addressing this.

[2022-11-16 19:49] TropicalPenguin commented on #317
Continuing the discussion here so as not to clutter the PR.

I'm curious if these potential security holes are unique to AGE (because if not, it seems surprising that another platform intended for enterprise use would be willing to take such risks).

If it's a concern about a kind of injection attack: isn't that avoided by the constraint of enclosing these characters in backticks? (kinda like the

[2022-11-16 22:15] rafsun42 commented on #317
To address the issue regarding @TropicalPenguin's first point in the PR,

I researched and found a grammar specification at [opencypher.org](https://opencypher.org/resources/). It implements the syntax for labels this way:
[code]
Here, ID_Start, ID_Continue, Pc, Sc are unicode character classes whose range you can see [here](https://util.unicode.org/UnicodeJsps/list-unicodeset.jsp?a=[:ID_Start=Yes

[2022-11-17 20:07] jrgemignani commented on #315
Is this not explained in #43 ? At the end, it is stated how to do it.

[2022-11-18 08:10] booqoffsky commented on #315
The question is more about the functionality that was proposed in https://github.com/apache/age/issues/76#issuecomment-860228285

But considering the answer from #43 and the fact that the proposed functionality is not critical, am I right in assuming that it is not planned to be implemented now?

[2022-11-20 18:53] JavSCF commented on #290
To be assigned to the project.

[2022-11-20 18:58] JavSCF commented on #290
Are we trying something similar to this? Or did I understood it wrong?

https://neo4j.com/product/graphql-library/?utm_campaign=GraphQL+3.0.0&utm_content=UI&utm_medium=social&utm_source=LinkedIn&utm_tag=&utm_term=Image

https://neo4j.com/docs/graphql-manual/current/

[2022-11-21 09:09] Hyundong-Seo opened #359 "[Bitnine Tech Team] - It is not applied property index according to position of condition"
Hello, I'm Hyundong working in Bitnine, Korea.

When I execute SELECT clause with condition, It is not applied property index according to position of condition.
When the condition is located in WHERE clause, it doesn't work index scan, just full scan.
But when it is located in vertex, like photo, it works index scan.
![8e45aefe-37d1-4fa8-b9a5-cf7143cfdc0e](https://user-images.githubusercontent.co

[2022-11-21 09:31] pdpotter commented on #359
GIN indices are not usabale in the WHERE clause (see https://github.com/apache/age/issues/45#issuecomment-1121493128).

[2022-11-21 15:23] lloydsun opened #361 "Can not remove the label on a node"
**Describe the bug**
I have a label "Game" on a node, I wanna change it to "game", but I tried REMOVE, I got an error:

```syntax error at or near ":"```

**How are you accessing AGE (Command line, driver, etc.)?**
nodejs driver

I am using the official docker :latest

**What data setup do we need to do?**
[code]

**What is the necessary configuration info needed?**
- no

**What is the command tha

[2022-11-22 09:39] Hyundong-Seo commented on #359
@pdpotter
I tried the method in the link you sent, but the index is not applied.(#45)
[code]
[code]
[code]
Could you tell me how to execute it works in the WHERE clause as well?

[2022-11-22 12:25] pdpotter commented on #359
It is currently impossible to make it work in the WHERE clause.

I think there might b a small issue in the code in your previous comment to make the index work in the MATCH clause: I think
[code]
should be
[code]

[2022-11-22 16:20] sep2 opened #362 "Reduce docker image size with multi-stage build"
**Is your feature request related to a problem? Please describe.**
The docker image is too large compared to a postgres:11 image.

apache/age:latest   ---   801MB
postgres:11 --- 284MB

**Describe the solution you'd like**
The build tools and source files could be omitted from the final image.
Reduce the image size using multi-stage build as described here https://docs.docker.com/build/building/mu

[2022-11-22 16:31] sep2 commented on #300
For anyone interested, I had luck cross-building a linux/arm64 version of apache/age on linux/amd64. It should be possible doing so in a macbook with arm-based m1/m2 chips.

I'am following instructions here: https://docs.docker.com/build/building/multi-platform/

[2022-11-22 16:49] jrgemignani commented on #361
Currently, the REMOVE command cannot remove labels. Unlike Neo4j, AGE only supports 1 label name for any vertex or edge. So, removing a label would mean removing the vertex or edge.

Note to team: This may be something where we should consider removing a label name and setting it to the default label.

[2022-11-22 18:54] lloydsun commented on #361
Oh, I see. Thank you for the explanation!
Keep up the GREAT work :)

[2022-11-22 23:59] JoshInnis opened #363 "Allow an existing Postgres database to be converted into a graph database"
**Is your feature request related to a problem? Please describe.**
As a developer, I have an existing Postgres database that I wanted to use AGE with. However, I do not want to migrate my exiting schema to the AGE schema and alter all my processes to support the new data layout.

**Describe the solution you'd like**
I would like AGE to be able to handle alternative schema other than the one AGE cu

[2022-11-23 04:36] Hyundong-Seo commented on #359
Thank you for your reply.
I have one more question, how do I use conditions such as range search using an inequality sign or like search?

[2022-11-23 05:20] MuhammadTahaNaveed opened #364 "Equality of NULL in a list."
Hello everyone. I have a small query regarding **equality of null data type in a list**.

- In the documentation, it is written that `SELECT * FROM cypher('graph',$$RETURN null = null$$) AS (p agtype);` produces `null` and the concept behind that is explained in documentation.

![image](https://user-images.githubusercontent.com/85064039/203472995-5af6cded-6779-49c2-8653-c87553e418c7.png)

- So , a

[2022-11-23 08:39] Hyundong-Seo opened #365 "[Bitnine Tech] - When it executes VLE(Variable Length Edge) query, why it occurs an error just the first try?"
![vle_execute_error](https://user-images.githubusercontent.com/77366371/203502593-662fdcb1-6e42-4f69-9b67-6bf9fbaac829.JPG)
The first time I try the VLE query, I always get an insert_vertex_edge error.
A second attempt at the same query executes the query.
[code]

[2022-11-23 09:18] sep2 opened #366 "Replace properties is not supported"
**Describe the bug**
The following query will failed:
[code]
while $properties is a map.

The following error occured:
`
error: SET clause expects a variable name
`

This is possible with neo4j https://neo4j.com/docs/cypher-manual/current/clauses/set/#set-replace-properties-using-map

**How are you accessing AGE (Command line, driver, etc.)?**
nodejs pg.

**Environment (please complete the followi

[2022-11-23 18:05] jrgemignani commented on #365
Thank you for your question!

For any issues like this, please provide the following information to allow us to look into it -

1. The version of PostgreSQL you are using.
2. The version of AGE you are using.
3. The OS that you are using.
4. A simple explanation of the dataset being used.
5. A small sample of the dataset that causes the issue so that we can reproduce it.
6. An example showing the

[2022-11-23 20:37] jrgemignani commented on #364
This is due to a design decision in the very beginning of AGE -

There is comparability, which is how something compares, equates, to something else. Then there is orderability, which is how something is ordered, or sorted, relative to something else. They are very similar, but not the same. Unfortunately, you can only have one of these used for operations in AGE.

Sort of,...

It was decided that

[2022-11-23 20:55] jrgemignani commented on #351
Hmmmm,...

[code]

We will need to look into this.

[2022-11-24 02:02] MuhammadTahaNaveed commented on #364
Ok, now I understand. Thanks for the detailed answer.

[2022-11-24 02:03] #364 closed

[2022-11-24 05:30] Hyundong-Seo commented on #365
The information tested is as follows.
1. PG11.17
2. AGE - 1.1.0 / commit version - 4e9110d0b88812b08c316ef7df2ff07f98e3a066
3. Ubuntu 20.04.5 LTS
4. The start vertex is about COMMENT, the end vertex is about PERSON and the edge is about simple relation between comment and person.
5. I don't know whether you want to see a dataset like this or other type.
Edges greater than 2 depths may or may not e

[2022-11-24 09:09] MuhammadTahaNaveed opened #368 "NULL as a boolean type."
I have a question about `typecasting NULL as boolean`.

- In the documentation it is written that you can typecast null to boolean type null `explicitly using NULL::boolean` typecasting.
![image](https://user-images.githubusercontent.com/85064039/203741910-fe035e69-257f-47bf-8a69-d6335d981fcb.png)

- But when I tried doing that, it generated error saying `typecast boolean not supported  `.
![image

[2022-11-26 01:12] TropicalPenguin opened #369 "Crash on Edge MERGE after Edge MATCH"
**Describe the bug**
Usually, the MERGE operation works. But when a merge operation follows a MATCH clause that includes an edge, the server terminates.

**How are you accessing AGE (Command line, driver, etc.)?**
- Command line
- Golang driver

**What data setup do we need to do?**
[code]

**What is the necessary configuration info needed?**
- N/A

**What is the command that caused the error?**
[

[2022-11-27 12:18] lukehinds commented on #262
@JoshInnis I can see unit tests are in now: https://github.com/Dzordzu/rust-apache-age/tree/master/tests

What is required for:

* Security verification and documentation

[2022-11-28 05:35] Zahid07 commented on #353
Hi, Nice to meet you all

[2022-11-28 05:35] Hunaid2000 commented on #353
Hi everyone. I'm excited to work with you all.

[2022-11-28 05:39] fatimafatimaprogrammer commented on #353
Hello everyone! I'm excited and looking forward to start working on the project.

[2022-11-28 05:41] FahadZaheerfzr commented on #353
Hey guys! Looking forward to work with you all

[2022-11-28 05:48] Zainab-Saad commented on #353
Hey everyone, I am looking forward to work with you all

[2022-11-28 05:50] KamleshKumar427 commented on #353
Hello everyone!! Very excited to start working with you.

[2022-11-28 06:21] TropicalPenguin commented on #343
Hi @jrgemignani; in case it's of interest to anyone on this project, I've opened bounties on this (https://app.bountysource.com/issues/114119785-cypher-set-clause-for-copying-all-properties) issue, and also on #369. https://app.bountysource.com/issues/114119874-crash-on-edge-merge-after-edge-match

[2022-11-28 06:25] TropicalPenguin commented on #369
Bounty opened: https://app.bountysource.com/issues/114119874-crash-on-edge-merge-after-edge-match

[2022-11-28 06:39] chughes87 opened #370 "Ruby driver"
**Is your feature request related to a problem? Please describe.**
My company would like to utilize Apache AGE. However, we use Ruby as our primary programming language. Consequently, we will need a driver for Ruby to be implemented.

**Describe the solution you'd like**
A Ruby driver.

**Describe alternatives you've considered**
Without this, we may implement our projects with regular relational

[2022-11-28 08:33] lukehinds opened #371 "Go Driver: 1.16 is end of life"
The go driver is pinned to an end of life release of go 1.16 ((16 Feb 2021).

I recommend we up to 1.19 and then test back to 1.17 in CI (push for CI testing is incoming).

[2022-11-28 08:36] moeed-k commented on #353
Hello, I'm super excited to work on this!

[2022-11-28 17:12] imranzaheer612 commented on #353
Hi everyone! Happy to be a part of this team. Let's go!

[2022-11-29 00:22] rafsun42 commented on #339
@jrgemignani

At `cypher_clause.c:3733`, the following function is used to retrieve a node's expr:
[code]
At `cypher_clause.c:4295`, the following function is used for the same purpose:
[code]

Both of them takes almost similar argument, could you tell me the difference between them?

[2022-11-29 17:22] aked21 opened #374 "Does Apache AGE support label inheritance?"

[2022-11-29 17:46] JoshInnis commented on #374
We do not currently support label inheritance, however it is on the roadmap to be worked on soon.

[2022-11-29 17:56] JoshInnis commented on #374
Label inheritance utilizes the table inheritance feature that Postgres provides. https://www.postgresql.org/docs/11/tutorial-inheritance.html

We already use inheritance, vertices and edges without labels go into a top level table and all vertices and edges with labels are placed in tables. So when you do MATCH(n) with no label the way AGE is written the tables that inherit from the top table with

[2022-11-29 18:21] jasperblues commented on #374
The way I see it, as long as a vertex can be assigned multiple labels,eg `City:Capital` we can match on the base (City) or specifically match Capitals. Then if we're interested in the type, we can return the labels.

What benefit does inheritance bring on top of this?

[2022-11-29 18:47] jrgemignani commented on #374
@jasperblues In AGE, you cannot assign multiple labels - it is either default, unlabeled, or has a specific label. But, they can't be in City and Capital, fx.

[2022-11-29 19:11] jrgemignani commented on #368
There is no support in AGE for typecasting `::` anything as a Boolean.

Can you link where in our documentation it states this?

[2022-11-29 19:47] jrgemignani commented on #315
I think there is confusion, likely on both sides, of what a parameter is and how it is used.

The cypher function can take **PG parameters** as the 3rd argument, like you gave. However, a **PG parameter** isn't the same as a constant value, passed as a variable, which is what you are using.

Note the error messages -

[code]

But, it looks like what you are asking is more like the following, which

[2022-11-29 20:26] jrgemignani commented on #368
@MuhammadTahaNaveed Thank you!

Our team will discuss if this should be added or if it should be removed from the documentation.

[2022-11-29 22:44] jrgemignani commented on #339
@rafsun42 If you look at what they look through, you'll see that they are not the same.

**colNameToVar** is for finding a column name and creating a variable from it.
`foreach(l, pstate->p_namespace)`

**find_variable** is for finding an entity and returning it. Although, it should probably have a more descriptive name.
`foreach (lc, cpstate->entities)`

[2022-11-29 23:26] jrgemignani commented on #365
Does the command error if you don't use EXPLAIN? Meaning, on the first time, without using EXPLAIN?

[2022-11-30 02:10] jrgemignani commented on #369
Just curious, why are you matching something that is extraneous - **()-[a:foo]->()** to the merge? Because, if you remove that part, the match works correctly.

[code]

That aside, there appears to be an edge case that was overlooked with the combination of the two. That needs to be addressed and resolved.

[2022-11-30 05:03] dehowef commented on #368
I have removed the misleading segment from the documentation.

[2022-11-30 05:03] #368 closed

[2022-11-30 05:22] TropicalPenguin commented on #369
The query here was simplified to highlight what seems to be the part of a larger expression that's causing problems for me. In that larger query, there are additional SET clauses on the matched edge, in addition to the merge. Hopefully once this is fixed, I suspect the larger query will just work.

[2022-11-30 07:16] Hyundong-Seo commented on #365
@jrgemignani I get the same error, even if I don't use EXPLAIN

[2022-11-30 09:51] booqoffsky commented on #315
Thanks for the detailed explanation!

There was an idea that it would be possible to slightly reduce the amount of programming to execute a query with parameters calculated in the code (not to do PREPARE first and then EXECUTE).

However, after trying psycopg3 (Postgresql adapter for Python), I found for myself that such code is enough to correctly execute the request:

[code]

So I think my quest

[2022-11-30 09:51] #315 closed

[2022-11-30 18:07] jrgemignani commented on #315
I'm glad you found an acceptable solution. If this changes, or if others find value in allowing the 3rd parameter to allow an object, instead of a parameter that is an object, we could look into allowing it.

[2022-11-30 18:29] jrgemignani commented on #369
@TropicalPenguin MERGE & SET have generally been problematic to implement, especially when used in conjunction with other commands. There are a lot of reasons why this is the case.

As both are update commands, they are generally tricky to implement properly - managing transaction ids, command ids, etc. Additionally, both commands have to integrate correctly into the transaction system which works

[2022-11-30 19:49] jrgemignani commented on #317
@TropicalPenguin Ty for pointing me back here. Too many places to look for this, cry.
@rafsun42 yes, and yes. We can always adjust the rules going forward if necessary.